# -----------------------------------------------------------------
# .gitignore
# -----------------------------------------------------------------

# ignore all .pyc files
*.pyc

# ignore log files
*.log