{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
    li {
        text-align: center;
    }
</style>
<div style="height:20px;"></div>
<div class="container-fluid" style="margin: auto;overflow-x: hidden; max-width: 1500px; color:black;">
    <br>
    {% if messages %}
      {% for message in messages %}
         {% if message.tags == "error" %}
         <div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
         {% else %}
         <div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
         {% endif %}
      {% endfor %}
   {% endif %}
    <div class="row">
        <div class="col-md-3">
            <!-- Tabs nav -->
            <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link mb-3 p-3 shadow" id='id-nav-tab-general' href="{% url 'accounts:profile-general-settings' profile='tutor' %}" aria-selected="true">
                    <i class="fas fa-user mr-2"></i>
                    <span class="font-weight-bold small text-uppercase">General</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id='id-nav-tab-biography' href="{% url 'accounts:tutor-biography-settings' %}" aria-selected="true">
                    <i class="fa fa-book mr-2"></i>
                    <span class="font-weight-bold small text-uppercase">Biography</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id='id-nav-tab-security' href="{% url 'accounts:profile-security-settings' profile='tutor' %}" aria-selected="true">
                    <i class="fas fa-key mr-2"></i>
                    <span class="font-weight-bold small text-uppercase">Security</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id='id-nav-tab-notification' href="{% url 'accounts:tutor-notification-settings' %}" aria-selected="true">
                    <i class="fas fa-bell-slash mr-2"></i>
                    <span class="font-weight-bold small text-uppercase">Notification</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" id='id-nav-tab-account' href="{% url 'accounts:profile-account-settings' profile='tutor' %}" aria-selected="true">
                    <i class="fas fa-trash-alt mr-2"></i>
                    <span class="font-weight-bold small text-uppercase">Account</span>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                {% block settingsContent %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
        {
            var activeTabname = window.location.href.split('/').slice(-1)[0];
            $('#id-nav-tab-'+activeTabname).addClass('active');
        }
    );
</script>

{% endblock %}