{% extends "accounts/tutor/baseTutorSettings.html" %}
{% load static %}
{% block settingsContent %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorProfileEditPage.css' %}"/>
<div class="card">
	<div class="card-body tab-content" id="biography">
		<h6>BIOGRAPHY</h6>
		<hr>
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
				<h4 for="summary">Summary</h4>
				<input type="text" class="form-control" id="summary" name="summary" value="{{ profile.summary }}" required>
			</div>
			<hr>
			<div class="form-group">
				<h4 for="about">About</h4>
				<textarea class="form-control autosize" id="about" name="about" rows="15" required>{{ profile.about }}</textarea>
			</div>
			<hr>
			<div class="form-group" id="education">
				<h4 for="education" style="display:inline;">Education</h4>
				<div id="listOfEducation">
					{% for e in request.user.education.all %}
					<div class="row">
						<div class="col-md-3 panel-pad-10">
							<div class="card">
								<input type="text" name="schoolName" class="form-control" placeholder="School Name" value="{{e.schoolName}}"
									data-toggle="tooltip" data-placement="top" title="School Name" required>
							</div>
						</div>
						<div class="col-md-3 panel-pad-10">
							<div class="card">
								<input type="text" name="qualification" class="form-control" placeholder="Qualification &amp; Grade(s)" value="{{e.qualification}}"
									data-toggle="tooltip" data-placement="top" title="Qualification &amp; Grade(s)" required>
							</div>
						</div>
						<div class="col-md-3 panel-pad-10">
							<div class="card">
								<input type="date" name="startDate" class="form-control" placeholder="Attended From" value="{{e.startDate|date:'Y-m-d'}}"
									data-toggle="tooltip" data-placement="top" title="Attenderd from" required>
							</div>
						</div>
						<div class="col-md-3 panel-pad-10">
							<div class="card">
								<input type="date" name="endDate" class="form-control" placeholder="Attended To" value="{{e.endDate|date:'Y-m-d'}}"
									data-toggle="tooltip" data-placement="top" title="Attenderd To" required>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<button type="button" class="btn btn-primary btn-sm" onclick="addEducationRow();">Add another</button>
			</div>
			<hr>
			<div class="form-group">
				<h4 for="availability">Availability</h4>
				<table class="table" id="availabilitySchedule" style="width: auto; margin-left: -10px;">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col" style="padding-left:0px">Morning</th>
							<th scope="col" style="padding-left:0px">Afternoon</th>
							<th scope="col" style="padding-left:0px">Evening</th>
						</tr>
					</thead>
					<tbody>
						{% for key, value in profile.user.availability.getAvailability.items %}
						<tr>
							<th style="vertical-align: middle; padding-left:0px" scope="row">{{key|title}}</th>
							<td style="text-align: center; padding-left:0px">
								<div class="card_2">
									<div class="checkbox-container circular-container">
										<label class="checkbox-label">
										<input type="checkbox" name="availabilityChoices" value="{{key}}Morning"
										{% if value.morning %} checked {% endif %}>
										<span class="checkbox-custom circular"></span>
										</label>
									</div>
								</div>
							</td>
							<td style="text-align: center; padding-left:0px">
								<div class="card_2">
									<div class="checkbox-container circular-container">
										<label class="checkbox-label">
										<input type="checkbox" name="availabilityChoices" value="{{key}}Afternoon"
										{% if value.afternoon %} checked {% endif %}>
										<span class="checkbox-custom circular"></span>
										</label>
									</div>
								</div>
							</td>
							<td style="text-align: center; padding-left:0px">
								<div class="card_2">
									<div class="checkbox-container circular-container">
										<label class="checkbox-label">
										<input type="checkbox" name="availabilityChoices" value="{{key}}Evening"
										{% if value.evening %} checked {% endif %}>
										<span class="checkbox-custom circular"></span>
										</label>
									</div>
								</div>
							</td>
							{% endfor %}
					</tbody>
				</table>
			</div>
			<hr>
			<div class="form-group">
				<h2 for="subjects">Subjects</h2>
				<select class="multiple-subjects form-control" name="subjects" multiple="multiple" required>
					{% for subject in profile.getSubjectsAsList %}
					<option selected="selected">{{subject}}</option>
					{% endfor %}
				</select>
			</div>
			<hr>
         <div class="form-group">
            <h4 for="chargeRate">Charge Rate (£)</h2>
            <input class="form-control" type="number" required name="chargeRate" min="0" value="{{profile.chargeRate}}" step=".01">
         </div>
			<hr>
            <div class="form-group">
               <h4 for="subjects">Features</h2>
               <select class="multiple-subjects form-control" name="features" multiple="multiple">
                  {% for t in tutorFeatureComponent %}
						{% if t in profile.features.all %}
							<option value="{{t.code}}" selected>{{t}}</option>
						{% else %}
							<option value="{{t.code}}">{{t}}</option>
						{% endif %}
						{% endfor %}
               </select>
            </div>
			<hr>
			<div class="form-group">
				<h2 for="teachingLevel">Teaching Level</h2>
				<p class="small">Who do you want to mostly teach?</p>
				<select class="multiple-subjects form-control" name="teachingLevels" multiple="multiple" required>
					{% for t in educationLevelComponent %}
						{% if t in profile.teachingLevels.all %}
							<option value="{{t.code}}" selected>{{t}}</option>
						{% else %}
							<option value="{{t.code}}">{{t}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="form-group" id="outer" style="width:100%; text-align: center;">
				<div class="inner" style="display: inline-block;">
					<button type="submit" class="btn btn-success">Save</button>
				</div>
				&#xA0;
				<div class="inner" style="display: inline-block;">
					<button type="reset" class="btn btn-secondary">Reset</button>
				</div>
				&#xA0;
			</div>
		</form>
	</div>
</div>
<script src="/static/plugins/select2/js/select2.full.min.js"></script>
<script type="text/javascript">

	$(document).ready(function()
      {
         $(".multiple-subjects").select2(
            {
               tags: true,
               width: '100%',
            }
         );

         $(".select option").each(function() {
			  $(this).siblings('[value="'+ this.value +'"]').remove();
			});
      }
   );

	addRemoveEducationBtn();
	
	function addEducationRow()
	{
		var newRow = `
         <div class="row">
            <div class="col-md-3 panel-pad-10">
               <div class="card">
                  <input type="text" name="schoolName" class="form-control" placeholder="School Name"
                  data-toggle="tooltip" data-placement="top" title="School Name" required>
               </div>
            </div>
            <div class="col-md-3 panel-pad-10">
               <div class="card">
                  <input type="text" name="qualification" class="form-control" placeholder="Qualification &amp; Grade(s)"
                  data-toggle="tooltip" data-placement="top" title="Qualification &amp; Grade(s)" required>
               </div>
            </div>
            <div class="col-md-3 panel-pad-10">
               <div class="card">
                  <input type="date" name="startDate" class="form-control" placeholder="Attended From"
                  data-toggle="tooltip" data-placement="top" title="Attenderd from" required>
               </div>
            </div>
            <div class="col-md-3 panel-pad-10">
               <div class="card">
                  <input type="date" name="endDate" class="form-control" placeholder="Attended To"
                  data-toggle="tooltip" data-placement="top" title="Attenderd To" required>
               </div>
            </div>
         </div>`;

		$('#listOfEducation').append(newRow);

      addRemoveEducationBtn();
	}
	
	function removeEducationRow()
	{
		$('#listOfEducation').children().last().remove();

      addRemoveEducationBtn();
	}

	function addRemoveEducationBtn()
   {
      if ( $('#listOfEducation').children().length == 0 )
         $('#removeRow').remove();
      else
         if ( $('#removeRow').length == 0 )
            $('#education').append('<button type="button" id="removeRow" class="btn btn-danger btn-sm" onclick="removeEducationRow();">Remove Row</button>'); 
   }

</script>
{% endblock %}