{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forumMainPage.css' %}"/>
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="color: black;">
			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;">Reply to the comment below.</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<textarea class="form-control" id="childCommentText" name="childCommentText" required></textarea>
				</div>
				<input type="text" name="masterCommentId" id="masterCommentId" hidden/>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success" onclick="createChildForumComment();">Reply</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" style="margin: auto;overflow-x: hidden; color: black; max-width: 1500px;">
	<div class="gutters-sm">
		<div style="height:70px;"></div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-12 col-md-8">
					<div id="forum-container"></div>
					<div class="forum-comment-container">
						<div style="height:20px;"></div>
						{% if request.user.is_authenticated %}
						<textarea class="form-control border p-4" id="textarea-id-forum-comment" placeholder="write a comment..." rows="3"></textarea>
						<br>
						<div class="pull-right">
							<button type="button" class="btn btn-outline-primary btn-sm" onclick="createForumComment();">Post Comment</button>
						</div>
						{% else %}
						<div class="alert alert-warning" role="alert"> Log in or sign up to leave a comment
							<div class="pull-right">
								<a class="btn btn-primary btn-sm" href="{% url 'accounts:login' %}" role="button">Login</a>
								<a class="btn btn-secondary btn-sm" href="{% url 'accounts:register' %}" role="button">Signup</a>
							</div>
						</div>
						{% endif %}
					</div>
					<div style="height:20px;"></div>
					<div id="div-id-forum-master-comment"></div>
				</div>
				<div class="col">
					<div class="card card-header bg-secondary text-white">About this Community</div>
					<div class="card card-body">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col">{{community.description}}</div>
								</div>
								<div class="row">
									<div class="col"><hr></div>
								</div>
								<div class="row">
									<div class="col">Created at {{community.createdAt|date}}</div>
								</div>
								<div class="row">
									<div class="col">
										<div id="div-id-join-leave-community-button">
											{% if inCommunity %}
											<button type="button" class="btn btn-danger" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="leaveCommunity();">Leave</button>
											{% else %}
											<button type="button" class="btn btn-primary" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="joinCommunity();">Join</button>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					<div class="col-xs-12" style="height:30px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function ()
    {
        renderForumComponent({{forum|safe}});
        renderForumComments({{forumComments|safe}});
    });

    function verifyLogin()
	{
		{% if not user.is_authenticated %}
			window.location.href = "{% url 'accounts:login' %}";
		{% endif %}
	}

	function updateReplyModal(masterCommentId)
	{
		document.getElementById('masterCommentId').value = masterCommentId;
	}

    function renderForumComponent(list)
    {
        for (var i = 0; i<list.length; i++)
        {
            var imageTab = null;
            if (list[i].image)
            {
                imageTab = '<img class="mx-auto d-block" src="../../../../media/'+list[i].image+'" style="max-width:100%;max-height:420px;">';
            }
            else
            {
                imageTab = '<p>'+list[i].description+'</p>';
            }

            if (list[i].isWatching)
            {
                var forumWatchContainer = `<span onclick="watch_unwatch_forum(`+list[i].communityUrl+`,`+list[i].id+`);" data-toggle="tooltip" data-placement="top" title="You are watching this issue. Click to stop watching this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+list[i].watchingCount+`) Unwatch</span>`;
            }
            else
            {
                var forumWatchContainer = `<span onclick="watch_unwatch_forum(`+list[i].communityUrl+`,`+list[i].id+`);" data-toggle="tooltip" data-placement="top" title="You are not watching this issue. Click to watch this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+list[i].watchingCount+`) Watch</span>`;
            }


            editForum = '';
            if (list[i].canEdit)
                editForum = "<a href='#'><i class='far fa-edit' style='font-size:15px'></i> Edit</a> &nbsp;";

            var newForum = `
            <div class="row border border-secondary QMwdLfHioF" id="container_`+list[i].id+`" communityurl='`+list[i].communityUrl+`' forumurl='`+list[i].forumUrl+`'>
                <div class="col-md-auto text-center border-right border-secondary" style="padding-bottom: 10px; padding-top: 10px;" id="buttons_in_sidebar">
                    <button type="button" class="btn btn-success" onclick="upvoteForum();"><i class='far fa-thumbs-up' style='font-size:15px'></i></button><br>
                    <span class='forum-vote-counter'>`+list[i].votes+`</span>
                    <br><button type="button" class="btn btn-danger" onclick="downvoteForum();"><i class='far fa-thumbs-down' style='font-size:15px'></i></button>
                </div>
                <div class="col" style="padding-bottom: 10px; padding-top: 10px;">
                    <div style="max-height: 500px;text-overflow: ellipsis;overflow: hidden;">
                        <span class="text-secondary">Post by `+list[i].creatorFullName+` at `+list[i].date+`</span>
                        <h3>`+list[i].title+`</h3>
                        `+imageTab+`
                    </div>
                    <div>
                        <span id="bigscreen-footer">
                            <a href="#"><i class='far fa-comment-alt' style='font-size:15px'></i> `+list[i].commentCount+` Comments</a> &nbsp;
                            <a href="#"><i class='fas fa-share' style='font-size:15px'></i> Share</a> &nbsp;
                            <a href="#"><i class='fas fa-flag' style='font-size:15px'></i> Report</a> &nbsp;
                            <a href="#" onclick='return false;' id="forum_watcher`+list[i].id+`">`+forumWatchContainer+`</a> &nbsp; `+editForum+`
                        </span>
                        <span id="smallscreen-footer">
                            <button type="button" class="btn btn-success" style="padding: 2px 2px;" onclick="upvoteForum();">
                                <i class='far fa-thumbs-up' style='font-size:15px;'></i>
                            </button>
                            <span class='forum-vote-counter'>`+list[i].votes+`</span>
                            <button type="button" class="btn btn-danger" style="padding: 2px 2px;" onclick="downvoteForum();">
                                <i class='far fa-thumbs-down' style='font-size:15px;'></i>
                            </button>
                            <a href="#"><i class='far fa-comment-alt' style='font-size:15px'></i> `+list[i].commentCount+` Comments</a> &nbsp;

                            <div class="dropdown" style="display:inline-block;">
                                <a class="btn-floating btn-lg" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>
                                <br>
                                <div class="dropdown-menu dropdown-primary">
                                    <a href="#"><i class='fas fa-share' style='font-size:15px'></i> Share</a> &nbsp;<br>
                                    <a href="#"><i class='fas fa-flag' style='font-size:15px'></i> Report</a> &nbsp;<br>
                                    <a href="#" onclick='return false;' id="forum_watcher`+list[i].id+`">`+forumWatchContainer+`</a> &nbsp;<br>
                                    `+editForum+`
                                </div>
                            </div>

                        </span>
                    </div>
                </div>
            </div>
            <div style="height:20px;"></div>`;

            $('#forum-container').append(newForum);
        }
    }

    function joinCommunity()
	{
		verifyLogin();

		$.ajax(
		{
			data:
			{
				'functionality': 'joinCommunity'
			},
			dataType: 'json',
			success: function (response)
			{
				if (response.statusCode == 200)
				{
					$('#div-id-join-leave-community-button').empty();
					$("#div-id-join-leave-community-button").append('<button type="button" class="btn btn-danger" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="leaveCommunity();">Leave</button>');
				}
			}
		});

	}

	function leaveCommunity()
	{
		$.ajax(
		{
			data:
			{
				'functionality': 'leaveCommunity'
			},
			dataType: 'json',
			success: function (response)
			{
				if (response.statusCode == 200)
				{
					$('#div-id-join-leave-community-button').empty();
					$("#div-id-join-leave-community-button").append('<button type="button" class="btn btn-primary" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="joinCommunity();">Join</button>');
				}
			}
		});
	}

	function upvoteForum()
	{
		$.ajax(
		{
			data:
			{
				'functionality': 'upvoteForum'
			},
			dataType: 'json',
			success: function (response)
			{
				if(response.statusCode == 200)
				{
					var votes = eval(response.votes);
					$('.forum-vote-counter').text(votes);

				}
			}
		});
	}

	function downvoteForum()
	{
		$.ajax(
		{
			data:
			{
				'functionality': 'downvoteForum'
			},
			dataType: 'json',
			success: function (response)
			{
				if(response.statusCode == 200)
				{
					var votes = eval(response.votes);
					$('.forum-vote-counter').text(votes);

				}
			}
		});
	}

	function createForumComment()
	{
		var comment = $("#textarea-id-forum-comment").val();
		comment = comment.trim();

		if (comment && !comment.trim() || comment.length==0)
		{
			alert("Enter a comment!");
			return;
		}

		$("#textarea-id-forum-comment").val("");

		$.ajax(
		{
			data: {
				'functionality': 'createForumComment',
				'comment': comment
			},
			dataType: 'json',
			success: function (response)
			{
				if (response.statusCode == 200)
				{
					renderForumComments(response.forum);
				}
			}
		});
	}

	function createChildForumComment()
	{
		var comment = $('textarea#childCommentText').val();
		comment = comment.trim();

		if (comment && !comment.trim() || comment.length==0)
		{
			alert("Enter a reply!");
			return;
		}

		$("#replyModal").modal('hide');
		$("textarea#childCommentText").val("");

		$.ajax(
		{
			data:
			{
				'functionality': 'createForumComment',
				'comment': comment,
				'masterCommentId': $('#masterCommentId').val(),
			},
			dataType: 'json',
			success: function (response)
			{
				if (response.statusCode == 200)
				{
					renderForumComments(response.forum);
				}
			}
		});
	}

	function renderForumComments(list)
	{
		if (list.length==0)
			return;

		var unidentifiedComments = [];

		for (var i = 0; i<list.length; i++)
		{

			var editDeleteDropdown = '';
			if (list[i].canEdit)
			{
				editDeleteDropdown = `
					<a href="#" onclick="edit_forum_comment_text_area(`+list[i].id+`);"><i class='far fa-edit' style='font-size:15px'></i> Edit</a>
					&nbsp;
					<a href="#" onclick="deleteForumComment(`+list[i].id+`);return false;"><i class='far fa-trash-alt' style='font-size:15px'></i> Delete</a>`;
			}

			var forumCommentComponent = `
			<div class="div-id-forum-comment-component`+list[i].id+`">
				<div class="container">
					<div class="row m-0">
						<div class="">
							<a class="text-decoration-none" href="#">
								<img class="" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="25" height="25" alt="...">
							</a>
						</div>
						<div class="flex-grow-1 pl-2">
							<a class="text-decoration-none" href="#">
								<span class="text-capitalize mb-0">`+list[i].creatorFullName+`</span>
								<span class="small text-secondary m-0 mt-1" id="date_and_edited_msg_`+list[i].id+`">1 day ago {% if f.edited %}(edited){% endif %}</span>
							</a>
						</div>
					</div>
					<div class="">
						<p class="my-2" id="forum_comment_text_`+list[i].id+`">
							`+list[i].comment+`
						</p>
					</div>
					<footer>
						<span id="comment_like_id_`+list[i].id+`" type="button" class="btn btn-default btn-sm" onclick="likeComment(`+list[i].id+`)">
							<i class='far fa-thumbs-up' style='font-size:15px'></i> (`+list[i].likeCount+`)
						</span>
						<span id="comment_dislike_id_`+list[i].id+`" type="button" class="btn btn-default btn-sm" onclick="dislikeComment(`+list[i].id+`)">
							<i class='far fa-thumbs-down' style='font-size:15px'></i> (`+list[i].dislikeCount+`)
						</span>
						&nbsp;
						<a href="#"  data-toggle="modal" data-target="#replyModal" onclick="updateReplyModal(`+list[i].id+`);return false;"><i class='far fa-comment-alt' style='font-size:15px'></i> Reply</a>
						&nbsp;
						`+editDeleteDropdown+`
					</footer>
					<hr>
					<div class="div-class-child-comments-container`+list[i].id+`"></div>
				</div>
			</div>`;

			if(!list[i].masterCommentId)
			{
				// master comment. reply field is null.
				$('#div-id-forum-master-comment').prepend( forumCommentComponent );
			}
			else
			{
				// this comment does have a master comment. Needs to be under appropriate comment object.
				if( $('.div-class-child-comments-container'+list[i].masterCommentId)[0] )
					$('.div-class-child-comments-container'+list[i].masterCommentId).append( forumCommentComponent );
				else
					unidentifiedComments.push(list[i]);
			}
		}

		return renderForumComments(unidentifiedComments);
	}

	function likeComment(commentId)
	{
		verifyLogin();

		$.ajax(
		{
			data:
			{
				'id': commentId,
				'functionality': 'likeComment'
			},
			dataType: 'json',
			success: function (response)
			{
				if(response.statusCode == 200)
				{
					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ response.likeCount +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ response.dislikeCount +')');
				}

				if(response.statusCode == 404)
				{
					Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
				}
			}
		});
	}

	function dislikeComment(commentId)
	{
		verifyLogin();

		$.ajax(
		{
			data:
			{
				'id': commentId,
				'functionality': 'dislikeComment'
			},
			dataType: 'json',
			success: function (response)
			{
				if(response.statusCode == 200)
				{
					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ response.likeCount +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ response.dislikeCount +')');
				}

				if(response.statusCode == 404)
				{
					Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
				}
			}
		});
	}

	function deleteForumComment(commentId)
	{
		if(!confirm('Are you sure you want to delete it?'))
			return;

		$.ajax(
		{
			data:
			{
				'functionality': 'deleteForumComment',
				'id': commentId
			},
			dataType: 'json',
			success: function (response)
			{
				if (response.statusCode == 200 || response.statusCode == 404)
				{
					location.reload();
				}
			}
		});
	}


	// --------------------------------------------------------------------------- //

	// --------------------------------------------------------------------------- //


	

	function watchers(is_watching, watchers_count) {
		if (is_watching)
			var forum_watch_text = `<span onclick="watch_unwatch_forum();" data-toggle="tooltip" data-placement="top" title="You are watching this issue. Click to stop watching this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+watchers_count+`) Unwatch</span>`;
		else
			var forum_watch_text = `<span onclick="watch_unwatch_forum();" data-toggle="tooltip" data-placement="top" title="You are not watching this issue. Click to watch this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+watchers_count+`) Watch</span>`;

        $('a#forum_watcher').html(forum_watch_text);
    }

    function watch_unwatch_forum() {
    	$.ajax({
            data: {
                'functionality': 'watch_unwatch_forum'
            },
            dataType: 'json',
            success: function (response) {
                if (response.statusCode == 200) {
                    var watchers_count = response.watch_count;
                    var is_watching = response.is_watching;
                    watchers(is_watching, watchers_count);

                } else if (response.statusCode == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            }
            }
        });
    }
</script>
{% endblock %}