{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	.ui-w-80{width:100px!important;height:auto}
	#buttons_in_footer{display: none;}
	@media (min-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 75%;
		}
	}

	@media (min-width: 972px) and (max-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
	}

	@media (min-width: 700px) and (max-width: 959px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
	}

	@media (max-width: 767px) {
		#buttons_in_sidebar{display:none;}
		#buttons_in_footer{display:inline;}
	}
</style>
<div>
	<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="color: black;">
			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;">Reply to the comment below.</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<div class="form-group">
						<textarea class="form-control" id="reply_text" name="reply_text" required></textarea>
					</div>
					<input type="text" name="master_comment_id" id="master_comment_id" hidden/>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-success" onclick="reply_to_comment();">Reply</button>
					</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="wrapper" style="margin: auto;overflow-x: hidden; color: black;">
	<div class="gutters-sm">
		<div style="height:70px;"></div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-12 col-md-8" id="forum_container">
					<div class="row" id="container_{{forum.id}}">
						<div class="col-md-auto text-center" style="padding-bottom: 10px; padding-top: 10px;" id="buttons_in_sidebar">
							<button type="button" class="btn btn-success" onclick="upvote_forum('{{forum.id}}');"><i class='far fa-thumbs-up' style='font-size:15px'></i></button><br>
							<span class='forum_vote_{{forum.id}}'></span>
							<br><button type="button" class="btn btn-danger" onclick="downvote_forum('{{forum.id}}');"><i class='far fa-thumbs-down' style='font-size:15px'></i></button>
						</div>
						<div class="col" style="padding-bottom: 10px; padding-top: 10px;">
							<div style="text-overflow: ellipsis;overflow: hidden;">
								<span class="text-secondary"><a href="{% url 'forum:communitypage' forum.community.pk %}">c/{{forum.community.community_title}}</a> Post by {{forum.creator.get_full_name}} at {{forum.created_at}}</span>
								<h3>{{forum.forum_title}}</h3>
								{% if forum.forum_image %}
								<img class="mx-auto d-block" src="{{ forum.forum_image.url }}" style="max-width:100%;max-height:420px;">
								<!-- change max-height to auto if problem persists -->
								{% else %}
								<p>{{forum.forum_description|linebreaksbr}}</p>
								{% endif %}
							</div>
							<div>
								<a href="#"><i class='far fa-comment-alt' style='font-size:15px'></i> {{forum.forumcomment_set.all|length}} Comments</a>
								&nbsp;
								<a href="#"><i class='fas fa-share' style='font-size:15px'></i> Share</a>
								&nbsp;
								<a href="#"><i class='fas fa-flag' style='font-size:15px'></i> Report</a>
								&nbsp;
								<span id="buttons_in_footer">
									<button type="button" class="btn btn-success" style="padding: 2px 2px;" onclick="upvote_forum('{{forum.id}}');"><i class='far fa-thumbs-up' style='font-size:15px;'></i></button>
									<span class='forum_vote_{{forum.id}}'></span>
									<button type="button" class="btn btn-danger" style="padding: 2px 2px;" onclick="downvote_forum('{{forum.id}}');"><i class='far fa-thumbs-down' style='font-size:15px;'></i></button>
								</span>
							</div>
						</div>
						<div class="container">
							<div style="height:20px;"></div>
							{% if request.user.is_authenticated %}
							<textarea class="form-control border p-4" id="comment_box" placeholder="write a comment..." rows="3"></textarea>
							<br>
							<div class="pull-right">
								<button type="button" class="btn btn-outline-primary btn-sm" onclick="post_comment();">Post Comment</button>
							</div>
							{% else %}
							<div class="alert alert-warning" role="alert"> Log in or sign up to leave a comment
								<div class="pull-right">
									<a class="btn btn-primary btn-sm" href="{% url 'accounts:login' %}" role="button">Login</a>
									<a class="btn btn-secondary btn-sm" href="{% url 'accounts:register' %}" role="button">Signup</a>
								</div>
							</div>
							{% endif %}
						</div>
						<div style="height:20px;"></div>
						<div id="forum_comment_master_container">
							<!--  -->
						</div>						
					</div>
					<div style="height:20px;"></div>
				</div>
				<div class="col">
					<div class="card card-header bg-secondary text-white">About this Community</div>
					<div class="card card-body">
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col">{{forum.community.community_description}}</div>
								</div>
								<div class="row">
									<div class="col"><hr></div>
								</div>
								<div class="row">
									<div class="col">Created at {{forum.community.created_at}}</div>
								</div>
								<div class="row">
									<div class="col">
										<div id="join_leave_community">
											{% if in_community %}
											<button type="button" class="btn btn-danger" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="leaveCommunity();">Leave</button>
											{% else %}
											<button type="button" class="btn btn-primary" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="joinCommunity();">Join</button>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					<div class="col-xs-12" style="height:30px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function like_comment(commentId) {
		$.ajax({
			data: {
				'commentId': commentId,
				'functionality': 'like_comment'
			},
			dataType: 'json',
			success: function (response) {
				if(response.status_code == 200) {
					var this_comment = eval(response.this_comment)[0];
					var number_of_likes = this_comment.fields.forum_comment_likes.length;
					var number_of_dislikes = this_comment.fields.forum_comment_dislikes.length;

					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ number_of_likes +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ number_of_dislikes +')');

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            } else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".forum_comment_container_"+commentId ).remove();
	            }
			}
		});
	}

	function dislike_comment(commentId) {
		$.ajax({
			data: {
				'commentId': commentId,
				'functionality': 'dislike_comment'
			},
			dataType: 'json',
			success: function (response) {
				if(response.status_code == 200) {
					var this_comment = eval(response.this_comment)[0];
					var number_of_likes = this_comment.fields.forum_comment_likes.length;
					var number_of_dislikes = this_comment.fields.forum_comment_dislikes.length;

					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ number_of_likes +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ number_of_dislikes +')');

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            } else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".forum_comment_container_"+commentId ).remove();
	            }
			}
		});
	}

	$(document).ready(function () {
		update_forum_votes();
		collect_comments();
	});

	function update_forum_votes() {
		var forumVotes = '{{forum.forum_likes.count}}' - '{{forum.forum_dislikes.count}}';
		$('.forum_vote_{{forum.pk}}').text(forumVotes);
	}

	function collect_comments() {
		comment_container = [];
		{% for f in forum.forums.all %}

		comment_container.push({
			'pk': '{{f.id}}',
			'full_name': '{{ f.creator.get_full_name }}',
			'edited': '{{f.edited}}' ? true : false,
			'comment': '{{ f.comment_description|linebreaksbr }}',
			'like_count': eval('{{f.forum_comment_likes.count}}'),
			'dislike_count': eval('{{f.forum_comment_dislikes.count}}'),
			'can_edit': '{{f.creator.pk}}' == '{{user.pk}}' ? true : false,
			'master_comment': '{{f.reply}}' ? '{{f.reply.pk}}' : null,
		});

		{% endfor %}

		comment_display_rec(comment_container);
	}

	function comment_display_rec(list) {
		if (list.length==0) {
			return;
		}

		var unidentified_list = [];

		for (var i = 0; i<list.length; i++) {

			var edit_delete = '';
			if (list[i].can_edit)
				edit_delete = `
					<a href="#" onclick="edit_forum_comment_text_area(`+list[i].pk+`);"><i class='far fa-edit' style='font-size:15px'></i> Edit</a>
					&nbsp;
					<a href="#" onclick="delete_forum_comment(`+list[i].pk+`);return false;"><i class='far fa-trash-alt' style='font-size:15px'></i> Delete</a>`;

			var forum_comment_div = `
			<div class="forum_comment_container_`+list[i].pk+`">
				<div class="container">
					<div class="row m-0">
						<div class="">
							<a class="text-decoration-none" href="#">
								<img class="" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="25" height="25" alt="...">
							</a>
						</div>
						<div class="flex-grow-1 pl-2">
							<a class="text-decoration-none" href="#">
								<span class="text-capitalize mb-0">`+list[i].full_name+`</span>
								<span class="small text-secondary m-0 mt-1" id="date_and_edited_msg_`+list[i].pk+`">1 day ago {% if f.edited %}(edited){% endif %}</span>
							</a>
						</div>
					</div>
					<div class="">
						<p class="my-2" id="forum_comment_text_`+list[i].pk+`">
							`+list[i].comment+`
						</p>
					</div>
					<footer>
						<span id="comment_like_id_`+list[i].pk+`" type="button" class="btn btn-default btn-sm" onclick="like_comment(`+list[i].pk+`)">
							<i class='far fa-thumbs-up' style='font-size:15px'></i> (`+list[i].like_count+`)
						</span>
						<span id="comment_dislike_id_`+list[i].pk+`" type="button" class="btn btn-default btn-sm" onclick="dislike_comment(`+list[i].pk+`)">
							<i class='far fa-thumbs-down' style='font-size:15px'></i> (`+list[i].dislike_count+`)
						</span>
						&nbsp;
						<a href="#"  data-toggle="modal" data-target="#replyModal" onclick="updateReplyModal(`+list[i].pk+`);return false;"><i class='far fa-comment-alt' style='font-size:15px'></i> Reply</a>
						&nbsp;
						`+edit_delete+`
					</footer>
					<hr>
					<div class="branch_of_forum_`+list[i].pk+`"></div>
				</div>
			</div>`;

			if(!list[i].master_comment) {
				// master comment. reply field is null.
				$('#forum_comment_master_container').prepend( forum_comment_div );
			} else {
				// this comment does have a master comment. Needs to be under appropriate comment object.
				if( $('.branch_of_forum_'+list[i].master_comment)[0] )
					$('.branch_of_forum_'+list[i].master_comment).append( forum_comment_div );
				else
					unidentified_list.push(list[i]);
			}
		}

		return comment_display_rec(unidentified_list);
	}

	function delete_forum_comment(comment_id) {
		if(!confirm('Are you sure you want to delete it?')){
			return;
		}
		$.ajax({
			data: {
				'functionality': 'delete_forum_comment',
				'comment_id': comment_id
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200 || response.status_code == 404) {
					location.reload();
				} else {
					Swal.fire({
						icon: 'error',
						title: "Can't do that!",
						text: response.message
					});
				}
			}
		});
	}

	function joinCommunity() {
		$.ajax({
			data: {
				'functionality': 'join_community'
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					$('#join_leave_community').empty();
					$("#join_leave_community").append('<button type="button" class="btn btn-danger" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="leaveCommunity();">Leave</button>');
				} else if (response.status_code == 401) {
					Swal.fire({
						icon: 'warning',
						title: "Can't do that!",
						text: response.message
					});
				}
			}
		});

	}

	function leaveCommunity() {
		$.ajax({
			data: {
				'functionality': 'leave_community'
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					$('#join_leave_community').empty();
					$("#join_leave_community").append('<button type="button" class="btn btn-primary" style="border-radius: 16px;padding: 5px 40px;width: 100%;" onclick="joinCommunity();">Join</button>');
				}
			}
		});
	}

	function upvote_forum(forum_id) {
		$.ajax({
			data: {
				'functionality': 'upvote_forum'
			},
			dataType: 'json',
			success: function (response) {
				if(response.status_code == 200) {
					var this_forum = eval(response.this_forum)[0];
					var number_of_likes = this_forum.fields.forum_likes.length;
					var number_of_dislikes = this_forum.fields.forum_dislikes.length;

					$('.forum_vote_'+forum_id).text(number_of_likes-number_of_dislikes);

				} else if (response.status_code == 401) {
					Swal.fire({
						icon: 'warning',
						title: "Can't do that!",
						text: response.message
					});

				}
			}
		});
	}

	function downvote_forum(forum_id) {
		$.ajax({
			data: {
				'functionality': 'downvote_forum'
			},
			dataType: 'json',
			success: function (response) {
				if(response.status_code == 200) {
					var this_forum = eval(response.this_forum)[0];
					var number_of_likes = this_forum.fields.forum_likes.length;
					var number_of_dislikes = this_forum.fields.forum_dislikes.length;

					$('.forum_vote_'+forum_id).text(number_of_likes-number_of_dislikes);

				} else if (response.status_code == 401) {
					Swal.fire({
						icon: 'warning',
						title: "Can't do that!",
						text: response.message
					});

				}
			}
		});
	}

	function post_comment() {
		var comment = $("#comment_box").val();
		comment = comment.trim();

		if (comment && !comment.trim() || comment.length==0) {
			alert("Enter a comment!");
			return;
		}

		$("#comment_box").val("");

		$.ajax({
			data: {
				'functionality': 'post_comment',
				'comment': comment
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					var forum_comment = eval(response.forum_comment)[0];

					list = [{
						'pk': forum_comment.pk,
						'full_name': '{{request.user.get_full_name}}',
						'edited': forum_comment.fields.edited,
						'comment': forum_comment.fields.comment_description.replace(/\n\r?/g, '<br />'),
						'like_count': forum_comment.fields.forum_comment_likes.length,
						'dislike_count': forum_comment.fields.forum_comment_dislikes.length,
						'can_edit': true,
						'master_comment': forum_comment.fields.reply,
					}];

					comment_display_rec(list)
				}
			}
		});
	}

	function updateReplyModal(parent_comment_id) {

		document.getElementById('master_comment_id').value = parent_comment_id;
	}

	function reply_to_comment() {
		var new_reply = $('textarea#reply_text').val();
		new_reply = new_reply.trim();

		if (new_reply && !new_reply.trim() || new_reply.length==0) {
			alert("Enter a reply!");
			return;
		}

		$("#replyModal").modal('hide');
		$("textarea#reply_text").val("");

		$.ajax({
			data: {
				'functionality': 'post_comment',
				'comment': new_reply,
				'master_comment': $('#master_comment_id').val(),
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					var forum_comment = eval(response.forum_comment)[0];

					list = [{
						'pk': forum_comment.pk,
						'full_name': '{{request.user.get_full_name}}',
						'edited': forum_comment.fields.edited,
						'comment': forum_comment.fields.comment_description.replace(/\n\r?/g, '<br />'),
						'like_count': forum_comment.fields.forum_comment_likes.length,
						'dislike_count': forum_comment.fields.forum_comment_dislikes.length,
						'can_edit': true,
						'master_comment': forum_comment.fields.reply,
					}];

					comment_display_rec(list)
				}
			}
		});
	}

</script>
{% endblock %}