{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
    .ui-w-80{width:100px!important;height:auto}
    #buttons_in_footer{display: none;}
    .QMwdLfHioF{ cursor: pointer; }
    @media (min-width: 1200px) {
        .container {
            width: 1600px;
        }
        .wrapper {
            width: 75%;
        }
    }

    @media (min-width: 972px) and (max-width: 1200px) {
        .container {
            width: 1600px;
        }
        .wrapper {
            width: 90%;
        }
    }

    @media (min-width: 700px) and (max-width: 959px) {
        .container {
            width: 1600px;
        }
        .wrapper {
            width: 90%;
        }
    }

    @media (max-width: 767px) {
        #buttons_in_sidebar{display:none;}
        #buttons_in_footer{display:inline;}
    }
</style>

<div class="wrapper" style="margin: auto;overflow-x: hidden; color: black;">
    <div class="gutters-sm">
        <div style="height:70px;"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-12 col-lg-8 col-md-12" id="list_of_forums">
                    <!-- Forum div here... -->
                    {% if not forums %}
                    <div class="alert alert-info " role="alert" style="text-align: center;"> This forum is empty. Why don't you start one. </div>
                    {% endif %}
                </div>
                <div class="col-0 col-lg-4" id="sidebar_container">
                    <div class="card card-header bg-secondary text-white">Top X Communities</div>
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col">{{community.community_description}}</div>
                                </div>
                                <div class="col-xs-12" style="height:15px;"></div>
                                <div class="row">
                                    <div class="col" id="community_members">
                                        <br><p style="font-size: 14px; font-weight: 500; line-height: 16px; display: inline-block; word-break: break-word;">Member(s)</p>
                                    </div>
                                    <div class="col">0
                                        <br><p style="font-size: 14px; font-weight: 500; line-height: 16px; display: inline-block; word-break: break-word;">Online</p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><hr></div>
                                </div>
                                <div class="row">
                                    <div class="col">Created at {{community.created_at}}</div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-xs-12" style="height:30px;"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script type="text/javascript">

    $(document).ready(function () {
        CollectForums();
    });

    function CollectForums() {
        forum_container = [];
        {% for f in forums %}

        var watchers = '{{ f.watchers.all|join:", " }}'.replace(", ", ",").split(",");

        forum_container.push({
            'pk': '{{f.id}}',
            'community_pk': '{{f.community.id}}',
            'votes': '{{f.forum_likes.count}}' - '{{f.forum_dislikes.count}}',
            'full_name': '{{f.creator.get_full_name}}',
            'date': '{{f.created_at}}',
            'title': '{{f.forum_title|linebreaksbr}}',
            'description': '{{f.forum_description|linebreaksbr}}',
            'comment_count': '{{f.forumcomment_set.all|length}}',
            'image': '{{ f.forum_image }}',
            'can_edit': '{{ user.id }}' == '{{f.creator.id}}' ? true : false,
            'is_watching': watchers.includes('{{user.email}}') ? true: false,
            'watchers_count': '{{f.watchers.all|length}}',
        });

        {% endfor %}

        ParseCollectedForums(forum_container);
    }

    function ParseCollectedForums(list) {

        for (var i = 0; i<list.length; i++) {

            var image_tab = null;
            if (list[i].image) {
                image_tab = '<img class="mx-auto d-block" src="../../../media/'+list[i].image+'" style="max-width:100%;max-height:420px;">';
            } else {
                image_tab = '<p>'+list[i].description+'</p>';
            }

            if (list[i].is_watching)
                var forum_watch_text = `<span onclick="watch_unwatch_forum(`+list[i].community_pk+`,`+list[i].pk+`);" data-toggle="tooltip" data-placement="top" title="You are watching this issue. Click to stop watching this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+list[i].watchers_count+`) Unwatch</span>`;
            else
                var forum_watch_text = `<span onclick="watch_unwatch_forum(`+list[i].community_pk+`,`+list[i].pk+`);" data-toggle="tooltip" data-placement="top" title="You are not watching this issue. Click to watch this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+list[i].watchers_count+`) Watch</span>`;

            edit_forum = '';
            if (list[i].can_edit)
                edit_forum = "<a href='#'><i class='far fa-edit' style='font-size:15px'></i> Edit</a> &nbsp;";

            var forum_div_container = `
            <div class="row border border-secondary QMwdLfHioF" id="container_`+list[i].pk+`" communityurl='`+list[i].community_pk+`' forumurl='`+list[i].pk+`'>
                <div class="col-md-auto text-center border-right border-secondary" style="padding-bottom: 10px; padding-top: 10px;" id="buttons_in_sidebar">
                    <button type="button" class="btn btn-success" onclick="upvote_forum(`+list[i].community_pk+`,`+list[i].pk+`);"><i class='far fa-thumbs-up' style='font-size:15px'></i></button><br>
                    <span class='forum_vote_`+list[i].pk+`'>`+list[i].votes+`</span>
                    <br><button type="button" class="btn btn-danger" onclick="downvote_forum(`+list[i].community_pk+`,`+list[i].pk+`);"><i class='far fa-thumbs-down' style='font-size:15px'></i></button>
                </div>
                <div class="col" style="padding-bottom: 10px; padding-top: 10px;">
                    <div style="max-height: 500px;text-overflow: ellipsis;overflow: hidden;">
                        <span class="text-secondary">Post by `+list[i].full_name+` at `+list[i].date+`</span>
                        <h3>`+list[i].title+`</h3>
                        `+image_tab+`
                    </div>
                    <div>
                        <a href="#"><i class='far fa-comment-alt' style='font-size:15px'></i> `+list[i].comment_count+` Comments</a>
                        &nbsp;
                        <a href="#"><i class='fas fa-share' style='font-size:15px'></i> Share</a>
                        &nbsp;
                        <a href="#"><i class='fas fa-flag' style='font-size:15px'></i> Report</a>
                        &nbsp;
                        <a href="#" onclick='return false;' id="forum_watcher`+list[i].pk+`">`+forum_watch_text+`</a>
                        &nbsp;
                        `+edit_forum+`
                        <span id="buttons_in_footer">
                            <button type="button" class="btn btn-success" style="padding: 2px 2px;" "upvote_forum(`+list[i].community_pk+`,`+list[i].pk+`);"><i class='far fa-thumbs-up' style='font-size:15px;'></i></button>
                            <span class='forum_vote_`+list[i].pk+`'>`+list[i].votes+`</span>
                            <button type="button" class="btn btn-danger" style="padding: 2px 2px;" onclick="downvote_forum(`+list[i].community_pk+`,`+list[i].pk+`);"><i class='far fa-thumbs-down' style='font-size:15px;'></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div style="height:20px;"></div>`;

            $('#list_of_forums').append(forum_div_container);
        }
    }

    function UpdateWatchers(is_watching, watchers_count, community_pk, forum_id) {
        if (is_watching)
            var forum_watch_text = `<span onclick="watch_unwatch_forum(`+community_pk+`,`+forum_id+`);" data-toggle="tooltip" data-placement="top" title="You are watching this issue. Click to stop watching this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+watchers_count+`) Unwatch</span>`;
        else
            var forum_watch_text = `<span onclick="watch_unwatch_forum(`+community_pk+`,`+forum_id+`);" data-toggle="tooltip" data-placement="top" title="You are not watching this issue. Click to watch this issue."><i class='far fa-eye' style='font-size:15px'></i> (`+watchers_count+`) Watch</span>`;

        $('a#forum_watcher'+forum_id).html(forum_watch_text);
    }

    function watch_unwatch_forum(community_pk, forum_id) {
         $.ajax({
            data: {
                'functionality': 'watch_unwatch_forum',
            },
             url: '/forum/c/'+community_pk+'/f/'+forum_id,
             dataType: 'json',
             success: function (response) {
                if(response.status_code == 200) {
                    var watchers_count = response.watch_count;
                    var is_watching = response.is_watching;

                    UpdateWatchers(is_watching, watchers_count, community_pk, forum_id)

                } else if (response.status_code == 401) {
                    Swal.fire({
                        icon: 'warning',
                        title: "Can't do that!",
                        text: response.message
                    });

                }
             }
         });
    }

    function upvote_forum(community_pk, forum_id) {
        $.ajax({
            data: {
                'functionality': 'upvote_forum',
                'forum_id': forum_id
            },
            url: '/forum/c/'+community_pk,
            dataType: 'json',
            success: function (response) {
                if(response.status_code == 200) {
                    var this_forum = eval(response.this_forum)[0];
                    var number_of_likes = this_forum.fields.forum_likes.length;
                    var number_of_dislikes = this_forum.fields.forum_dislikes.length;

                    $('.forum_vote_'+forum_id).text(intCompromise(number_of_likes-number_of_dislikes));

                } else if (response.status_code == 401) {
                    Swal.fire({
                        icon: 'warning',
                        title: "Can't do that!",
                        text: response.message
                    });

                } else if (response.status_code == 404) {
                    Swal.fire({
                        icon: 'error',
                        title: "Can't do that!",
                        text: response.message
                    });
                    // TODO: Remove the forum div.
                    // $( ".question_answer_comment_container_"+commentId ).remove();
                }
            }
        });
    }

    function downvote_forum(community_pk, forum_id) {
        $.ajax({
            data: {
                'functionality': 'downvote_forum',
                'forum_id': forum_id
            },
            url: '/forum/c/'+community_pk,
            dataType: 'json',
            success: function (response) {
                if(response.status_code == 200) {
                    var this_forum = eval(response.this_forum)[0];
                    var number_of_likes = this_forum.fields.forum_likes.length;
                    var number_of_dislikes = this_forum.fields.forum_dislikes.length;

                    $('.forum_vote_'+forum_id).text(intCompromise(number_of_likes-number_of_dislikes));

                } else if (response.status_code == 401) {
                    Swal.fire({
                        icon: 'warning',
                        title: "Can't do that!",
                        text: response.message
                    });

                } else if (response.status_code == 404) {
                    Swal.fire({
                        icon: 'error',
                        title: "Can't do that!",
                        text: response.message
                    });
                    // TODO: Remove the forum div.
                    // $( ".question_answer_comment_container_"+commentId ).remove();
                }
            }
        });
    }

    var NEXT_INDEX = 1;

    window.onscroll = function(ev) {
        if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
            
            $.ajax({
                data: {
                    'functionality': 'fetch_forums',
                    'next_index': NEXT_INDEX
                },
                dataType: 'json',
                success: function (response) {
                    if(response.status_code == 200) {

                        var this_forum = response.forum_json;
                        var forum_container = [];

                        for (var i = 0; i<this_forum.length; i++) {

                            forum_container.push({
                                'pk': this_forum[i].forumId,
                                'community_pk': this_forum[i].forumCommunityId,
                                'votes': this_forum[i].forumVotes,
                                'full_name': this_forum[i].forumCreatorFullName,
                                'date': this_forum[i].forumCreatedDate,
                                'title': this_forum[i].forumTitle,
                                'description': this_forum[i].forumDescription.replace(/\n\r?/g, '<br />'),
                                'comment_count': this_forum[i].forumCommentCount,
                                'image': this_forum[i].forumImage,
                                'can_edit': this_forum[i].forumEdit,
                            });
                        }

                        ParseCollectedForums(forum_container);

                        NEXT_INDEX = NEXT_INDEX + 1;
                    }
                }
            });
        }
    };

    function intCompromise(value) {
        var suffixes = ["", "k", "m", "b","t"];
        var suffixNum = Math.floor((""+value).length/3);
        var shortValue = parseFloat((suffixNum != 0 ? (value / Math.pow(1000,suffixNum)) : value).toPrecision(2));

        if (shortValue % 1 != 0)
            shortValue = shortValue.toFixed(1);

        return shortValue+suffixes[suffixNum];
    }

    window.onclick = e => {
        redirectToForumPage(e.target);
    }

    function redirectToForumPage(e) {

        if(e.nodeName == 'BUTTON' || e.nodeName == 'A')
            return;

        try {

            if (e.hasAttribute("forumurl") && e.hasAttribute("communityurl")) {
                document.location.href = 'c/' +  e.getAttribute("communityurl") + '/f/' + e.getAttribute("forumurl");
            }

            return redirectToForumPage(e.parentElement);

        } catch(err) {
            return;
        }

        return;
    }

</script>
{% endblock %}