{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    <div class='container'>
        <div class='w-100 p-5'></div>
        <div class='row'>
            <div class='col-12 d-flex justify-content-center align-items-center'>
                <div class='card w-50'>
                    <div class='card-body'>
                        <h5 class='card-title text-center'>Error</h5>
                        <div class='text-center text-muted'>Something went wrong, please re-request the
                            link.
                        </div>
                        <hr>
                        <a href="{% url 'tutoring:index-view' %}">
                            <button type="submit" class="btn btn-primary btn-block">Home</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}