{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
	<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<style>
        .select2-results {
            color: black;
        }
	</style>
	<div style="height: 50px"></div>
	<div class="container" style="color: black;">
		<div class="card">
			<div class="card-body">
				<form method="post" id="form-container"></form>
			</div>
		</div>
	</div>
	<div class="container" style="color: black;">
		<div class="card">
			<div class="card-body">
				<form method="post">
					{% csrf_token %}
					<legend>
						<h3 class="heading-h2">{{ formTitle }}</h3>
					</legend>

					{% for field in form %}

						{% if field.field.widget.input_type == 'text' %}
							<span class="form-label">{{ field.label }}</span>
							{{ field }}
						{% elif field.field.widget.input_type == 'select' %}
							<span class="form-label">{{ field.label }}</span>
							{{ field }}
							<br>
						{% elif field.field.widget.input_type == 'number' %}
							<span class="form-label">{{ field.label }}</span>
							{{ field }}
						{% elif field.field.widget.input_type == 'checkbox' %}
							<div class="multiple-choice">
								{{ field }}
								<label class="form-label">{{ field.label }}</label>
							</div>
						{% else %}
							<span class="form-label">{{ field.label }}</span>
							{{ field }}
						{% endif %}

						{% for error in field.errors %}
							<p class="text-center" style="color: red;"><small>{{ error }}</small></p>
						{% endfor %}
						<br>
					{% endfor %}

					<div id="educationContainerList">
					</div>
					<div id="fieldErrorList" hidden>
					</div>
					<br>
					<div class="text-right">
						<input type="reset" class="btn btn-danger" value="Reset">
						<input type="submit" class="btn btn-primary" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
	<script>
        $(document).ready(function () {
                $('select').selectpicker(
                    {
                        actionsBox: true,
                        liveSearch: true,
                        liveSearchNormalize: true,
                        liveSearchStyle: true,
                        selectOnTab: true,
                    }
                );
            }
        );
	</script>
	<script type="text/babel">

        function showEducationListError() {
            let fieldErrorListElement = $('#fieldErrorList');
            fieldErrorListElement.append('{{ form.errors }}');

            if (fieldErrorListElement.children().length === 0)
                return;

            let asElement = document.getElementById('fieldErrorList').firstElementChild.innerHTML;
            fieldErrorListElement.empty();
            fieldErrorListElement.append(asElement);

            $('#fieldErrorList').children('li').each(function () {

                if (this.innerText.includes('initialEducationList')) {
                    let answerError = this.innerText.split('initialEducationList')[1];
                    console.log(answerError)

                    $('#educationListErrorMessage').html(
                        `<p class="text-center" style="color: red;"><small>${answerError}</small></p>`
                    )
                }
            });
        }

        function getInitialEducation() {
            let educationList = []
            {% for item in form.initial.initialEducationList %}
                educationList.push({
                    id: '{{ item.0 }}',
                    schoolName: '{{ item.1 }}',
                    qualification: '{{ item.2 }}',
                    startDate: '{{ item.3 }}',
                    endDate: '{{ item.4 }}',
                });
            {% endfor %}
            return educationList;
        }

        class EducationEntryComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {
                return (
                    <div className="row">
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="text" name="schoolName" className="form-control" placeholder="School Name"
                                       data-toggle="tooltip" data-placement="top" title="School Name"
                                       required="" defaultValue={this.props.schoolName}></input>
                            </div>
                        </div>
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="text" name="qualification" className="form-control"
                                       placeholder="Qualification &amp; Grade(s)" data-toggle="tooltip"
                                       data-placement="top" title="Qualification &amp; Grade(s)" required=""
                                       defaultValue={this.props.qualification}></input>
                            </div>
                        </div>
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="date" name="startDate" className="form-control" placeholder="Attended From"
                                       data-toggle="tooltip" data-placement="top" title="Attended from"
                                       required="" defaultValue={this.props.startDate}></input>
                            </div>
                        </div>
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="date" name="endDate" className="form-control" placeholder="Attended To"
                                       data-toggle="tooltip" data-placement="top" title="Attended To"
                                       required="" defaultValue={this.props.endDate}></input>
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                    </div>
                )
            }
        }

        class EducationChoiceComponent extends React.Component {
            constructor(props) {
                super(props);

                let initialEducationEntries = getInitialEducation();
                let educationListTemp = [];
                for (const item of initialEducationEntries) {
                    educationListTemp.push(<EducationEntryComponent key={item.id}
                                                                    id={item.id}
                                                                    schoolName={item.schoolName}
                                                                    qualification={item.qualification}
                                                                    startDate={item.startDate}
                                                                    endDate={item.endDate}/>);
                }
                this.state = {
                    educationEntryList: educationListTemp,
                    showRemoveButton: initialEducationEntries.length > 1,
                }
            }

            componentDidMount = () => {
                showEducationListError();
            }

            updateState(list) {
                this.setState({
                    educationEntryList: list,
                    showRemoveButton: list.length > 1,
                })
            }

            increaseRow = () => {

                let tempList = this.state.educationEntryList;
                tempList.push(<EducationEntryComponent key={tempList.length + 1}/>);
                this.updateState(tempList)
            }

            decreaseRow = () => {
                let tempList = this.state.educationEntryList;
                tempList.pop();
                this.updateState(tempList);
            }

            render() {
                const style1 = {
                    marginRight: '5px',
                }
                return (<div>
                    <span className="form-label">Education</span>
                    {
                        this.state.educationEntryList.map((component) => component)
                    }
                    <span>
                        {
                            this.state.showRemoveButton ?
                                <button type="button" className="btn btn-outline-danger btn-sm float-right"
                                        style={style1}
                                        onClick={this.decreaseRow}>Remove</button> : <span></span>
                        }
                        <button type="button" className="btn btn-outline-primary btn-sm float-right"
                                onClick={this.increaseRow}>Add
                        </button>
                    </span>
                    <div id="educationListErrorMessage"></div>
                    <br></br>
                </div>)
            }
        }

        ReactDOM.render(<EducationChoiceComponent/>, document.getElementById('educationContainerList'));

        class TutorProfileComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    summary: "summary here",
                    about: "about here",
                    chargeRate: "chargeRate here",
                }
            }

            render() {
                return (
                    <div className="row">
                        <legend>
                            <h3 className="heading-h2">Create Tutor Profile</h3>
                        </legend>
                    </div>
                )
            }
        }

        ReactDOM.render(<TutorProfileComponent/>, document.getElementById('form-container'));


	</script>
{% endblock %}