{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<div class="container" style="margin: auto;overflow-x: hidden;">
    <br>
    {% if messages %}
	    {% for message in messages %}
	    	{% if message.tags == "error" %}
	    	<div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
	    	{% else %}
	    	<div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
	    	{% endif %}
	    {% endfor %}
	{% endif %}
    <div class="row gutters-sm">
        <div class="col-md-12" style="color: black;">
            <form method="post">
				{% csrf_token %}
				<div class="form-group">
					<h2 for="summary">Summary</h2>
					<input type="text" class="form-control" id="summary" name="summary" required>
				</div>
				<hr>
				<div class="form-group">
					<h2 for="about">About</h2>
					<textarea class="form-control" id="about" name="about" rows="5" required></textarea>
				</div>
				<hr>
				<div class="form-group" id="education">
					<h2 for="education">Education</h2>
					<div id="listOfEducation"></div>
					<button type="button" class="btn btn-primary btn-sm" onclick="addEducationRow();">Add Row</button>
				</div>
				<hr>
				<div class="form-group">
					<h2 for="subjects">Subjects</h2>
					<select class="multiple-subjects form-control" name="subjects" multiple="multiple" required>
					</select>
				</div>
				<hr>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-lg btn-block">Create Profile</button>
				</div>
				<input type="hidden" name="numberOfEducation" value="0">
				<input type="hidden" name="createTutorProfile">
			</form>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function()
		{
			$(".multiple-subjects").select2(
				{
					tags: true,
				}
			);
		}
	);

	var numberOfEducation = 0;
	function addEducationRow()
	{
		addRemoveEducationBtn();
		numberOfEducation = numberOfEducation + 1;
		var newRow = `<span><div class="row" id="education_`+numberOfEducation+`">
						<div class="col-md-4 panel-pad-10">
							<div class="card">
								<input type="text" class="form-control" id="school_name_`+numberOfEducation+`"
								name="school_name_`+numberOfEducation+`" placeholder="School Name" required>
							</div>
						</div>
						<div class="col-md-4 panel-pad-10">
							<div class="card">
								<input type="text" class="form-control" id="qualification_`+numberOfEducation+`"
								name="qualification_`+numberOfEducation+`" placeholder="Qualification &amp; Grade(s)"
								required>
							</div>
						</div>
						<div class="col-md-4 panel-pad-10">
							<div class="card">
								<input type="text" class="form-control" id="year_`+numberOfEducation+`" name="year_`+numberOfEducation+`"
								placeholder="Attended Years" required>
							</div>
						</div>
					</div><br><span/>`;

		$('input[name=numberOfEducation]').val(numberOfEducation);
		$('#listOfEducation').append(newRow);
	}

	function removeEducationRow()
	{
		$('#listOfEducation').children().last().remove();
		numberOfEducation = numberOfEducation - 1;
		$('input[name=numberOfEducation]').val(numberOfEducation);

		if ($('#listOfEducation').children().length == 0)
			$('#removeRow').remove();
	}

	function addRemoveEducationBtn() {
		if ($('#removeRow').length > 0)
			return
		$('#education').append('<button type="button" id="removeRow" class="btn btn-danger btn-sm" onclick="removeEducationRow();">Remove Row</button>');
	}
</script>
{% endblock %}