{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorProfileEditPage.css' %}"/>
<div class="container" style="margin: auto;overflow-x: hidden;">
   <br>
   {% if messages %}
      {% for message in messages %}
         {% if message.tags == "error" %}
               <div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
         {% else %}
               <div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
         {% endif %}
      {% endfor %}
   {% endif %}
   <div class="row gutters-sm">
      <div class="col-md-12" style="color: black;">
         <form method="post">
            {% csrf_token %}
            <hr>
            <div class="form-group">
               <h4 for="subjects">Date-of-birth</h4>
               <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required>
               <br>
               <div id="ageLimit" class="alert alert-warning" role="alert" hidden>
                  You need to be at least 18 years to create an account.
               </div>
                  
            </div>
            <hr>
            <div class="form-group">
               <button id="createProfileBtn" type="submit" class="btn btn-success btn-lg btn-block" disabled>Create Profile</button>
            </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">

   $('#dateOfBirth').on('input', function()
      {
         var today = new Date();
         var birthDate = new Date($(this).val());
         var age = today.getFullYear() - birthDate.getFullYear();
         var m = today.getMonth() - birthDate.getMonth();

         if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate()))
            age--;

         if (age > 100)
            return;

         if (age < 18)
         {
            $('#ageLimit').removeAttr('hidden');
            $('#createProfileBtn').attr('disabled', '');
         }
         else
         {
            $('#ageLimit').attr('hidden', '');
            $('#createProfileBtn').removeAttr('disabled');
         }
      }
   );

</script>
{% endblock %}