{% extends "accounts/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
<div class="container">
	<br>
	<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
		<div class="loginbox bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
			<form method="post">
				{% csrf_token %}
				{% if messages %}
                    {% for message in messages %}
                    	{% if message.tags == "error" %}
                    	<div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
                    	{% else %}
                    	<div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
                    	{% endif %}
                    {% endfor %}
                {% endif %}
				<div class="loginbox-title">Login</div>
				<!-- TODO: Bug - The social button icons are not in the same row when viewed in smaller screens. -->
				<!-- <div class="loginbox-social">
					<div class="social-title ">Connect with Your Social Accounts</div>
					<div class="social-buttons">
						<a href="#" class="button-facebook">
						<i class="social-icon fa fa-facebook"></i>
						</a>
						<a href="#" class="button-twitter">
						<i class="social-icon fa fa-twitter"></i>
						</a>
						<a href="#" class="button-google">
						<i class="social-icon fa fa-google-plus"></i>
						</a>
					</div>
				</div>
				<div class="loginbox-or">
					<div class="or-line"></div>
					<div class="or">OR</div>
				</div> -->
				<div class="loginbox-textbox">
					{{form | crispy}}
				</div>
				<div class="loginbox-submit">
					<input type="submit" class="btn btn-primary btn-block" value="Login">
				</div>
				<div class="loginbox-social">
					<div class="social-title ">Forgot your password? <a href="{% url 'accounts:password_request' %}">Reset Here</a></div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">

	window.onload = function(e)
	{
		$( "#div_id_remember_me" ).addClass( "checkbox-inline" );
		$( "#div_id_remember_me" ).append( '<span id="span-id-password-visibility" class="pull-right"onclick="showHidePassword();" style="color: #007bff;cursor: pointer;">Show Password</span>' );

		$('#span-id-password-visibility, label[for="id_remember_me"]').mousedown(function(e)
			{
				e.preventDefault();
			}
		);
	}

	function showHidePassword()
	{
		var password = $("[name='password']");

		if(password.attr("type") == "password")
		{
			password.attr("type","text");
			$('#span-id-password-visibility').text('Hide Password');
		}
		else
		{
			password.attr("type","password");
			$('#span-id-password-visibility').text('Show Password');
		}
	}

</script>
{% endblock %}