{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
<div class="container">
	<br><br><br><br>
	<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
		<div class="loginbox bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
			<form method="post">
				{% csrf_token %}
				{% if messages %}
                    {% for message in messages %}
                    	{% if message.tags == "error" %}
                    	<div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
                    	{% else %}
                    	<div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
                    	{% endif %}
                    {% endfor %}
                {% endif %}
				<div class="loginbox-title">Forgot Password?</div>
				<div class="loginbox-social">
					<div class="social-title ">You can reset your password here.</div>
				</div>
				<div class="loginbox-or">
					<div class="or-line"></div>
				</div>
				<div class="loginbox-textbox">
					<input id="email" name="email" placeholder="Email" class="form-control" type="email">
				</div>
				
				<div class="loginbox-submit">
					<input type="submit" class="btn btn-primary btn-block" value="Reset Password">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}