{% extends 'core/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class='container'>
        <div class='w-100 p-5'></div>
        <div class='row'>
            <div class='col-12 d-flex justify-content-center align-items-center'>
                <div class='card w-50'>
                    <form method='post'>
                        {% csrf_token %}
                        <div class='card-body'>
                            <h5 class='card-title text-center'>Forgot Password?</h5>
                            <p class='text-center text-muted'><small>You can reset your password here.</small></p>
                            <hr>
                            <input id='email' name='email' placeholder='Email' class='form-control' type='email'
                                   required>
                            <br>
                            <input type='submit' class='btn btn-primary btn-block' value='Submit'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
