{% extends "accounts/account_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
<div class="container">
   <br>
   {% if messages %}
	   {% for message in messages %}
	      {% if message.tags == "error" %}
	      <div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
	      {% else %}
	      <div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
	      {% endif %}
	   {% endfor %}
	{% endif %}
   <div class="login-container animated fadeInDown bootstrap snippets bootdeys">
      <div class="loginbox bg-white" style="-webkit-box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)">
         <form method="post">
            {% csrf_token %}
            <div class="loginbox-title">Change Password</div>
            <div class="loginbox-textbox">
               <span class="input-group-addon"><i class="fa fa-lock"></i></span>
               <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password" required>
            </div>
            <div class="loginbox-textbox">
               <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Repeat Password" required>
            </div>
            <div class="loginbox-textbox">
               <div id="div_id_rememberMe" class="form-check checkbox-inline">
                  <span id="span-id-password-visibility" class="pull-right" onclick="showHidePassword();" style="color: #007bff;cursor: pointer;margin-bottom: 20px;margin-top: -20px;">
                  	Show Password
                  </span>
               </div>
            </div>
            <div class="loginbox-submit">
               <input type="submit" class="btn btn-primary btn-block" value="Reset Password">
            </div>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">

	window.onload = function(e)
	{
		$('#span-id-password-visibility').mousedown(function(e)
			{
				e.preventDefault();
			}
		);
	}

	function showHidePassword()
	{
		var newPassword = $("[name='newPassword']");
		var confirmPassword = $("[name='confirmPassword']");

		if(newPassword.attr("type") == "password")
		{
			newPassword.attr("type","text");
			confirmPassword.attr("type","text");
			$('#span-id-password-visibility').text('Hide Password');
		}
		else
		{
			newPassword.attr("type","password");
			confirmPassword.attr("type","password");
			$('#span-id-password-visibility').text('Show Password');
		}
	}

</script>
{% endblock %}