{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_signup.css' %}" />

<div class="container">
	<div class="login-signup-form">
		<form method="post">
			{% csrf_token %}
			<h2>Register</h2>
			<p class="hint-text">Create your account. It's free and only takes a minute.</p>
			{% if message %}
				<div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
			{% endif %}
			{% if activate %}
				<div style="color: black; text-align: center;" class="alert alert-success" role="alert">{{activate}}</div>
			{% endif %}
			<div class="form-group">
				<div class="row">
					<div class="col-xs-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" value="{% if firstname %} {{firstname}} {% endif %}" required /></div>
					<div class="col-xs-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{% if lastname %} {{lastname}} {% endif %}" required /></div>
				</div>
			</div>
			<div class="form-group">
				<input type="email" class="form-control" name="email" placeholder="E-Mail" value="{% if email %} {{email}} {% endif %}" required />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password" placeholder="Password" required />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required />
			</div>
			<div class="form-group">
				<div class="pull-right"><a href="#" onclick="show_hide_password();">Show Password</a></div><br>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
			</div>
			<p class="small text-center">By clicking the Register Now button, you agree to our <br><a href="/accounts/rules/terms_and_conditions/" target="_blank">Terms &amp; Conditions</a>, and <a href="/accounts/rules/privacy_policy/" target="_blank">Privacy Policy</a></p>
		</form>
		<div class="text-center">Already have an account? <a href="{% url 'accounts:login' %}">Sign in</a></div>
	</div>
</div>
<script type="text/javascript">
	function show_hide_password() {
		var password_1 = $("[name='password']");
		var password_2 = $("[name='confirm_password']");

		if(password_1.attr("type")=="password"){
			password_1.attr("type","text");
			password_2.attr("type","text");
		} else {
			password_1.attr("type","password");
			password_2.attr("type","password");
		}
	}
</script>
{% endblock %}