{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorProfileEditPage.css' %}"/>
<div class="container" style="margin: auto;overflow-x: hidden;">
   <br>
   <div class="row gutters-sm">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-body tab-content" style="color: black;">
               <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <h2 for="summary">Summary</h2>
                     <input type="text" class="form-control" id="summary" name="summary" value="{{tutorProfile.summary}}" required>
                  </div>
                  <hr>
                  <div class="form-group">
                     <h2 for="about">About</h2>
                     <textarea class="form-control autosize" id="about" name="about" rows="15" required>{{ tutorProfile.about }}</textarea>
                  </div>
                  <hr>
                  <div class="form-group" id="education">
                     <h2 for="education" style="display:inline;">Education</h2>
                     <div id="listOfEducation">
                        {% for key,value in tutorProfile.education.items %}
                        <div class="row" id="education_{{ forloop.counter }}">
                           <div class="col-md-4 panel-pad-10">
                              <div class="card">
                                 <input type="text" class="form-control" id="school_name_{{ forloop.counter }}"
                                    name="school_name_{{ forloop.counter }}" placeholder="School Name" value="{{value.school_name}}"
                                    required>
                              </div>
                           </div>
                           <div class="col-md-4 panel-pad-10">
                              <div class="card">
                                 <input type="text" class="form-control" id="qualification_{{ forloop.counter }}"
                                    name="qualification_{{ forloop.counter }}" placeholder="Qualification &amp; Grade(s)"
                                    value="{{value.qualification}}" required>
                              </div>
                           </div>
                           <div class="col-md-4 panel-pad-10">
                              <div class="card">
                                 <input type="text" class="form-control" id="year_{{ forloop.counter }}"
                                    name="year_{{ forloop.counter }}" placeholder="Attended Years" value="{{value.year}}"
                                    required>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                     <button type="button" class="btn btn-primary btn-sm" onclick="addEducationRow();">Add another</button>
                  </div>
                  <hr>
                  <div class="form-group">
                     <h2 for="availability">Availability</h2>
                     <table class="table" id="availabilitySchedule" style="width: auto; margin-left: -10px;">
                        <thead>
                           <tr>
                              <th scope="col"></th>
                             <th scope="col" style="padding-left:0px">Morning</th>
                             <th scope="col" style="padding-left:0px">Afternoon</th>
                             <th scope="col" style="padding-left:0px">Evening</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for key,value in tutorProfile.availability.items %}
                           <tr>
                              <th style="vertical-align: middle; padding-left:0px" scope="row">{{key|title}}</th>
                              <td style="text-align: center; padding-left:0px">
                                 {% if value.morning %}
                                 <div class="card_2">
                                    <div class="checkbox-container circular-container">
                                       <label class="checkbox-label">
                                       <input type="checkbox" name="availabilityChoices" value="{{key}}_morning" checked>
                                       <span class="checkbox-custom circular"></span>
                                       </label>
                                    </div>
                                 </div>
                                 {% else %}
                                 <div class="card_2">
                                    <div class="checkbox-container circular-container">
                                       <label class="checkbox-label">
                                       <input type="checkbox" name="availabilityChoices" value="{{key}}_morning">
                                       <span class="checkbox-custom circular"></span>
                                       </label>
                                    </div>
                                 </div>
                                 {% endif %}
                              </td>
                              <td style="text-align: center; padding-left:0px">
                                 {% if value.afternoon %}
                                 <div class="card_2">
                                    <div class="checkbox-container circular-container">
                                       <label class="checkbox-label">
                                       <input type="checkbox" name="availabilityChoices" value="{{key}}_afternoon" checked>
                                       <span class="checkbox-custom circular"></span>
                                       </label>
                                    </div>
                                 </div>
                                 {% else %}
                                 <div class="card_2">
                                    <div class="checkbox-container circular-container">
                                       <label class="checkbox-label">
                                       <input type="checkbox" name="availabilityChoices" value="{{key}}_afternoon">
                                       <span class="checkbox-custom circular"></span>
                                       </label>
                                    </div>
                                 </div>
                                 {% endif %}
                              </td>
                              <td style="text-align: center; padding-left:0px">
                                 {% if value.evening %}
                                 <div class="card_2">
                                    <div class="checkbox-container circular-container">
                                       <label class="checkbox-label">
                                       <input type="checkbox" name="availabilityChoices" value="{{key}}_evening" checked>
                                       <span class="checkbox-custom circular"></span>
                                       </label>
                                    </div>
                                 </div>
                                 {% else %}
                                 <div class="card_2">
                                    <div class="checkbox-container circular-container">
                                       <label class="checkbox-label">
                                       <input type="checkbox" name="availabilityChoices" value="{{key}}_evening">
                                       <span class="checkbox-custom circular"></span>
                                       </label>
                                    </div>
                                 </div>
                                 {% endif %}
                              </td>
                              {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <hr>
                  <div class="form-group">
                     <h2 for="subjects">Subjects</h2>
                     <select class="multiple-subjects form-control" name="subjects" multiple="multiple" required>
                        {% for subject in tutorProfile.getSubjectsAsList %}
                        <option selected="selected">{{subject}}</option>
                        {% endfor %}
                     </select>
                  </div>
                  <div class="form-group" id="outer" style="width:100%; text-align: center;">
                     <div class="inner" style="display: inline-block;">
                        <button type="submit" class="btn btn-success btn-lg">Save</button>
                     </div>
                     &#xA0;
                     <div class="inner" style="display: inline-block;">
                        <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
                     </div>
                     &#xA0;
                     <div class="inner" style="display: inline-block;">
                        <a href="#" class="btn btn-danger btn-lg">Cancel</a>
                     </div>
                  </div>
                  <input type="hidden" name="numberOfEducation" value="1">
                  <input type="hidden" name="updateTutorProfile">
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">

   $(document).ready(function()
      {
         $(".multiple-subjects").select2(
            {
               tags: true,
            }
         );
      }
   );

	var numberOfEducation = {{ tutorProfile.education|length }};
	$('input[name=numberOfEducation]').val(numberOfEducation);

	addRemoveEducationBtn();
	
	function addEducationRow()
	{
		addRemoveEducationBtn();
		numberOfEducation = numberOfEducation + 1;

		var newRow = `<div class="row" id="education_`+numberOfEducation+`">
					    <div class="col-md-4 panel-pad-10">
					        <div class="card">
					            <input type="text" class="form-control" id="school_name_`+numberOfEducation+`"
					                name="school_name_`+numberOfEducation+`" placeholder="School Name" required>
					        </div>
					    </div>
					    <div class="col-md-4 panel-pad-10">
					        <div class="card">
					            <input type="text" class="form-control" id="qualification_`+numberOfEducation+`"
					                name="qualification_`+numberOfEducation+`" placeholder="Qualification &amp; Grade(s)"
					                required>
					        </div>
					    </div>
					    <div class="col-md-4 panel-pad-10">
					        <div class="card">
					            <input type="text" class="form-control" id="year_`+numberOfEducation+`" name="year_`+numberOfEducation+`"
					                placeholder="Attended Years" required>
					        </div>
					    </div>
					</div>`;

		$('input[name=numberOfEducation]').val(numberOfEducation);
		$('#listOfEducation').append(newRow);
	}

	function removeEducationRow()
	{
		$('#listOfEducation').children().last().remove();
		numberOfEducation = numberOfEducation - 1;

		$('input[name=numberOfEducation]').val(numberOfEducation);

		if ($('#listOfEducation').children().length == 0)
			$('#removeRow').remove();
	}

	function addRemoveEducationBtn()
	{
		if ($('#removeRow').length > 0)
			return

		$('#education').append('<button type="button" id="removeRow" class="btn btn-danger btn-sm" onclick="removeEducationRow();">Remove Row</button>');
	}

</script>
{% endblock %}