{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorSettingsPage.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorProfileEditPage.css' %}"/>
<div class="container" style="margin: auto;overflow-x: hidden;">
   <br>
   {% if messages %}
      {% for message in messages %}
         {% if message.tags == "error" %}
         <div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
         {% else %}
         <div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
         {% endif %}
      {% endfor %}
   {% endif %}
   <div class="row gutters-sm">
      <div class="col-md-4 col-lg-4">
         <div class="card">
            <div class="card-body">
               <nav class="nav flex-column nav-pills nav-gap-y-1">
                  <a href="#general" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                  <i class="fas fa-user"></i>
                  <label class="side-bar-text">General</label>
                  </a>
                  <a href="#biography" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <i class="fa fa-book"></i>
                  <label class="side-bar-text">Biography</label>
                  </a>
                  <a href="#security" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <i class="fas fa-key"></i>
                  <label class="side-bar-text">Security</label>
                  </a>
                  <a href="#notification" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <i class="fas fa-bell-slash"></i>
                  <label class="side-bar-text">Notification</label>
                  </a>
                  <a href="#account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                  <i class="fas fa-trash-alt"></i>
                  <label class="side-bar-text">Account</label>
                  </a>
               </nav>
            </div>
         </div>
      </div>
      <div class="col-md-8 col-lg-8">
         <div class="card">
            <div class="card-body tab-content">
               <div class="tab-pane active" id="general">
                  <h6>YOUR GENERAL INFORMATION</h6>
                  <hr>
                  <form method="post" enctype="multipart/form-data">
                     <input type="text" name="updateGeneralInformation" hidden>
                     {% csrf_token %}
                     <div class="card-body media align-items-center">
                        {% if request.user.tutorprofile.profilePicture %}
                        <img src="{{ request.user.tutorprofile.profilePicture.url }}" alt="" class="d-block ui-w-80 rounded-circle">
                        {% else %}
                        <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" alt="" class="d-block ui-w-80 rounded-circle">
                        {% endif %}
                        <div class="media-body ml-4">
                           <label class="btn btn-danger" for="profilePicture">
                           <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;&nbsp;
                           <input id="profilePicture" name="profilePicture" type="file" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)"> Choose a File
                           </label> &nbsp; <button type="reset" class="btn btn-info md-btn-flat">Reset</button> 
                           <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                           <div class="text-light small mt-1" id="upload-file-info"></div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col">
                              <label for="fullName">First Name</label>
                              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" value="{{ request.user.tutorprofile.user.first_name }}" required>
                           </div>
                           <div class="col">
                              <label for="fullName">Last Name</label>
                              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" value="{{ request.user.tutorprofile.user.last_name }}" required>
                           </div>
                        </div>
                        <small id="fullNameHelp" class="form-text text-muted">Your name may appear around here where you are mentioned.</small>
                     </div>
                     <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" value="{{ request.user.email }}" disabled>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                     </div>
                     <div class="form-group">
                        <label for="url">Profile page</label>
                        <br>
                        <a href="http://{{ request.META.HTTP_HOST }}/tutorprofile/{{ request.user.tutorprofile.secondary_key }}/">http://{{ request.META.HTTP_HOST }}/tutorprofile/{{ request.user.tutorprofile.secondary_key }}/</a>
                     </div>
                     <div class="form-group small text-muted">
                        Some of the fields on this page are mandatory and by filling them out, you're giving us consent to share this data wherever your user profile appears.
                     </div>
                     <button type="submit" class="btn btn-primary">Update Profile</button>
                     <button type="reset" class="btn btn-light">Reset Changes</button>
                  </form>
               </div>
               <div class="tab-pane" id="biography" style="color: black;">
                  <h6>BIOGRAPHY</h6>
                  <hr>
                  <form method="post">
                     {% csrf_token %}
                     <div class="form-group">
                        <h4 for="summary">Summary</h4>
                        <input type="text" class="form-control" id="summary" name="summary" value="{{ request.user.tutorprofile.summary }}" required>
                     </div>
                     <hr>
                     <div class="form-group">
                        <h4 for="about">About</h4>
                        <textarea class="form-control autosize" id="about" name="about" rows="15" required>{{ request.user.tutorprofile.about }}</textarea>
                     </div>
                     <hr>
                     <div class="form-group" id="education">
                        <h4 for="education" style="display:inline;">Education</h4>
                        <div id="listOfEducation">
                           {% for key,value in request.user.tutorprofile.education.items %}
                           <div class="row" id="education_{{ forloop.counter }}">
                              <div class="col-md-4 panel-pad-10">
                                 <div class="card">
                                    <input type="text" class="form-control" id="school_name_{{ forloop.counter }}"
                                       name="school_name_{{ forloop.counter }}" placeholder="School Name" value="{{value.school_name}}"
                                       required>
                                 </div>
                              </div>
                              <div class="col-md-4 panel-pad-10">
                                 <div class="card">
                                    <input type="text" class="form-control" id="qualification_{{ forloop.counter }}"
                                       name="qualification_{{ forloop.counter }}" placeholder="Qualification &amp; Grade(s)"
                                       value="{{value.qualification}}" required>
                                 </div>
                              </div>
                              <div class="col-md-4 panel-pad-10">
                                 <div class="card">
                                    <input type="text" class="form-control" id="year_{{ forloop.counter }}"
                                       name="year_{{ forloop.counter }}" placeholder="Attended Years" value="{{value.year}}"
                                       required>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" onclick="addEducationRow();">Add another</button>
                     </div>
                     <hr>
                     <div class="form-group">
                        <h4 for="availability">Availability</h4>
                        <table class="table" id="availabilitySchedule" style="width: auto; margin-left: -10px;">
                           <thead>
                              <tr>
                                 <th scope="col"></th>
                                 <th scope="col" style="padding-left:0px">Morning</th>
                                 <th scope="col" style="padding-left:0px">Afternoon</th>
                                 <th scope="col" style="padding-left:0px">Evening</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for key,value in request.user.tutorprofile.availability.items %}
                              <tr>
                                 <th style="vertical-align: middle; padding-left:0px" scope="row">{{key|title}}</th>
                                 <td style="text-align: center; padding-left:0px">
                                    {% if value.morning %}
                                    <div class="card_2">
                                       <div class="checkbox-container circular-container">
                                          <label class="checkbox-label">
                                          <input type="checkbox" name="availabilityChoices" value="{{key}}_morning" checked>
                                          <span class="checkbox-custom circular"></span>
                                          </label>
                                       </div>
                                    </div>
                                    {% else %}
                                    <div class="card_2">
                                       <div class="checkbox-container circular-container">
                                          <label class="checkbox-label">
                                          <input type="checkbox" name="availabilityChoices" value="{{key}}_morning">
                                          <span class="checkbox-custom circular"></span>
                                          </label>
                                       </div>
                                    </div>
                                    {% endif %}
                                 </td>
                                 <td style="text-align: center; padding-left:0px">
                                    {% if value.afternoon %}
                                    <div class="card_2">
                                       <div class="checkbox-container circular-container">
                                          <label class="checkbox-label">
                                          <input type="checkbox" name="availabilityChoices" value="{{key}}_afternoon" checked>
                                          <span class="checkbox-custom circular"></span>
                                          </label>
                                       </div>
                                    </div>
                                    {% else %}
                                    <div class="card_2">
                                       <div class="checkbox-container circular-container">
                                          <label class="checkbox-label">
                                          <input type="checkbox" name="availabilityChoices" value="{{key}}_afternoon">
                                          <span class="checkbox-custom circular"></span>
                                          </label>
                                       </div>
                                    </div>
                                    {% endif %}
                                 </td>
                                 <td style="text-align: center; padding-left:0px">
                                    {% if value.evening %}
                                    <div class="card_2">
                                       <div class="checkbox-container circular-container">
                                          <label class="checkbox-label">
                                          <input type="checkbox" name="availabilityChoices" value="{{key}}_evening" checked>
                                          <span class="checkbox-custom circular"></span>
                                          </label>
                                       </div>
                                    </div>
                                    {% else %}
                                    <div class="card_2">
                                       <div class="checkbox-container circular-container">
                                          <label class="checkbox-label">
                                          <input type="checkbox" name="availabilityChoices" value="{{key}}_evening">
                                          <span class="checkbox-custom circular"></span>
                                          </label>
                                       </div>
                                    </div>
                                    {% endif %}
                                 </td>
                                 {% endfor %}
                           </tbody>
                        </table>
                     </div>
                     <hr>
                     <div class="form-group">
                        <h2 for="subjects">Subjects</h2>
                        <select class="multiple-subjects form-control" name="subjects" multiple="multiple" required>
                           {% for subject in request.user.tutorprofile.getSubjectsAsList %}
                           <option selected="selected">{{subject}}</option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="form-group" id="outer" style="width:100%; text-align: center;">
                        <div class="inner" style="display: inline-block;">
                           <button type="submit" class="btn btn-success">Save</button>
                        </div>
                        &#xA0;
                        <div class="inner" style="display: inline-block;">
                           <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                        &#xA0;
                        <div class="inner" style="display: inline-block;">
                           <a href="{% url 'accounts:tutorprofile' %}" class="btn btn-danger">Cancel</a>
                        </div>
                     </div>
                     <input type="hidden" name="numberOfEducation" value="1">
                     <input type="hidden" name="updateTutorProfile">
                  </form>
               </div>
               <div class="tab-pane" id="security">
                  <h6>SECURITY SETTINGS</h6>
                  <hr>
                  <form method="post">
                     {% csrf_token %}
                     <input type="text" name="changePassword" hidden>
                     <div class="form-group">
                        <label class="d-block">Change Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Enter Current Password" required>
                        <input type="password" class="form-control mt-1" id="newPassword" name="newPassword" placeholder="Enter New Password" required>
                        <input type="password" class="form-control mt-1" id="confirmPassword" name="confirmPassword" placeholder="Enter New Password Again" required>
                     </div>
                     <button type="submit" class="btn btn-primary btn-sm">Save Password</button>
                     <button type="reset" class="btn btn-light btn-sm">Reset Changes</button>
                  </form>
                  <hr>
                  <form>
                     <div class="form-group">
                        <label class="d-block">Two Factor Authentication</label>
                        <button class="btn btn-info" type="button">Enable two-factor authentication</button>
                        <p class="small text-muted mt-2">Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</p>
                     </div>
                  </form>
                  <hr>
               </div>
               <div class="tab-pane" id="notification">
                  <h6>NOTIFICATION SETTINGS</h6>
                  <hr>
                  <form method="post">
                     {% csrf_token %}
                     <input type="text" name="notificationSettings" hidden>
                     <div class="form-group">
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="loginAttemptNotification" name="loginAttemptNotification">
                           <label class="custom-control-label" for="loginAttemptNotification">Email me when login attempted on a new device</label>
                        </div>
                        <br>
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="questionNotification" name="questionNotification">
                           <label class="custom-control-label" for="questionNotification">Email me when someone asks me a question.</label>
                        </div>
                        <br>
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="answerOnForum" name="answerOnForum">
                           <label class="custom-control-label" for="answerOnForum">Email me when someone answers on my forum thread</label>
                        </div>
                        <br>
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" id="messageOnChat" name="messageOnChat">
                           <label class="custom-control-label" for="messageOnChat">Email me when someone messages me on the chat.</label>
                        </div>
                     </div>
                     <hr>
                     <button type="submit" class="btn btn-primary">Update Notification</button>
                     <button type="reset" class="btn btn-light">Reset Changes</button>
                  </form>
               </div>
               <div class="tab-pane" id="account">
                  <h6>ACCOUNT SETTINGS</h6>
                  <hr>
                  <form method="post">
                     {% csrf_token %}
                     <input type="text" name="deleteAccount" hidden>
                     <button class="btn btn-info" type="button" id="request-delete-code" onclick="requestDeleteCode()">Request Code</button>
                     <small class="form-text text-muted">We'll send you a code to your email. Copy and Paste the code below.</small>
                     <br>
                     <input type="text" class="form-control" id="delete-code" name="delete-code" placeholder="Enter the code here" required>
                     <br>
                     <div class="form-group">
                        <label class="d-block text-danger">Delete Account</label>
                        <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be certain.</p>
                     </div>
                     <button class="btn btn-danger" type="submit" id="delete-account-btn">Delete Account</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">

	$(document).ready(function()
      {
         $("#delete-account-btn").prop('disabled', true);

         $(".multiple-subjects").select2(
            {
               tags: true,
            }
         );
      }
   );

	var numberOfEducation = {{ request.user.tutorprofile.education|length }};
	$('input[name=numberOfEducation]').val(numberOfEducation);

	addRemoveEducationBtn();
	
	function addEducationRow()
	{
		addRemoveEducationBtn();
		numberOfEducation = numberOfEducation + 1;

		var newRow = `<div class="row" id="education_`+numberOfEducation+`">
					    <div class="col-md-4 panel-pad-10">
					        <div class="card">
					            <input type="text" class="form-control" id="school_name_`+numberOfEducation+`"
					                name="school_name_`+numberOfEducation+`" placeholder="School Name" required>
					        </div>
					    </div>
					    <div class="col-md-4 panel-pad-10">
					        <div class="card">
					            <input type="text" class="form-control" id="qualification_`+numberOfEducation+`"
					                name="qualification_`+numberOfEducation+`" placeholder="Qualification &amp; Grade(s)"
					                required>
					        </div>
					    </div>
					    <div class="col-md-4 panel-pad-10">
					        <div class="card">
					            <input type="text" class="form-control" id="year_`+numberOfEducation+`" name="year_`+numberOfEducation+`"
					                placeholder="Attended Years" required>
					        </div>
					    </div>
					</div>`;

		$('input[name=numberOfEducation]').val(numberOfEducation);
		$('#listOfEducation').append(newRow);
	}

	function removeEducationRow()
	{
		$('#listOfEducation').children().last().remove();
		numberOfEducation = numberOfEducation - 1;

		$('input[name=numberOfEducation]').val(numberOfEducation);

		if ($('#listOfEducation').children().length == 0)
			$('#removeRow').remove();
	}

	function addRemoveEducationBtn()
	{
		if ($('#removeRow').length > 0)
			return

		$('#education').append('<button type="button" id="removeRow" class="btn btn-danger btn-sm" onclick="removeEducationRow();">Remove Row</button>');
	}

	function requestDeleteCode()
   {
		$.ajax({
			url: '{% url "accounts:requestDeleteCode" %}',
			success: function (response)
         {
				if(response.status_code == 200)
            {
					$('#request-delete-code').remove();
					$("#delete-account-btn").prop('disabled', false);
					Swal.fire({
						icon: 'success',
						title: "Operation Success!",
						text: response.message
					});

				}
            else if (response.status_code == 401)
            {
					Swal.fire({
						icon: 'warning',
						title: "Can't do that!",
						text: response.message
					});

				}
            else if (response.status_code == 403)
            {
					Swal.fire({
						icon: 'error',
						title: "Can't do that!",
						text: response.message
					});
				}
			}
		});
	}

</script>
{% endblock %}