{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	@media (min-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 75%;
		}
	}

	@media (min-width: 972px) and (max-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
	}

	@media (min-width: 700px) and (max-width: 959px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
		
	}
</style>
<div class="wrapper" style="margin: auto;overflow-x: hidden; color: black;">
    <br>
    <div>
    	<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target=".bd-example-modal-lg">Create Issue</button>
	    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	        <div class="modal-dialog modal-lg">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="exampleModalLongTitle">Create Issue</h5>
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                    </button>
	                </div>
	                <div class="modal-body">
						<form method="post">
							{% csrf_token %}
							<input type="text" name="create_ticket" hidden>
						    <div class="form-group row">
						        <label for="project" class="col-sm-2 col-form-label"><b>Project</b></label>
						        <div class="col-sm-10">
						            <select class="form-control" name="project">
										<option>OneTutor (OT)</option>
										<option>Jira</option>
										<option>Dashboard</option>
									</select>
								</div>
						    </div>
						    <div class="form-group row">
						        <label for="issuetype" class="col-sm-2 col-form-label"><b>Issue Type</b></label>
						        <div class="col-sm-10">
						            <select class="form-control" name="issuetype">
						            	<option>Bug</option>
										<option>Improvement</option>
										<option>Story</option>
										<option>Task</option>
										<option>Test</option>
										<option>Epic</option>
									</select>
								</div>
						    </div>
						    <hr>
						    <div class="form-group row">
						        <label for="reporter" class="col-sm-2 col-form-label"><b>Reporter</b></label>
						        <div class="col-sm-10">
						            <select class="form-control" name="reporter">
						            	<!-- TODO: If more superusers, then selected will be this user. -->
						            	{% for superuser in superusers %}
										<option value="{{superuser.id}}">{{superuser}}</option>
						            	{% endfor %}
									</select>
								</div>
						    </div>
						    <div class="form-group row">
						        <label for="assignee" class="col-sm-2 col-form-label"><b>Assignee</b></label>
						        <div class="col-sm-10">
						            <select class="form-control" name="assignee">
						            	{% for superuser in superusers %}
										<option value="{{superuser.id}}">{{superuser}}</option>
						            	{% endfor %}
									</select>
								</div>
						    </div>
						    <hr>
						    <div class="form-group row">
						        <label for="summary" class="col-sm-2 col-form-label"><b>Summary</b></label>
						        <div class="col-sm-10">
						            <input type="text" class="form-control" id="summary" name="summary" placeholder="Add issue summary here" required>
						        </div>
						    </div>
						    <div class="form-group row">
						        <label for="description" class="col-sm-2 col-form-label"><b>Description</b></label>
						        <div class="col-sm-10">
						        	<textarea class="form-control" id="description" name="description" rows="5" placeholder="Add issue description here" required></textarea>
						        </div>
						    </div>
						    <div class="form-group row">
						        <label for="points" class="col-sm-2 col-form-label"><b>Issue Points</b></label>
						        <div class="col-sm-10">
						        	<input type="text" class="form-control" id="points" name="points" placeholder="Add issue points here" required>
						        </div>
						    </div>
						    <div class="modal-footer">
						    	<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
						    	<button type="submit" class="btn btn-success">Create Issue</button>
						    </div>
						</form>
	                </div>
	                
	            </div>
	        </div>
	    </div>
    </div>
    <div class="col-xs-12" style="height:50px;"></div>
    <div>
    	<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Key</th>
                <th>Summary</th>
                <th>Issue Type</th>
                <th>Created</th>
                <th>Assignee</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
        	{% for ticket in tickets %}
            <tr>
                <td><a href="{% url 'jira:ticketpage' ticket.url %}">{{ticket.url}}</a></td>
                <td>{{ticket.summary}}</td>
                <td>
                	{% if ticket.issueType == "Bug" %}
                	<p hidden>Bug</p><img src='{% static "img/bug.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Bug">
                	{% elif ticket.issueType == "Improvement" %}
                	<p hidden>Improvement</p><img src='{% static "img/improvement.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Improvement">
                	{% elif ticket.issueType == "Story" %}
                	<p hidden>Story</p><img src='{% static "img/story.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Story">
                	{% elif ticket.issueType == "Task" %}
                	<p hidden>Task</p><img src='{% static "img/task.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Task">
                	{% elif ticket.issueType == "Test" %}
                	<p hidden>Test</p><img src='{% static "img/test.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Test">
                	{% elif ticket.issueType == "Epic" %}
                	<p hidden>Epic</p><img src='{% static "img/epic.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Epic">
                	{% else %}
                	<p hidden></p><img src='' width="20" height="20">
                	{% endif %}
                </td>
                <td>{{ticket.createdDate}}</td>
                <td>{{ticket.assignee}}</td>
                <td>
                	{% if ticket.status == "Open" %}
                	<span class="badge badge-info">{{ticket.status}}</span>
                	{% elif ticket.status == "Progress" %}
                	<span class="badge badge-warning">{{ticket.status}}</span>
                	{% elif ticket.status == "Done" %}
                	<span class="badge badge-success">{{ticket.status}}</span>
                	{% elif ticket.status == "Cancelled" %}
                	<span class="badge badge-danger">{{ticket.status}}</span>
                	{% else %}
                	<span class="badge badge-secondary">{{ticket.status}}</span>
                	{% endif %}
                </td>
                <td>
                	{% if ticket.priority == "Low" %}
                	<span class="badge badge-success">{{ticket.priority}}</span>
                	{% elif ticket.priority == "Medium" %}
                	<span class="badge badge-warning">{{ticket.priority}}</span>
                	{% elif ticket.priority == "High" %}
                	<span class="badge badge-danger">{{ticket.priority}}</span>
                	{% else %}
                	<span class="badge badge-secondary">{{ticket.priority}}</span>
                	{% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
	    
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
} );
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
{% endblock %}