{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	@media (min-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 80%;
		}
	}

	@media (min-width: 972px) and (max-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
	}

	@media (min-width: 700px) and (max-width: 959px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
		
	}

	.tickets {
		background-color: #f1f1f1;
		border: 1px solid #d3d3d3;
		width: 100%;
	}

	.card {
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    min-width: 0;
	    word-wrap: break-word;
	    background-color: #fff;
	    background-clip: border-box;
	    border: 0 solid transparent;
	    border-radius: 0;
	}

	ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
</style>
<div class="col-xs-12" style="height:10px;"></div>
<button id="ticket_description_modal_button" data-toggle="modal" data-target=".bd-example-modal-lg" hidden></button>
<div id="ticket_description_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="#myLargeModalLabel" aria-hidden="true" style="color:black;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-8">
            			<input class="form-control form-control-lg" type="text" placeholder="Ticket title" id="ticket_title_modal_field">
            			<br>
            			<strong>Description</strong>
            			<br>
            			<textarea cols="60" rows="5" id="ticket_description_modal_field" oninput="auto_grow(this)"></textarea>
            			<div id="changeMade" value="false" hidden></div>
            			<div id="ticket_code" hidden></div>
            		</div>
            		<div class="col-4">
            			<p style="color: rgb(117, 117, 117); margin: 0px;">Assignees</p>
            			<div style="display: flex; -webkit-box-align: center; align-items: center; margin: 0.5rem 0px; overflow-wrap: anywhere;">
            				<div>
            					<div style="height: 2rem; width: 2rem; margin-right: 0.5rem;">
            						<img alt="shark" src="https://knboard.com/media/avatars/shark.png" style="color: transparent; width: 100%; height: 100%; object-fit: cover; text-align: center; text-indent: 10000px">
            					</div>
            				</div>
            				<div>User--</div>
            			</div>
            			<br>
            			<small>Column</small>
            			<select class="form-control" id="ticket_status_dropdown">
            				
            			</select>
            			<small>Priority</small>
            			<select class="form-control" id="ticket_priority_dropdown">

            			</select>
            			<small>Issue Type</small>
            			<select class="form-control" id="ticket_issue_type_dropdown">
            				
            			</select>
            			<small>Labels</small>
            			<select class="form-control">
            				<option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
            			</select>
            			<br>
            			<button type="button" class="btn btn-danger"><i class='fa fa-trash-o' style='font-size:20px'></i> Delete Ticket</button>
            			<br><br>
            			<button type="button" class="btn btn-success" onclick="updateTicketAttributesFromModal();"><i class='fa fa-check' style='font-size:20px'></i> Update Ticket</button>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" style="margin: auto;overflow-x: hidden;">
    <br>
    <div class="row gutters-sm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body tab-content" style="color: black;">
                	<h3>One Tutor ({{active_sprint.startDate}} - {{active_sprint.endDate}})</h3>
                	<hr>
                	<div class="row">
                		<div class="col">
                			<div class="row">TO DO</div>
                			<ul class="tickets connectedSortable" id="sortable_1">
                				{% for ticket in todo_tickets %}
							    <li id="jira_ticket_{{ticket.id}}_in_board" isticket="true" class="single-note-item all-category shadow p-3 mb-2 bg-white rounded" style="width: 100%; cursor: move;" draggable="true">
							    	<div id="ticket_details" hidden>
							    		<span>{{ ticket.status }}</span>
							    		<span>{{ ticket.priority }}</span>
							    		<span>{{ ticket.summary }}</span>
							    		<span>{{ ticket.description|linebreaksbr }}</span>
							    		<span>{{ ticket.id}}</span>
							    		<span>{{ ticket.issue_type}}</span>
							    	</div>
							        <div class="card card-body">
							        	<a id="ticket_url" href="{% url 'jira:ticketpage' ticket.url %}" style="color: grey;">{{ticket.url}}</a>
							            <h6 id="ticket_{{ ticket.id }}_summary_UI_text" class="note-title text-truncate w-75 mb-0">{{ticket.summary}} </h6>
							            <br>
							            <div>
							            	{% if ticket.issue_type == "Bug" %}
						                	<p hidden>Bug</p><img src='{% static "img/bug.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Bug">
						                	{% elif ticket.issue_type == "Improvement" %}
						                	<p hidden>Improvement</p><img src='{% static "img/improvement.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Improvement">
						                	{% elif ticket.issue_type == "Story" %}
						                	<p hidden>Story</p><img src='{% static "img/story.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Story">
						                	{% elif ticket.issue_type == "Task" %}
						                	<p hidden>Task</p><img src='{% static "img/task.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Task">
						                	{% elif ticket.issue_type == "Test" %}
						                	<p hidden>Test</p><img src='{% static "img/test.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Test">
						                	{% elif ticket.issue_type == "Epic" %}
						                	<p hidden>Epic</p><img src='{% static "img/epic.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Epic">
						                	{% else %}
						                	<p hidden></p><img src='' width="20" height="20">
						                	{% endif %}

											{% if ticket.priority == "Low" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-success">{{ticket.priority}}</span>
											{% elif ticket.priority == "Medium" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-warning">{{ticket.priority}}</span>
											{% elif ticket.priority == "High" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-danger">{{ticket.priority}}</span>
											{% else %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-secondary">{{ticket.priority}}</span>
											{% endif %}

											<span class="badge badge-pill badge-secondary">{{ticket.points}}</span>
							            </div>
							        </div>
							    </li>
							    {% endfor %}
                			</ul>
                		</div>
                		<div class="col">
                			<div class="row">IN PROGRESS</div>
                			<ul class="tickets connectedSortable" id="sortable_2">
                				{% for ticket in prog_tickets %}
							    <li id="jira_ticket_{{ticket.id}}_in_board" isticket="true" class="single-note-item all-category shadow p-3 mb-2 bg-white rounded" style="width: 100%; cursor: move;" draggable="true">
							    	<div id="ticket_details" hidden>
							    		<span>{{ ticket.status }}</span>
							    		<span>{{ ticket.priority }}</span>
							    		<span>{{ ticket.summary }}</span>
							    		<span>{{ ticket.description|linebreaksbr }}</span>
							    		<span>{{ ticket.id}}</span>
							    		<span>{{ ticket.issue_type}}</span>
							    	</div>
							        <div class="card card-body">
							            <a id="ticket_url" href="{% url 'jira:ticketpage' ticket.url %}" style="color: grey;">{{ticket.url}}</a>
							            <h6 id="ticket_{{ ticket.id }}_summary_UI_text" class="note-title text-truncate w-75 mb-0">{{ticket.summary}} </h6>
							            <br>
							            <div>
							            	{% if ticket.issue_type == "Bug" %}
						                	<p hidden>Bug</p><img src='{% static "img/bug.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Bug">
						                	{% elif ticket.issue_type == "Improvement" %}
						                	<p hidden>Improvement</p><img src='{% static "img/improvement.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Improvement">
						                	{% elif ticket.issue_type == "Story" %}
						                	<p hidden>Story</p><img src='{% static "img/story.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Story">
						                	{% elif ticket.issue_type == "Task" %}
						                	<p hidden>Task</p><img src='{% static "img/task.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Task">
						                	{% elif ticket.issue_type == "Test" %}
						                	<p hidden>Test</p><img src='{% static "img/test.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Test">
						                	{% elif ticket.issue_type == "Epic" %}
						                	<p hidden>Epic</p><img src='{% static "img/epic.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Epic">
						                	{% else %}
						                	<p hidden></p><img src='' width="20" height="20">
						                	{% endif %}

						                	{% if ticket.priority == "Low" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-success">{{ticket.priority}}</span>
											{% elif ticket.priority == "Medium" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-warning">{{ticket.priority}}</span>
											{% elif ticket.priority == "High" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-danger">{{ticket.priority}}</span>
											{% else %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-secondary">{{ticket.priority}}</span>
											{% endif %}

											<span class="badge badge-pill badge-secondary">{{ticket.points}}</span>
							            </div>
							        </div>
							    </li>
							    {% endfor %}
                			</ul>
                		</div>
                		<div class="col">
                			<div class="row">DONE</div>
                			<ul class="tickets connectedSortable" id="sortable_3">
                				{% for ticket in done_tickets %}
							    <li id="jira_ticket_{{ticket.id}}_in_board" isticket="true" class="single-note-item all-category shadow p-3 mb-2 bg-white rounded" style="width: 100%; cursor: move;" draggable="true">
							    	<div id="ticket_details" hidden>
							    		<span>{{ ticket.status }}</span>
							    		<span>{{ ticket.priority }}</span>
							    		<span>{{ ticket.summary }}</span>
							    		<span>{{ ticket.description|linebreaksbr }}</span>
							    		<span>{{ ticket.id}}</span>
							    		<span>{{ ticket.issue_type}}</span>
							    	</div>
							        <div class="card card-body">
							            <a id="ticket_url" href="{% url 'jira:ticketpage' ticket.url %}" style="color: grey;">{{ticket.url}}</a>
							            <h6 id="ticket_{{ ticket.id }}_summary_UI_text" class="note-title text-truncate w-75 mb-0">{{ticket.summary}} </h6>
							            <br>
							            <div>
							            	{% if ticket.issue_type == "Bug" %}
						                	<p hidden>Bug</p><img src='{% static "img/bug.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Bug">
						                	{% elif ticket.issue_type == "Improvement" %}
						                	<p hidden>Improvement</p><img src='{% static "img/improvement.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Improvement">
						                	{% elif ticket.issue_type == "Story" %}
						                	<p hidden>Story</p><img src='{% static "img/story.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Story">
						                	{% elif ticket.issue_type == "Task" %}
						                	<p hidden>Task</p><img src='{% static "img/task.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Task">
						                	{% elif ticket.issue_type == "Test" %}
						                	<p hidden>Test</p><img src='{% static "img/test.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Test">
						                	{% elif ticket.issue_type == "Epic" %}
						                	<p hidden>Epic</p><img src='{% static "img/epic.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Epic">
						                	{% else %}
						                	<p hidden></p><img src='' width="20" height="20">
						                	{% endif %}

						                	{% if ticket.priority == "Low" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-success">{{ticket.priority}}</span>
											{% elif ticket.priority == "Medium" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-warning">{{ticket.priority}}</span>
											{% elif ticket.priority == "High" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-danger">{{ticket.priority}}</span>
											{% else %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-secondary">{{ticket.priority}}</span>
											{% endif %}

											<span class="badge badge-pill badge-secondary">{{ticket.points}}</span>
							            </div>
							        </div>
							    </li>
							    {% endfor %}

							    <!-- Cancelled Tickets -->
							    {% for ticket in canc_tickets %}
							    <li id="jira_ticket_{{ticket.id}}_in_board" isticket="true" class="single-note-item all-category shadow p-3 mb-2 bg-white rounded" style="width: 100%; cursor: move;" draggable="true">
							    	<div id="ticket_details" hidden>
							    		<span>{{ ticket.status }}</span>
							    		<span>{{ ticket.priority }}</span>
							    		<span>{{ ticket.summary }}</span>
							    		<span>{{ ticket.description|linebreaksbr }}</span>
							    		<span>{{ ticket.id }}</span>
							    		<span>{{ ticket.issue_type}}</span>
							    	</div>
							        <div class="card card-body">
							            <a id="ticket_url" href="{% url 'jira:ticketpage' ticket.url %}" style="color: grey;">{{ticket.url}}</a>
							            <h6 id="ticket_{{ ticket.id }}_summary_UI_text" class="note-title text-truncate w-75 mb-0">{{ticket.summary}} </h6>
							            <br>
							            <div>
							            	{% if ticket.issue_type == "Bug" %}
						                	<p hidden>Bug</p><img src='{% static "img/bug.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Bug">
						                	{% elif ticket.issue_type == "Improvement" %}
						                	<p hidden>Improvement</p><img src='{% static "img/improvement.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Improvement">
						                	{% elif ticket.issue_type == "Story" %}
						                	<p hidden>Story</p><img src='{% static "img/story.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Story">
						                	{% elif ticket.issue_type == "Task" %}
						                	<p hidden>Task</p><img src='{% static "img/task.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Task">
						                	{% elif ticket.issue_type == "Test" %}
						                	<p hidden>Test</p><img src='{% static "img/test.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Test">
						                	{% elif ticket.issue_type == "Epic" %}
						                	<p hidden>Epic</p><img src='{% static "img/epic.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="Epic">
						                	{% else %}
						                	<p hidden></p><img src='' width="20" height="20">
						                	{% endif %}

						                	{% if ticket.priority == "Low" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-success">{{ticket.priority}}</span>
											{% elif ticket.priority == "Medium" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-warning">{{ticket.priority}}</span>
											{% elif ticket.priority == "High" %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-danger">{{ticket.priority}}</span>
											{% else %}
											<span id="ticket_{{ ticket.id }}_priority_UI_badge" class="badge badge-secondary">{{ticket.priority}}</span>
											{% endif %}

											<span class="badge badge-pill badge-secondary">{{ticket.points}}</span>
							            </div>
							        </div>
							    </li>
							    {% endfor %}
                			</ul>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	$( function() {
		$( "#sortable_1, #sortable_2, #sortable_3" ).sortable({
			// revert: true
			connectWith: ".connectedSortable"
		}).disableSelection();

		$( "#draggable" ).draggable({
			connectToSortable: "#sortable",
			helper: "clone",
			revert: "invalid"
		});
		$( "ul, li" ).disableSelection();
	});

	$("#sortable_1").on('DOMNodeInserted', function(e) {
		// ticket moved to: TO DO
		var p_element = e.target.querySelector('a');

		if (p_element != null) {
			var moved_ticket_url = p_element.innerHTML;

			$.ajax({
				data: {
					'functionality': 'update_ticket_status',
					'moved_ticket_url': moved_ticket_url,
					'new_status': 'Open'
				},
				dataType: 'json',
				success: function (response) {}
			});
		}
	});

	$("#sortable_2").on('DOMNodeInserted', function(e) {
		// ticket moved to: IN PROGRESS
		var p_element = e.target.querySelector('a');

		if (p_element != null) {
			var moved_ticket_url = p_element.innerHTML;

			$.ajax({
				data: {
					'functionality': 'update_ticket_status',
					'moved_ticket_url': moved_ticket_url,
					'new_status': 'Progress'
				},
				dataType: 'json',
				success: function (response) {}
			});
		}
	});

	$("#sortable_3").on('DOMNodeInserted', function(e) {
		// ticket moved to: IN DONE
		var p_element = e.target.querySelector('a');

		if (p_element != null) {
			var moved_ticket_url = p_element.innerHTML;

			$.ajax({
				data: {
					'functionality': 'update_ticket_status',
					'moved_ticket_url': moved_ticket_url,
					'new_status': 'Done'
				},
				dataType: 'json',
				success: function (response) {}
			});
		}
	});

	window.onclick = e => {
        openTicketModalDescription(e.target);
    }

    function openTicketModalDescription(e) {

    	try {

            if (e.hasAttribute("isticket")) {

            	var ticket_status = getTicketStatusDropdownSelected(e.children[0].children[0].innerHTML);
            	var ticket_priority = getTicketPriorityDropdownSelected(e.children[0].children[1].innerHTML);
            	var ticket_summary = e.children[0].children[2].innerHTML;
            	var ticket_description = e.children[0].children[3].innerHTML.replace(/<br\s*[\/]?>/gi, "\n").trim();
            	var ticket_id = e.children[0].children[4].innerHTML;
            	var ticket_issue_type = getTicketIssueTypeDropdownSelected(e.children[0].children[5].innerHTML);

            	$('#ticket_status_dropdown').append(ticket_status);
            	$('#ticket_priority_dropdown').append(ticket_priority);
            	$('#ticket_issue_type_dropdown').append(ticket_issue_type);
            	$('#ticket_title_modal_field').val(ticket_summary);
            	$('#ticket_description_modal_field').val(ticket_description);
            	$('#ticket_code').val(ticket_id);
            	$("#changeMade").attr("value","false");

            	// temporary way to open the modal.
                document.getElementById("ticket_description_modal_button").click();
            }

            return openTicketModalDescription(e.parentElement);

        } catch(err) {
            return;
        }
    	
    }

    function getTicketIssueTypeDropdownSelected(issue) {
    	$('#ticket_issue_type_dropdown').children().remove().end();

    	var value = '';

    	if (issue=='Bug') {
    		value += '<option selected >Bug</option>';
    	} else {
    		value += '<option>Bug</option>';
    	}

    	if (issue=='Improvement') {
    		value += '<option selected >Improvement</option>';
    	} else {
    		value += '<option>Improvement</option>';
    	}

    	if (issue=='Story') {
    		value += '<option selected >Story</option>';
    	} else {
    		value += '<option>Story</option>';
    	}

    	if (issue=='Task') {
    		value += '<option selected >Task</option>';
    	} else {
    		value += '<option>Task</option>';
    	}

    	if (issue=='Test') {
    		value += '<option selected >Test</option>';
    	} else {
    		value += '<option>Test</option>';
    	}

    	if (issue=='Epic') {
    		value += '<option selected >Epic</option>';
    	} else {
    		value += '<option>Epic</option>';
    	}

    	return value;
    }

    function getTicketStatusDropdownSelected(status) {
    	$('#ticket_status_dropdown').children().remove().end();

    	var value = '';

    	if (status=='Open') {
    		value += '<option selected value="Open">To Do</option>';
    	} else {
    		value += '<option value="Open">To Do</option>';
    	}

    	if (status=='Progress') {
    		value += '<option selected value="Progress">In progress</option>';
    	} else {
    		value += '<option value="Progress">In progress</option>';
    	}

    	if (status=='Done') {
    		value += '<option selected>Done</option>';
    	} else {
    		value += '<option>Done</option>';
    	}

    	if (status=='Cancelled') {
    		value += '<option selected >Cancelled</option>';
    	} else {
    		value += '<option>Cancelled</option>';
    	}

    	return value;
    }

    function getTicketPriorityDropdownSelected(priority) {
    	$('#ticket_priority_dropdown').children().remove().end();

    	var value = '';

    	if (priority=='Low') {
    		value += '<option selected >Low</option>';
    	} else {
    		value += '<option>Low</option>';
    	}

    	if (priority=='Medium') {
    		value += '<option selected >Medium</option>';
    	} else {
    		value += '<option>Medium</option>';
    	}

    	if (priority=='High') {
    		value += '<option selected>High</option>';
    	} else {
    		value += '<option>High</option>';
    	}

    	if (priority=='None') {
    		value += '<option selected>None</option>';
    	} else {
    		value += '<option>None</option>';
    	}

    	return value;
    }

    function auto_grow(element) {
    	element.style.height = "5px";
    	element.style.height = (element.scrollHeight)+"px";
    }

    function updateTicketAttributesFromModal() {
    	var isChanged = eval($("#changeMade").attr('value'));
    	var new_summary = $('#ticket_title_modal_field').val();
    	var new_description = $('#ticket_description_modal_field').val();
    	var new_column = $('#ticket_status_dropdown').val();
    	var ticket_code = $("#ticket_code").val();
    	var new_priority = $("#ticket_priority_dropdown").val();
    	var new_issue_type = $("#ticket_issue_type_dropdown").val();

    	// TODO: need to update Labels in the database if changed in the UI.

    	if (isChanged) {
    		// either the summary or the description has been changed. Update in the DB.
    		console.log("update in db");
    		$.ajax({
				data: {
					'functionality': 'update_ticket_attributes_from_modal',
					'new_summary': new_summary,
					'new_description': new_description,
					'ticket_code': ticket_code,
					'new_column': new_column,
					'new_priority': new_priority,
					'new_issue_type': new_issue_type,
				},
				dataType: 'json',
				success: function (response) {
					$("#ticket_"+ticket_code+"_summary_UI_text").text(new_summary);
					updateTicketNewPriorityBadgeInUI(ticket_code, new_priority);
					updateTicketNewIssueTypeInUI(ticket_code, new_issue_type);
					updateTIcketNewColumnInUI(ticket_code, new_column);
					// TODO: once the update is complete in the db, then in the UI background update:
					// issue type and labels
				}
			});

    	}
    	$("#changeMade").attr("value","false");
    }

    function updateTIcketNewColumnInUI(ticket_code, new_column) {

    	var ticket_div = document.getElementById('jira_ticket_'+ticket_code+'_in_board');

    	if (new_column == 'Open')
    		$('#sortable_1').append(ticket_div);

    	if (new_column == 'Progress')
    		$('#sortable_2').append(ticket_div);

    	if (new_column == 'Done' || new_column == 'Cancelled')
    		$('#sortable_3').append(ticket_div);

    	return;
    }

    function updateTicketNewPriorityBadgeInUI(ticket_code, new_priority) {

    	var new_class = 'badge ';

    	if (new_priority == 'None') {
    		new_class+= 'badge-secondary';
    	}
    	else if (new_priority == 'Low') {
    		new_class+= 'badge-success';
    	}
    	else if (new_priority == 'Medium') {
    		new_class+= 'badge-warning';
    	}
    	else if (new_priority == 'High') {
    		new_class+= 'badge-danger';
    	}

    	$('#ticket_'+ticket_code+'_priority_UI_badge').attr("class", new_class).text(new_priority);
    }

    function updateTicketNewIssueTypeInUI(ticket_code, new_issue_type) {}

    document.getElementById('ticket_title_modal_field').addEventListener('input', function () {
    	 $("#changeMade").attr("value","true");
    });

    document.getElementById('ticket_description_modal_field').addEventListener('input', function () {
    	 $("#changeMade").attr("value","true");
    });

    $("#ticket_status_dropdown, #ticket_priority_dropdown, #ticket_issue_type_dropdown").on('change', function() {
    	if ($(this).val() != 'selectionKey'){
    		$("#changeMade").attr("value","true");
    	}
    });
</script>
{% endblock %}