{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/searchBox.css' %}"/>
<style type="text/css">
	.profile-userpic img{float:none;margin:0 auto;width:50%;height:50%;-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}
	a, a:visited, a:hover, a:active { color: black; }

	.sidebar-box {
	max-height: 120px;
	position: relative;
	overflow: hidden;
}

.sidebar-box .read-more {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 3px 0;
	/* "transparent" only works here because == rgba(0,0,0,0) */
	/*background-image: linear-gradient(to bottom, transparent, black);*/
}
</style>
<div class="container">
	{% if tutorList %}
		<form method="post">
		   {% csrf_token %}
		   <div class="row" style="background: rgba(0, 0, 0, 0.5); padding: 20px 43px; padding-top: 40px;">
			  <div class="col-xs-5">
				 <div class="form-group">
				 	{% if generalQuery %}
					<input style="border-radius: 0.5px;" type="text" class="form-control" name="generalQuery" placeholder="Try 'GCES Maths'" value="{{ generalQuery }}">
					{% else %}
					<input style="border-radius: 0.5px;" type="text" class="form-control" name="generalQuery" placeholder="Try 'GCES Maths'">
					{% endif %}
				 </div>
			  </div>
			  <div class="col-xs-5">
				 <div class="form-group">
				 	{% if location %}
					<input style="border-radius: 0.5px;" type="text" class="form-control" name="location" placeholder="Try 'London'" value="{{ location }}">
					{% else %}
					<input style="border-radius: 0.5px;" type="text" class="form-control" name="location" placeholder="Try 'London'">
					{% endif %}
				 </div>
			  </div>
			  <div class="col-xs-2">
				 <div class="form-group">
					<input style="border-radius: 0.5px;" class="btn btn-primary" type="submit" value="Submit" style="background-color: #4272d7;">
				 </div>
			  </div>
		   </div>
		</form>
		<br>
		<h3 style="color: black; text-align: center;">Recommended tutors for you.</h3>
		<hr>

		{% for tutor in tutorList %}
            <div class="row" id="{{tutor.pk}}">
            	<br>
            	<div class="col-xs-2">
            		<div class="profile-userpic">
						{% if tutor.profilePicture %}
						<img src="{{ tutor.profilePicture.url }}" class="img-responsive" style="width:120px;" alt="" />
						{% else %}
						<img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" class="img-responsive" style="width:120px;" alt="" />
						{% endif %}
					</div>
            	</div>
            	<div class="col-xs-8 sidebar-box" style="height: 108px;">
            		<a style="cursor: pointer; text-decoration: none;" href="{% url 'tutoring:viewtutorprofile' tutor.secondary_key %}">
            			<h4>{{ tutor.user.first_name }} {{ tutor.user.last_name }}</h4>
            			<p> {{ tutor.summary }}</p>
            			<p> {{ tutor.about|truncatechars:122 }}</p>
            		</a>
            		<p class="read-more"><a href="{% url 'tutoring:viewtutorprofile' tutor.secondary_key %}" class="button"><span class="badge badge-pill badge-light">Read More</span></a></p>
            	</div>
            	<div class="col-xs-2"> TWO </div>
            </div>
		{% endfor %}

	{% else %}
		{% if message %}
			<div style="color: black; text-align: center;" class="alert {{alert}}" role="alert">{{message}}</div>
		{% endif %}
		<div class="s01">
			<form method="post">
				{% csrf_token %}
				<fieldset>
					<legend style="color: black;">Shall we find a tutor for you?</legend>
				</fieldset>
				<div class="inner-form">
					<div class="input-field first-wrap">
						<input type="text" name="generalQuery" placeholder="Try 'GCES Maths'" />
					</div>
					<div class="input-field second-wrap">
						<input type="text" name="location" placeholder="Try 'London'" />
					</div>
					<div class="input-field third-wrap">
						<button class="btn-search" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
	{% endif %}
</div>
{% endblock %}