{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tutoringMainpage.css' %}"/>
<div class="container">
	{% if tutorList %}
		<br><br>
		<form method="post">
			{% csrf_token %}
			<div class="form-row" style="background: rgba(0, 0, 0, 0.5); padding: 43px 43px; padding-top: 40px;">
				<div class="col-5">
					<input style="border-radius: 0.5px;" type="text" class="form-control" name="generalQuery" placeholder="Try 'GCES Maths'" value="{{ generalQuery }}">
				</div>
				<div class="col-5">
					<input style="border-radius: 0.5px;" type="text" class="form-control" name="location" placeholder="Try 'London'" value="{{ location }}">
				</div>
				<div class="col">
					<input style="border-radius: 0.5px;" class="btn btn-primary" type="submit" value="Submit" style="background-color: #4272d7;">
				</div>
			</div>
		</form>
		<hr>
		<br>
		<div class="row">
			<div class="col-12"><div class="card card-margin"><div class="card-body">
				<div class="row search-body"><div class="col-lg-12"><div class="search-result">
					<div class="result-body"><div class="table-responsive">
						<table class="table widget-26">
							<tbody>
								{% for tutor in tutorList %}
								<tr id="{{tutor.pk}}">
									<td>
										<div class="widget-tutor-profile">
											{% if tutor.profilePicture %}
											<img class="img-class-tutor-profile-picture" src="{{ tutor.profilePicture.url }}" onerror="profilePictureNotFound()"/>
											{% else %}
											<img src='{% static "img/default-user-icon.jpg" %}' class="img-responsive" alt="" onerror="profilePictureNotFound()"/>
											{% endif %}
										</div>
									</td>
									<td>
										<div class="widget-tutor-name">
											<a href="{{ tutor.getTutoringUrl }}">{{ tutor.user.first_name }} {{ tutor.user.last_name }}</a>
											<p class="m-0"><a href="#" class="tutor-summary">{{ tutor.summary }}</a></p>
										</div>
									</td>
									<td>
										<div class="widget-tutor-salary">$ 35/hr</div>
									</td>
									<td>
										<div class="widget-tutor-salary">{{ tutor.averageRating|safe }}</div>
									</td>
									<td>
										<div class="widget-tutor-score bg-soft-danger">
											<i class="indicator bg-danger"></i>
											<span>Score</span>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div></div>
				</div></div></div>
			</div></div></div>
		</div>
	{% else %}
	<br>
		{% if messages %}
            {% for message in messages %}
            	{% if message.tags == "error" %}
            	<div style="color: black; text-align: center;" class="alert alert-danger" role="alert">{{message}}</div>
            	{% else %}
            	<div style="color: black; text-align: center;" class="alert alert-{{ message.tags }}" role="alert">{{message}}</div>
            	{% endif %}
            {% endfor %}
        {% endif %}
		<div class="s01">
			<form method="post">
				{% csrf_token %}
				<fieldset>
					<legend style="color: black;">Shall we find a tutor for you?</legend>
				</fieldset>
				<div class="inner-form">
					<div class="input-field first-wrap">
						<input type="text" name="generalQuery" placeholder="Try 'GCES Maths'" />
					</div>
					<div class="input-field second-wrap">
						<input type="text" name="location" placeholder="Try 'London'" />
					</div>
					<div class="input-field third-wrap">
						<button class="btn-search" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
	{% endif %}
</div>
<script type="text/javascript">
	function profilePictureNotFound()
	{
		$('.img-class-tutor-profile-picture').attr('src','{% static "img/default-user-icon.jpg" %}');
	}
</script>
{% endblock %}