{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	.mtgtlDwEfX{font-size:12px;padding:3px 8px;border-radius:4px;text-align:center;color:#fff;background-color:#000;opacity:.64}body{color: black;}
	@media (min-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 75%;
		}
	}

	@media (min-width: 972px) and (max-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
	}

	@media (min-width: 700px) and (max-width: 959px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
	}
</style>
<br>
<div class="wrapper" style="margin: auto;overflow-x: hidden;">
	<br>
	<div class="row gutters-sm">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body tab-content" style="color: black;">
					<div style="overflow-y: scroll; overflow-x: hidden; height:866px;" id="tutor_questions">
						{% if qa %}
							<div class="container question_answer_container_{{qa.id}}">
								<div id="question_answer_id_{{qa.id}}">
									<a href="/subject_tag/{{qa.subject}}" class="mtgtlDwEfX" style="display:inline-block;">{{ qa.subject }}</a>
									{{ qa.questioner.first_name }} {{ qa.questioner.last_name }} asked a question at
									<p style="display:inline-block;" id="tool_tip_date_{{qa.id}}" data-toggle="tooltip" data-placement="top">{{ qa.date }}</p>
								</div>
								
								<div><strong id="qa_question_{{qa.id}}">{{ qa.question|linebreaksbr }}</strong></div>
								<br>
								<div style="width: 970px;" id="qa_answer_{{qa.id}}">{{ qa.answer|linebreaksbr }}</div><br>
								<i class='far fa-thumbs-up' style='font-size:15px'></i> ({{qa.likes.count}}) &nbsp;&nbsp;
								<i class='far fa-thumbs-down' style='font-size:15px'></i> ({{qa.dislikes.count}})<br><br>
								<hr>
							</div>
						{% endif %}

						<div class="container">
							<textarea class="form-control border p-4" id="comment_box" placeholder="write a comment..." rows="3"></textarea><br>
							<div class="pull-right"><button type="button" class="btn btn-outline-primary btn-sm" onclick="post_comment();">Post Comment</button></div>
						</div><br><br>

						<div id="qa_comments_container">
							{% if qa_comments %} {% for qa_c in qa_comments %}
								<div class="question_answer_comment_container_{{qa_c.id}}">
									<div class="container border p-4">
									    <!-- post header -->
									    <div class="row m-0">
									        <div class="">
									            <a class="text-decoration-none" href="#">
									            <img class="" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="50" height="50" alt="...">
									            </a>
									        </div>
									        <div class="flex-grow-1 pl-2">
									            <a class="text-decoration-none" href="#">
									                <h2 class="text-capitalize h5 mb-0">{{ qa_c.creator.get_full_name }}</h2>
									            </a>
									            <p class="small text-secondary m-0 mt-1">1 day ago</p>
									        </div>
									        {% if qa_c.creator.pk == user.pk %}
									        <div class="dropdown">
									            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									            <i class="fas fa-chevron-down"></i>
									            </a>
									            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									                <a class="dropdown-item text-primary" href="#">Edit</a>
									                <a class="dropdown-item text-primary" href="#" onclick="delete_qa_comment('{{qa_c.id}}');">Delete</a>
									            </div>
									        </div>
									        {% endif %}
									    </div>
									    <!-- post body -->
									    <div class="">
									    	<p class="my-2">
												{{ qa_c.comment|linebreaksbr }}
											</p>
										</div>
										<hr class="my-3">
										<!-- post footer begins -->
										<footer>
											<button id="comment_like_id_{{qa_c.id}}" type="button" class="btn btn-default btn-sm" onclick="like_comment('{{qa_c.id}}')">
												<i class='far fa-thumbs-up' style='font-size:15px'></i> ({{qa_c.likes.count}})
											</button>
											<button id="comment_dislike_id_{{qa_c.id}}" type="button" class="btn btn-default btn-sm" onclick="dislike_comment('{{qa_c.id}}')">
												<i class='far fa-thumbs-down' style='font-size:15px'></i> ({{qa_c.dislikes.count}})
											</button>
										</footer>
									</div>
									<br>
								</div>
							{% endfor %} {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>
<script type="text/javascript">
	function like_comment(commentId) {
		$.ajax({
			data: {
				'commentId': commentId,
				'functionality': 'like_comment'
			},
			dataType: 'json',
			success: function (response) {
				if(response.status_code == 200) {
					var this_comment = eval(response.this_comment)[0];
					var number_of_likes = this_comment.fields.likes.length;
					var number_of_dislikes = this_comment.fields.dislikes.length;

					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ number_of_likes +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ number_of_dislikes +')');

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            } else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".question_answer_comment_container_"+commentId ).remove();
	            }
			}
		});
	}

	function dislike_comment(commentId) {
		$.ajax({
			data: {
				'commentId': commentId,
				'functionality': 'dislike_comment'
			},
			dataType: 'json',
			success: function (response) {
				if(response.status_code == 200) {
					var this_comment = eval(response.this_comment)[0];
					var number_of_likes = this_comment.fields.likes.length;
					var number_of_dislikes = this_comment.fields.dislikes.length;

					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ number_of_likes +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ number_of_dislikes +')');

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            } else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".question_answer_comment_container_"+commentId ).remove();
	            }
			}
		});
	}

	function delete_qa_comment(comment_id) {
		$.ajax({
			data: {
				'functionality': 'delete_qa_comment',
				'comment_id': comment_id
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200 || response.status_code == 404) {
					$( ".question_answer_comment_container_"+comment_id ).remove();
				} else {
					Swal.fire({
						icon: 'error',
						title: "Can't do that!",
						text: response.message
					});
				}
			}
		});
	}

	function post_comment() {
		var comment = $("#comment_box").val();
		comment = comment.trim();

		if (comment && !comment.trim() || comment.length==0) {
			alert("Enter a comment!");
			return;
		}

		$("#comment_box").val("");

		$.ajax({
			data: {
				'functionality': 'post_comment',
				'comment': comment
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					var new_qa_comment = eval(response.new_qa_comment)[0];

					var new_comment_text =`
						<div class="question_answer_comment_container_`+new_qa_comment.pk+`">
							<div class="container border p-4">
							    <!-- post header -->
							    <div class="row m-0">
							        <div class="">
							            <a class="text-decoration-none" href="#">
							            <img class="" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="50" height="50" alt="...">
							            </a>
							        </div>
							        <div class="flex-grow-1 pl-2">
							            <a class="text-decoration-none" href="#">
							                <h2 class="text-capitalize h5 mb-0">{{request.user.get_full_name}}</h2>
							            </a>
							            <p class="small text-secondary m-0 mt-1">1 day ago</p>
							        </div>
							        <div class="dropdown">
							            <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							            <i class="fas fa-chevron-down"></i>
							            </a>
							            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							                <a class="dropdown-item text-primary" href="#">Edit</a>
							                <a class="dropdown-item text-primary" href="#" onclick="delete_qa_comment('`+new_qa_comment.pk+`');">Delete</a>
							            </div>
							        </div>
							    </div>
							    <!-- post body -->
							    <div class="">
							    	<p class="my-2">
										`+new_qa_comment.fields.comment.replace(/\n\r?/g, '<br />')+`
									</p>
								</div>
								<hr class="my-3">
								<!-- post footer begins -->
								<footer>
									<button id="comment_like_id_`+new_qa_comment.pk+`" type="button" class="btn btn-default btn-sm" onclick="like_comment(`+new_qa_comment.pk+`')">
										<i class='far fa-thumbs-up' style='font-size:15px'></i> (`+new_qa_comment.fields.likes.length+`)
									</button>
									<button id="comment_dislike_id_`+new_qa_comment.pk+`" type="button" class="btn btn-default btn-sm" onclick="dislike_comment('`+new_qa_comment.pk+`')">
										<i class='far fa-thumbs-down' style='font-size:15px'></i> (`+new_qa_comment.fields.dislikes.length+`)
									</button>
								</footer>
							</div><br>
						</div>`;

					$( "#qa_comments_container" ).prepend( new_comment_text );

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            }
			}
		});
	}
</script>
{% endblock %}