{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	.profile-sidebar{padding:20px 0 10px 0;background:#fff}.profile-userpic img{float:none;margin:0 auto;width:50%;height:50%;-webkit-border-radius:50%!important;-moz-border-radius:50%!important;border-radius:50%!important}.profile-usertitle{text-align:center;margin-top:20px}.profile-usertitle-name{color:#5a7391;font-size:16px;font-weight:600;margin-bottom:7px}.profile-usertitle-job{text-transform:uppercase;color:#5b9bd1;font-size:12px;font-weight:600;margin-bottom:15px}.profile-userbuttons{text-align:center;margin-top:10px}.profile-userbuttons .btn{text-transform:uppercase;font-size:11px;font-weight:600;padding:6px 15px;margin-right:5px}.profile-userbuttons .btn:last-child{margin-right:0}.mtgtlDwEfX{font-size:12px;padding:3px 8px;border-radius:4px;text-align:center;color:#fff;background-color:#000;opacity:.64}
	@media (min-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 75%;
		}
	}

	@media (min-width: 972px) and (max-width: 1200px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
	}

	@media (min-width: 700px) and (max-width: 959px) {
		.container {
			width: 1600px;
		}
		.wrapper {
			width: 90%;
		}
		
	}
</style>
<div class="wrapper" style="margin: auto;overflow-x: hidden;">
	<br>
	<div class="row gutters-sm">
		<div class="col-lg-3 d-md-block">
			<div class="card">
				<div class="card-body">
					<div class="profile-sidebar">
						<div class="profile-userpic">
							{% if tutorProfile.profilePicture %}
							<img src="{{ tutorProfile.profilePicture.url }}" class="img-responsive mx-auto d-block" style="width:100px;" alt="" />
							{% else %}
							<img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" class="img-responsive mx-auto d-block" style="width:100px;" alt="" />
							{% endif %}
						</div>
						<div class="profile-usertitle">
							<div class="profile-usertitle-name">
								{{ tutorProfile.user.first_name }} {{ tutorProfile.user.last_name }}
							</div>
							<div class="profile-usertitle-job">
								{{ tutorProfile.summary }}
							</div>
						</div>
						<div class="profile-userbuttons">
							<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" style="color: black;">
										<div class="modal-header">
											<h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;">Enter your Question below.</h3>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<!-- <form method="post" id="askQuestionForm"> -->
												<!-- {% csrf_token %} -->
												<div class="form-group">
													<label for="subject-related" class="col-form-label pull-left"><b>Select a subject</b></label>
													<select class="form-control" id="subject" name="subject">
														{% for subject in subjects %}
														<option value="{{subject.name}}">{{subject.name}}</option>
														{% endfor %}
													</select>
												</div>
												<div class="form-group">
													<label for="question" class="col-form-label pull-left"><b>Question:</b></label>
													<textarea class="form-control" id="question" name="question" required></textarea>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-success" onclick="post_question();">Post my Question</button>
												</div>
											<!-- </form> -->
										</div>
									</div>
								</div>
							</div>
							<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#questionModal">Ask a Question</button>
							<button type="button" class="btn btn-danger btn-sm">Message</button>
						</div>
					</div>
				</div>
				<nav class="nav flex-column nav-pills nav-gap-y-1">
						<a href="#tutor_profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
							<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
								<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
								<circle cx="12" cy="7" r="4"></circle>
							</svg>
							&nbsp;&nbsp;
							<label class="side-bar-text">Profile</label>
						</a>
						<a href="#q_and_a" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
							<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
							&nbsp;&nbsp;
							<label class="side-bar-text">Q and A</label>
						</a>
					</nav>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="card">
				
				<div class="card-body tab-content" style="color: black;">
					
					<div class="tab-pane active" id="tutor_profile">
						<div>
							<h3>About</h3>
							<p>{{ tutorProfile.about|linebreaksbr }}</p>
						</div>
						<hr><br>
						<div>
							<h3>Education</h3>
							<div>
								{% for key,value in tutorProfile.education.items %}
								<div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; margin-bottom: 15px;">
									<img src="https://www.iconfinder.com/data/icons/building-1/512/build2-512.png"
										style="width: 50px; height: 50px; margin-right: 13px; -o-object-fit: contain; object-fit: contain; border-radius: 4px;">
									<div style="flex: 1 1; flex-direction: column;">
										<b style="margin-bottom: 5px;">{{value.school_name}}</b>
										<p style="margin-bottom: 0;">{{value.qualification}} ({{value.year}})</p>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<hr><br>
						<div>
							<div class="row">
								<div class="col-sm-6">
									<h3 for="availability">Availability</h3>
									<table class="table" id="availabilitySchedule" style="width: auto;">
										<thead>
											<tr>
												<th scope="col"></th>
												<th scope="col">Morning</th>
												<th scope="col">Afternoon</th>
												<th scope="col">Evening</th>
											</tr>
										</thead>
										<tbody>
											{% for key,value in tutorProfile.availability.items %}
											<tr>
												<th style="vertical-align: middle;" scope="row">{{key|title}}</th>
												<td style="text-align: center">
													{% if value.morning %}
													<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-success" disabled> <i class="fas fa-check"></i>
														</label>
													</div>
													{% else %}
													<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-danger" disabled> <i class="fas fa-times"></i>
														</label>
													</div>
													{% endif %}
												</td>
												<td style="text-align: center">
													{% if value.afternoon %}
													<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-success" disabled> <i class="fas fa-check"></i>
														</label>
													</div>
													{% else %}
													<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-danger" disabled> <i class="fas fa-times"></i>
														</label>
													</div>
													{% endif %}
												</td>
												<td style="text-align: center">
													{% if value.evening %}
													<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-success" disabled> <i class="fas fa-check"></i>
														</label>
													</div>
													{% else %}
													<div class="btn-group" data-toggle="buttons">
														<label class="btn btn-danger" disabled> <i class="fas fa-times"></i>
														</label>
													</div>
													{% endif %}
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="col-sm-6">
									<h3>Subjects</h3>
									<div style="display: flex; flex-flow: row wrap;" id="list_of_subjects">
										<!-- {% for subject in tutorProfile.subjects %} <a href="" style="margin:
											0 10px 10px 0;">
											
											<dir class="mtgtlDwEfX">
											
											{{ subject }}
											
											</dir>
											
											</a>
											
											{% endfor %} -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="q_and_a">
						<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content" style="color: black;">
									<div class="modal-header">
										<h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;">Answer the Question below.</h3>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<!-- <form method="post"> -->
											<!-- {% csrf_token %} -->
											<div class="form-group">
												<label for="question_text" class="col-form-label pull-left">Question</label>
												<textarea class="form-control" id="question_text" name="question_text" readonly></textarea>
											</div>
											<div class="form-group">
												<label for="answer_text" class="col-form-label pull-left">Answer</label>
												<textarea class="form-control" id="answer_text" name="answer_text" required></textarea>
											</div>
											<input type="text" name="question_id" id="question_id" hidden/>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-success" onclick="post_answer();">Post my Answer</button>
											</div>
										<!-- </form> -->
									</div>
								</div>
							</div>
						</div>
						<!-- TOEDIT -->
						<div class="modal fade" id="editQuestionModal" tabindex="-1" role="dialog" aria-labelledby="editQuestionModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content" style="color: black;">
									<div class="modal-header">
										<h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;">Edit your question below.</h3>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="subject-related" class="col-form-label pull-left"><b>Select a subject</b></label>
											<select class="form-control" id="editQuestionSubject" name="subject">
												<!-- {% for subject in subjects %}
												<option value="{{subject.name}}">{{subject.name}}</option>
												{% endfor %} -->
											</select>
										</div>
										<div class="form-group">
											<label for="question" class="col-form-label pull-left"><b>Question:</b></label>
											<textarea class="form-control" id="new_question" name="new_question" required></textarea>
										</div>
										<input type="text" name="question_id_to_update" id="question_id_to_update" hidden/>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary" onclick="update_question();">Update my Question</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="overflow-y: scroll; overflow-x: hidden; height:866px;" id="tutor_questions">
						{% if questionAndAnswers %} {% for qa in questionAndAnswers %}
							<div class="container question_answer_container_{{qa.id}}" style="width: auto;">
								<div id="question_answer_id_{{qa.id}}">
									<a href="/subject_tag/{{qa.subject}}" class="mtgtlDwEfX" style="display:inline-block;" id="qa_subject_{{qa.id}}">{{ qa.subject }}</a>
									{{ qa.questioner.first_name }} {{ qa.questioner.last_name }} asked a question at
									<p style="display:inline-block;" id="tool_tip_date_{{qa.id}}" data-toggle="tooltip" data-placement="top">{{ qa.date }}</p>
									<div class="dropdown pull-right" style="display:inline-block;">
									    <!--Trigger-->
									    <a class="btn-floating btn-lg black dropdown-toggle"type="button" id="dropdownMenu3" data-toggle="dropdown"
									        aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
									    <br>
									    <!--Menu-->
									    <div class="dropdown-menu dropdown-primary">
									    	{% if qa.questioner.pk == user.pk %}
									        	<a class="dropdown-item" href="#" onclick="delete_question('{{qa.id}}');"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete question</a>
									        	<a class="dropdown-item" href="#" data-toggle="modal" data-target="#editQuestionModal" onclick="updateEditQuestionModal('{{ qa.id }}');"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit question</a>
									        {% endif %}
									        <a class="dropdown-item" href="{% url 'tutoring:question_answer_thread' qa.id %}" target="_blank"><i class="fab fa-discourse"></i>&nbsp;&nbsp;View thread</a>
									    </div>
									</div>
								</div>
								
								<div><strong id="qa_question_{{qa.id}}">{{ qa.question|linebreaksbr }}</strong></div>
								<br>
								<div style="width: 970px;" id="qa_answer_{{qa.id}}">{{ qa.answer|linebreaksbr }}</div><br>
								<button id="comment_like_id_{{qa.id}}" type="button" class="btn btn-default btn-sm" onclick="like_comment('{{qa.id}}')">
									<i class='far fa-thumbs-up' style='font-size:15px'></i> ({{qa.likes.count}})
								</button>
								<button id="comment_dislike_id_{{qa.id}}" type="button" class="btn btn-default btn-sm" onclick="dislike_comment('{{qa.id}}')">
									<i class='far fa-thumbs-down' style='font-size:15px'></i> ({{qa.dislikes.count}})
								</button><br><br>
								<span class="badge badge-info" data-toggle="modal" data-target="#answerModal" onclick="updateAnswerModal('{{ qa.id }}');">Answer this question</span><hr>
							</div>
							
						{% endfor %} {% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	window.onload = function() {
		update_subjects();
	}

	function update_subjects() {
		{% for subject in tutorProfile.subjects %}
		var subject_name = "{{subject}}".replace(/\s+/g, '-');
		var subject_item = `
			<a href="/subject_tag/`+subject_name+`" style="margin: 0 10px 10px 0;">
				<dir class="mtgtlDwEfX">
					{{ subject }}
				</dir>
			</a>
			`;
		$( "#list_of_subjects" ).append( subject_item );
		{% endfor %}
	}

	function updateAnswerModal(questionId) {
		var answerText = $('#qa_answer_' + questionId).html();
		var questionText = $('#qa_question_' + questionId).html();
		var regex = /<br\s*[\/]?>/gi;
		document.getElementById('question_id').value = questionId;
		document.getElementById('question_text').value = questionText.replace(regex, "\n");
		document.getElementById('answer_text').value = answerText.replace(regex, "\n");
	}

	function updateEditQuestionModal(questionId) {
		var subjectText = $('#qa_subject_' + questionId).html();
		var questionText = $('#qa_question_' + questionId).html();
		var regex = /<br\s*[\/]?>/gi;

		// display correct subject in the dropdown
		{% for subject in subjects %}
			if (subjectText=='{{subject.name}}') {
				$("#editQuestionSubject").append('<option value="{{subject.name}}" selected>{{subject.name}}</option>');
			} else {
				$("#editQuestionSubject").append('<option value="{{subject.name}}">{{subject.name}}</option>');
			}
		{% endfor %}

		// display correct question text and question id in the modal
		document.getElementById('new_question').value = questionText.replace(regex, "\n");
		document.getElementById('question_id_to_update').value = questionId;
	}

	function update_question() {
		var subject = $('#editQuestionSubject').find(":selected").text();
		var question = $('textarea#new_question').val();
		question = question.replace(/ +(?= )/g,'');
		question = question.trim();


		if (question && !question.trim() || question.length==0) {
			alert("Enter a question!");
			return;
		}

		// closing the modal and clearing the textarea
		$("#editQuestionModal").modal('hide');
		$("textarea#new_question").val("");

		$.ajax({
			data: {
				'functionality': 'update_question',
				'question_id': $('#question_id_to_update').val(),
				'new_subject': subject,
				'new_question': question,
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					var this_qa = eval(response.this_qa)[0];
					var new_question = this_qa.fields.question;
					new_question = new_question.replace(/\n\r?/g, '<br />');
					$('strong#qa_question_'+$('#question_id_to_update').val()).html(new_question);
					$('#qa_subject_'+$('#question_id_to_update').val()).html(this_qa.fields.subject);
					$('#qa_subject_'+$('#question_id_to_update').val()).attr("href", "/subject_tag/"+this_qa.fields.subject);

				} else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".question_answer_container_"+$('#question_id_to_update').val() ).remove();
	            }
			}
		});
	}

	function like_comment(commentId) {
		$.ajax({
			url: '{% url "tutoring:like_comment" %}',
			data: {
				'commentId': commentId
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					var this_comment = eval(response.this_comment)[0];
					var number_of_likes = this_comment.fields.likes.length;
					var number_of_dislikes = this_comment.fields.dislikes.length;

					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ number_of_likes +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ number_of_dislikes +')');

	            } else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            } else if (response.status_code == 403) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            } else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".question_answer_container_"+commentId ).remove();
	            }
			}
		});
	}

	function dislike_comment(commentId) {
		$.ajax({
			url: '{% url "tutoring:dislike_comment" %}',
			data: {
				'commentId': commentId
			},
			dataType: 'json',
			success: function (response) {
				if(response.status_code == 200) {
					var this_comment = eval(response.this_comment)[0];
					var number_of_likes = this_comment.fields.likes.length;
					var number_of_dislikes = this_comment.fields.dislikes.length;

					$('#comment_like_id_'+commentId).html('<i class="far fa-thumbs-up" style="font-size:15px"></i> ('+ number_of_likes +')');
					$('#comment_dislike_id_'+commentId).html('<i class="far fa-thumbs-down" style="font-size:15px"></i> ('+ number_of_dislikes +')');

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            } else if (response.status_code == 403) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            } else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".question_answer_container_"+commentId ).remove();
	            }
			}
		});
	}

	function post_question() {
		var subject = $('#subject').find(":selected").text();
		var question = $('textarea#question').val();
		question = question.replace(/ +(?= )/g,'');
		question = question.trim();

		if (question && !question.trim() || question.length==0) {
			alert("Enter a question!");
			return;
		}

		// closing the modal and clearing the textarea
		$("#questionModal").modal('hide');
		$("textarea#question").val("");
		
		$.ajax({
			// url: '{% url "tutoring:viewtutorprofile" tutorProfile.secondary_key %}',
			data: {
				'functionality': 'post_question',
				'subject': subject,
				'question': question,
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					var new_qa = eval(response.new_qa)[0];

					var new_question_text = `
						<div class="container question_answer_container_`+new_qa.pk+`" style="width: auto;">
							<div id="question_answer_id_`+new_qa.pk+`">
								<a href="/subject_tag/`+new_qa.fields.subject+`" class="mtgtlDwEfX" style="display:inline-block;" id="qa_subject_`+new_qa.pk+`">`+new_qa.fields.subject+`</a>
								`+response.questioner_first_name+ " " +response.questioner_last_name+` asked a question at
								<p style="display:inline-block;" id="tool_tip_date_`+new_qa.pk+`" data-toggle="tooltip" data-placement="top">`+response.created_date+`</p>
								<div class="dropdown pull-right" style="display:inline-block;">
								    <a class="btn-floating btn-lg black dropdown-toggle"type="button" id="dropdownMenu3" data-toggle="dropdown"
								        aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
								    <br>
								    <div class="dropdown-menu dropdown-primary">
								        <a class="dropdown-item" href="#" onclick="delete_question('`+new_qa.pk+`');"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete question</a>
								        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editQuestionModal" onclick="updateEditQuestionModal('`+new_qa.pk+`');"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit question</a>
								        <a class="dropdown-item" href="/question_answer_thread/`+new_qa.pk+`" target="_blank"><i class="fab fa-discourse"></i>&nbsp;&nbsp;Answer in a thread</a>
								    </div>
								</div>
							</div>
							
							<div><strong id="qa_question_`+new_qa.pk+`">`+new_qa.fields.question.replace(/\n\r?/g, '<br />')+`</strong></div>
							<br>
							<div style="width: 970px;" id="qa_answer_`+new_qa.pk+`">`+new_qa.fields.answer.replace(/\n\r?/g, '<br />')+`</div><br>
							<button id="comment_like_id_`+new_qa.pk+`" type="button" class="btn btn-default btn-sm" onclick="like_comment('`+new_qa.pk+`')">
								<i class='far fa-thumbs-up' style='font-size:15px'></i> (`+new_qa.fields.likes.length+`)
							</button>
							<button id="comment_dislike_id_`+new_qa.pk+`" type="button" class="btn btn-default btn-sm" onclick="dislike_comment('`+new_qa.pk+`')">
								<i class='far fa-thumbs-down' style='font-size:15px'></i> (`+new_qa.fields.dislikes.length+`)
							</button><br><br>
							<span class="badge badge-info" data-toggle="modal" data-target="#answerModal" onclick="updateAnswerModal('`+new_qa.pk+`');">Answer this question</span><hr>
						</div>`;

					$( "#tutor_questions" ).prepend( new_question_text );

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            }
			}
		});
	}

	function post_answer() {
		var new_answer = $('textarea#answer_text').val();
		new_answer = new_answer.trim();

		if (new_answer && !new_answer.trim() || new_answer.length==0) {
			alert("Enter an answer!");
			return;
		}

		$("#answerModal").modal('hide');

		$.ajax({
			data: {
				'functionality': 'post_answer',
				'question_id': $('#question_id').val(),
				'new_answer': new_answer,
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200) {
					var this_qa = eval(response.this_qa)[0];
					var new_ans = this_qa.fields.answer;
					new_ans = new_ans.replace(/\n\r?/g, '<br />');
					$('div#qa_answer_'+$('#question_id').val()).html(new_ans);

				} else if (response.status_code == 401) {
	            	Swal.fire({
	            		icon: 'warning',
	            		title: "Can't do that!",
	            		text: response.message
	            	});

	            } else if (response.status_code == 404) {
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            	$( ".question_answer_container_"+$('#question_id').val() ).remove();
	            }
			}
		});
	}

	function delete_question(question_id) {
		$.ajax({
			data: {
				'functionality': 'delete_question',
				'question_id': question_id
			},
			dataType: 'json',
			success: function (response) {
				if (response.status_code == 200 || response.status_code == 404) {
					$( ".question_answer_container_"+question_id ).remove();
				} else {
					Swal.fire({
						icon: 'error',
						title: "Can't do that!",
						text: response.message
					});
				}
			}
		});
	}
</script>
{% endblock %}