{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	.mtgtlDwEfX{
		font-size:12px;
		padding:3px 8px;
		border-radius:4px;
		text-align:center;
		color:#fff;
		background-color:#000;
		opacity:.64
	}
</style>
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="color: black;">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;">Answer the Question below.</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="question-text" class="col-form-label pull-left">Question</label>
                    <textarea class="form-control" id="question-text" name="question-text" rows="5" readonly></textarea>
                </div>
                <div class="form-group">
                    <label for="answer-text" class="col-form-label pull-left">Answer</label>
                    <textarea class="form-control" id="answer-text" name="answer-text" rows="5" required></textarea>
                </div>
                <input type="text" name="question-id" id="question-id" hidden/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" onclick="updateAnswer();">Post my Answer</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin: auto;overflow-x: hidden; max-width: 1500px; color: black;">
    <br>
    <br>
    {% for qa in questionAndAnswers %}
    <span id="span-id-qa-instance-container-{{qa.id}}">
        <div class="card">
            <div class="container" style="margin-top:30px;margin-bottom: 30px;">
                <a href="#" class="mtgtlDwEfX" style="display:inline-block;">{{ qa.subject }}</a>
                {{ qa.questioner.get_full_name }} asked a question at
                <p style="display:inline-block;" data-toggle="tooltip" data-placement="top">{{ qa.date }}</p>
                <div class="dropdown pull-right" style="display:inline-block;">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-primary">
                        <span class="dropdown-item" style="cursor: pointer;" onclick="deleteQuestionAnswerComponent('{{qa.id}}');">
                        <i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete
                        </span>
                        <a class="dropdown-item" href="{{ qa.questionAnswerThreadUrl }}" target="_blank" style="cursor: pointer;">
                        <i class="fab fa-discourse"></i>&nbsp;&nbsp;View thread
                        </a>
                    </div>
                </div>
                <div>
                    <strong id="qa-question-{{qa.id}}">{{ qa.question|linebreaksbr }}</strong>
                </div>
                <br>
                <div style="width: 970px;" id="qa-answer-{{qa.id}}">{{ qa.answer|linebreaksbr }}</div>
                <br>
                <i class='far fa-thumbs-up' style='font-size:15px'></i> ({{qa.likes.count}}) &nbsp;&nbsp;
                <i class='far fa-thumbs-down' style='font-size:15px'></i> ({{qa.dislikes.count}})<br><br>
                <span class="badge badge-info" data-toggle="modal" data-target="#answerModal" onclick="updateAnswerModal('{{ qa.id }}');" style="cursor: pointer; ">Answer this question</span>
            </div>
        </div>
        <br>
    </span>
    {% endfor %}
    <br>
    
    {% if questionAndAnswers.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if questionAndAnswers.has_previous %}
            <li class="page-item">
            	<a class="page-link" href="?page={{ questionAndAnswers.previous_page_number }}" aria-label="Previous">
            		<span aria-hidden="true">&laquo;</span>
            		<span class="sr-only">Previous</span>
            	</a>
            </li>
            {% else %}
            <li class="page-item disabled">
            	<a class="page-link" aria-label="Previous">
            		<span aria-hidden="true">&laquo;</span>
            		<span class="sr-only">Previous</span>
            	</a>
            </li>
            {% endif %}

            {% for i in questionAndAnswers.paginator.page_range %}
            {% if questionAndAnswers.number == i %}
            <li class="page-item active"><span class="page-link"> {{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if questionAndAnswers.has_next %}
            <li class="page-item">
            	<a class="page-link" href="?page={{ questionAndAnswers.next_page_number }}" aria-label="Next">
            		<span aria-hidden="true">&raquo;</span>
            		<span class="sr-only">Next</span>
            	</a>
            </li>
            {% else %}
            <li class="page-item disabled">
            	<a class="page-link" aria-label="Next">
            		<span aria-hidden="true">&raquo;</span>
            		<span class="sr-only">Next</span>
            	</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<script type="text/javascript">

	function deleteQuestionAnswerComponent(id)
	{
		$.ajax(
		{
			data: {
				'functionality': 'deleteQuestionAnswer',
				'id': id
			},
			dataType: 'json',
			success: function (response)
			{
				if (response.statusCode == 200)
				{
					$( "#span-id-qa-instance-container-"+id ).remove();
				}
				else
				{
					Swal.fire({
						icon: 'error',
						title: "Can't do that!",
						text: response.message
					});
				}
			}
		});
	}

	function updateAnswerModal(questionId)
	{
		var answerText = $('#qa-answer-' + questionId).html();
		var questionText = $('#qa-question-' + questionId).html();
		var regex = /<br\s*[\/]?>/gi;

		document.getElementById('question-id').value = questionId;
		document.getElementById('question-text').value = questionText.replace(regex, "\n");
		document.getElementById('answer-text').value = answerText.replace(regex, "\n");
	}

	function updateAnswer()
	{
		var answer = $('textarea#answer-text').val();
		var questionId = $('#question-id').val();
		answer = answer.trim();

		if (answer && !answer.trim() || answer.length==0)
		{
			alert("Enter an answer!");
			return;
		}

		$("#answerModal").modal('hide');

		$.ajax(
		{
			data: {
				'functionality': 'updateQuestionAnswer',
				'id': questionId,
				'answer': answer,
			},
			dataType: 'json',
			success: function (response)
			{
				if (response.statusCode == 200)
				{
					$('div#qa-answer-'+questionId).html(response.answer);

				}
				else if (response.statusCode == 404)
				{
	            	Swal.fire({
	            		icon: 'error',
	            		title: "Can't do that!",
	            		text: response.message
	            	});
	            }
			}
		});
	}
	
</script>
{% endblock %}