{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
    {#    <link rel="stylesheet" type="text/css" href="{% static "css/tutoring-index-page.css" %}"/>#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"/>

    <div class="container-fluid" id="index-container" style="margin: auto;overflow-x: hidden; max-width: 1500px;">
    </div>

    <script type="text/babel">

        function generateId(length) {
            let result = "";
            const characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            const charactersLength = characters.length;
            let counter = 0;
            while (counter < length) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                counter += 1;
            }
            return result;
        }

        const TabComponent = {
            PROFILE: "tutorProfileComponent",
            Q_AND_A: "questionAndAnswerComponent",
            REVIEWS: "tutorReviewsComponent",
        };


        class BaseComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            render = () => {
                return (
                    <div>
                    </div>
                )
            }
        }

        class EducationComponent extends React.Component {
            constructor(props) {
                super(props);
            }

            render() {

                const style1 = {
                    display: "flex",
                    flexDirection: "row",
                    alignItems: "flex-start",
                    justifyContent: "flex-start",
                    marginBottom: "15px",
                }

                const style2 = {
                    width: "50px",
                    height: "50px",
                    marginRight: "13px",
                    objectFit: "contain",
                    borderRadius: "4px",
                }

                const style3 = {
                    flex: "1 1",
                    flexDirection: "column",
                }

                const style4 = {
                    marginBottom: "5px",
                }

                const style5 = {
                    marginBottom: "0",
                }
                return (
                    <div style={style1}>
                        <img src="https://dummyimage.com/500x500" style={style2}/>
                        <div style={style3}>
                            <p style={style4}>{this.props.education.schoolName}</p>
                            <p style={style5}>{this.props.education.qualification} ({this.props.education.startDate} - {this.props.education.endDate})</p>
                        </div>
                    </div>
                )
            }
        }

        class CoreViewComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    tab: TabComponent.PROFILE,
                    educations: [],
                    availability: [],
                }
            }

            componentDidMount = () => {
                this.fetchEducationsFromServer();
                this.fetchAvailabilityFromServer();
            }

            fetchEducationsFromServer = () => {
                console.log("fetchEducationsFromServer")
                fetch("{% url 'tutoring:educationObjectApiEventVersion1Component' %}?user__id=" + {{tutorProfile.user.id}}, {
                    method: "GET",
                }).then((response) => response.json())
                    .then((response) => {
                        if (!response.success)
                            return;

                        this.setState({
                            educations: response.data.educations,
                        })
                    });
            }

            fetchAvailabilityFromServer = () => {
                console.log("fetchAvailabilityFromServer")
                fetch("{% url 'tutoring:availabilityObjectApiEventVersion1Component' %}?user__id=" + {{tutorProfile.user.id}}, {
                    method: "GET",
                }).then((response) => response.json())
                    .then((response) => {
                        if (!response.success)
                            return;

                        console.log(response.data.availability);

                        this.setState({
                            availability: response.data.availability,
                        })
                    });
            }

            getAvailabilityComponent = () => {
                const style1 = {
                    height: "25px",
                    width: "25px",
                    margin: "auto",
                    display: "block",
                    fontSize: "25px",
                }

                return (
                    <tbody>
                    {Object.keys(this.state.availability).map((key, index) => (
                        <tr>
                            <td scope="row">{key.charAt(0).toUpperCase() + key.slice(1)}</td>
                            {Object.keys(this.state.availability[key]).map((y, i) => (
                                <td>{this.state.availability[key][y] ? <i className="fa fa-check" style={style1}/> :
                                    <i className="fa fa-times" style={style1}/>}</td>
                            ))}
                        </tr>
                    ))}
                    </tbody>
                )
            }

            getTutorProfileComponent = () => {
                return (
                    <div>
                        <div>
                            <h4>About</h4>
                            <p>{{ tutorProfile.about|linebreaksbr }}</p>
                        </div>
                        <hr></hr>
                        <br></br>
                        <div>
                            <h4>Education</h4>
                            <div>
                                {this.state.educations.map((item) => <EducationComponent key={item.id}
                                                                                         education={item}/>)}
                            </div>
                        </div>
                        <hr></hr>
                        <br></br>
                        <div>
                            <h4>Availability</h4>
                            <table className="table">
                                <thead>
                                <tr>
                                    <td scope="col"></td>
                                    <td scope="col" className="text-center">Sunday</td>
                                    <td scope="col" className="text-center">Monday</td>
                                    <td scope="col" className="text-center">Tuesday</td>
                                    <td scope="col" className="text-center">Wednesday</td>
                                    <td scope="col" className="text-center">Thursday</td>
                                    <td scope="col" className="text-center">Friday</td>
                                    <td scope="col" className="text-center">Saturday</td>
                                </tr>
                                </thead>
                                {this.state.availability !== null ? this.getAvailabilityComponent() : null}
                            </table>
                        </div>
                        <hr></hr>
                        <br></br>
                        <div>
                            <h4>Subjects</h4>
                        </div>
                    </div>
                )
            }

            getQuestionAndAnswerComponent = () => {
                return (
                    <div>
                        getQuestionAndAnswerComponent
                    </div>
                )
            }

            getTutorReviewsComponent = () => {
                return (
                    <div>
                        getTutorReviewsComponent
                    </div>
                )
            }

            getTabComponent = () => {
                switch (this.state.tab) {
                    case TabComponent.PROFILE:
                        return this.getTutorProfileComponent();
                    case TabComponent.Q_AND_A:
                        return this.getQuestionAndAnswerComponent();
                    case TabComponent.REVIEWS:
                        return this.getTutorReviewsComponent();
                    default:
                        throw new Error("Tab not matched!");
                }
            }

            render = () => {
                const style1 = {
                    color: "black",
                }

                const style2 = {
                    fontSize: "20px",
                }

                return (
                    <div>
                        <br></br>
                        <div className="row gutters-sm">
                            <div className="col-lg-3 d-md-block">
                                <div className="card">
                                    <div className="card-body">
                                        <div className="d-flex flex-column align-items-center text-center">
                                            <img src="https://dummyimage.com/500x500" className="rounded float-left"
                                                 height="150" width="150" alt="Error"/>
                                            <div className="mt-3">
                                                <h4 style={style1}>Barry Allen</h4>
                                                <p className="text-secondary mb-1">Summary goes here!</p>
                                                <button type="button" className="btn btn-primary" data-toggle="modal"
                                                        data-target="#questionModal">Ask a Question
                                                </button>
                                                &nbsp;&nbsp;
                                                <button type="button" className="btn btn-outline-primary">Message
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br></br>
                                <div className="card" style={style1}>
                                    <nav className="nav flex-column nav-pills nav-gap-y-1">
                                        <a href="#" data-toggle="tab" onClick={e => {
                                            this.setState({
                                                tab: TabComponent.PROFILE,
                                            });
                                        }}
                                           className="nav-item nav-link has-icon nav-link-faded active">
                                            <i className="fa fa-user" style={style2}></i>
                                            &nbsp;&nbsp;
                                            <label className="side-bar-text">Profile</label>
                                        </a>
                                        <a href="#" data-toggle="tab" onClick={e => {
                                            this.setState({
                                                tab: TabComponent.Q_AND_A,
                                            });
                                        }}
                                           className="nav-item nav-link has-icon nav-link-faded">
                                            <i className="fas fa-question" style={style2}></i>
                                            &nbsp;&nbsp;
                                            <label className="side-bar-text">Q and A</label>
                                        </a>
                                        <a href="#" data-toggle="tab" onClick={e => {
                                            this.setState({
                                                tab: TabComponent.REVIEWS,
                                            });
                                        }}
                                           className="nav-item nav-link has-icon nav-link-faded">
                                            <i className="fa fa-star" style={style2}></i>
                                            &nbsp;&nbsp;
                                            <label className="side-bar-text">Reviews</label>
                                        </a>
                                    </nav>
                                </div>
                            </div>
                            <div className="col-lg-9">
                                <div className="card">
                                    <div className="card-body tab-content" style={style1}>
                                        {this.getTabComponent()}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                )
            }
        }

        ReactDOM.render(<CoreViewComponent/>, document.getElementById("index-container"));
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"
            integrity="sha512-8Q6Y9XnTbOE+JNvjBQwJ2H8S+UV4uA6hiRykhdtIyDYZ2TprdNmWOUaKdGzOhyr4dCyk287OejbPvwl7lrfqrQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"
            integrity="sha512-MOCpqoRoisCTwJ8vQQiciZv0qcpROCidek3GTFS6KTk2+y7munJIlKCVkFCYY+p3ErYFXCjmFjnfTTRSC1OHWQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"
            integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}