{% extends "accounts/settings/baseSettings.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block settingsContent %}
    <div class="card">
        <div class="card-body tab-content" id="security">
            <div>
                <h5>Account Settings</h5>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <label class="d-block">Obtain a copy of your data</label>
                    <button class="btn btn-primary btn-sm" type="button" id="request-copy-of-data"
                            onclick="requestCopyOfData()" disabled>Request Data
                    </button>
                    <small class="form-text text-muted">Download a copy of your data from OneTutor apps and services.
                        This may include your purchases or app usage history and the data your store with OneTutor, such
                        as calenders, photos or documents.</small>
                    <hr>
                    <label class="d-block">Delete your account</label>
                    <input type="text" name="deleteAccount" hidden>
                    <button class="btn btn-info btn-sm" type="button" id="request-delete-code"
                            onclick="requestDeleteCode()">Request Code
                    </button>
                    <small class="form-text text-muted">We'll send you a code to your email. Copy and Paste the code
                        below.</small>
                    <br>
                    <input type="text" class="form-control" id="delete-code" name="delete-code"
                           placeholder="Enter the code here" required>
                    <br>
                    <button class="btn btn-danger btn-sm" type="submit" id="delete-account-btn">Delete Account</button>
                    <small class="form-text text-muted">Once you delete your account, there is no going back. Please be
                        certain.</small>
                </form>
                <hr>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    // TODO: Import sweetalert

        function requestCopyOfData() {
            $.ajax({
                url: '{% url "accounts:requestCopyOfData" %}',
                success: function (response) {
                    if (response.statusCode === 200) {
                        Swal.fire({
                            icon: 'success',
                            title: "Operation Success!",
                            text: response.message
                        });

                    } else if (response.statusCode === 401) {
                        Swal.fire({
                            icon: 'warning',
                            title: "Can't do that!",
                            text: response.message
                        });

                    } else if (response.statusCode === 403) {
                        Swal.fire({
                            icon: 'error',
                            title: "Can't do that!",
                            text: response.message
                        });
                    }
                }
            });
        }

        function requestDeleteCode() {
            $.ajax({
                url: '{% url "accounts:requestDeleteCodeApiEventVersion1Component" %}',
                success: function (response) {
                    if (response.statusCode === 200) {
                        $('#request-delete-code').remove();
                        $("#delete-account-btn").prop('disabled', false);

                        Swal.fire({
                            icon: 'success',
                            title: "Operation Success!",
                            text: response.message
                        });

                    } else if (response.statusCode === 401) {
                        Swal.fire({
                            icon: 'warning',
                            title: "Can't do that!",
                            text: response.message
                        });

                    } else if (response.statusCode === 403) {
                        Swal.fire({
                            icon: 'error',
                            title: "Can't do that!",
                            text: response.message
                        });
                    }
                }
            });
        }
    </script>
{% endblock %}