{% extends "accounts/settings/baseSettings.html" %}
{% load static %}
{% block settingsContent %}
    <div class="card" id="biography">
    </div>
    <script type="text/babel">

        function generateId(length) {
            let result = '';
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = characters.length;
            let counter = 0;
            while (counter < length) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
                counter += 1;
            }
            return result;
        }


        class Education {
            constructor(schoolName, qualificationAndGrades, startDate, endDate) {
                this.id = generateId(5);
                this.schoolName = schoolName;
                this.qualificationAndGrades = qualificationAndGrades;
                this.startDate = startDate;
                this.endDate = endDate;
            }
        }

        class QualificationType {
            constructor() {
                this.id = generateId(5);
            }
        }

        class SubjectOffered {
            constructor(subject, qualification, price) {
                this.id = generateId(5);
                this.subject = subject;
                this.qualification = qualification;
                this.price = price;
            }
        }

        class EducationComponent extends React.Component {
            constructor(props) {
                super(props);

                let startDate = new Date(this.props.education.startDate);
                startDate = `${startDate.getFullYear()}-${('0' + (startDate.getMonth() + 1)).slice(-2)}-${('0' + startDate.getDate()).slice(-2)}`;

                let endDate = new Date(this.props.education.endDate);
                endDate = `${endDate.getFullYear()}-${('0' + (endDate.getMonth() + 1)).slice(-2)}-${('0' + endDate.getDate()).slice(-2)}`;

                this.state = {
                    startDate: startDate,
                    endDate: endDate
                }
            }

            render() {
                return (
                    <div className="row">
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="text" name="schoolName" className="form-control" placeholder="School Name"
                                       defaultValue={this.props.education.schoolName}
                                       data-toggle="tooltip" data-placement="top" title="School Name" required/>
                            </div>
                        </div>
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="text" name="qualification" className="form-control"
                                       placeholder="Qualification &amp; Grade(s)"
                                       defaultValue={this.props.education.qualificationAndGrades}
                                       data-toggle="tooltip" data-placement="top" title="Qualification &amp; Grade(s)"
                                       required/>
                            </div>
                        </div>
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="date" name="startDate" className="form-control" placeholder="Attended From"
                                       defaultValue={this.state.startDate}
                                       data-toggle="tooltip" data-placement="top" title="Attended from" required/>
                            </div>
                        </div>
                        <div className="col-md-3 panel-pad-10">
                            <div className="card">
                                <input type="date" name="endDate" className="form-control" placeholder="Attended To"
                                       defaultValue={this.state.endDate}
                                       data-toggle="tooltip" data-placement="top" title="Attended To" required/>
                            </div>
                        </div>
                        <br></br>
                        <br></br>
                    </div>
                )
            }
        }

        class BaseBiographyComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    educations: [],
                }
            }

            componentDidMount = () => {
                this.setState({
                    educations: this.composeEducations(),
                })
            }

            renderFormContainer = () => {
                // noop
            }

            renderEducationListContainer = () => {
                return (
                    <div className="form-group">
                        <b>Education</b>
                        {this.state.educations.map((item) => <EducationComponent key={item.id}
                                                                                 education={item}/>)}
                        <button type="button" className="btn btn-primary btn-sm float-right"
                                onClick={this.addEducation}>Add
                        </button>
                        {
                            this.state.educations.length > 0 ?
                                <button type="button" className="btn btn-danger btn-sm float-right"
                                        onClick={this.removeEducation}>Remove </button> : <span></span>
                        }
                    </div>
                )
            }

            renderAvailabilityContainer = () => {
                // noop
            }

            renderSubjectOfferedContainer = () => {
                // noop
            }

            addEducation = () => {
                let educations = this.state.educations;
                educations.push(
                    new Education("", "", "", "")
                )
                this.setState({
                    educations: educations,
                })
            }

            removeEducation = () => {
                let educations = this.state.educations;
                educations.pop();
                this.setState({
                    educations: educations,
                })
            }

            composeSubjects = () => {
                let subjectList = [];
                {% for subject in profile.getSubjectsAsList %}
                    subjectList.push({
                        "id": generateId(3),
                        "internalKey": "{{ subject }}",
                        "isSelected": true,
                    });
                {% endfor %}
                return subjectList;
            }

            composeEducations = () => {
                let educationList = [];
                {% for e in request.user.education.all %}
                    educationList.push(
                        new Education(
                            "{{ e.schoolName }}", "{{ e.qualification }}", "{{ e.startDate }}", "{{ e.endDate }}"
                        )
                    )
                {% endfor %}
                return educationList;
            }

            render = () => {
                const style1 = {
                    width: "100%",
                    textAlign: "center",
                }

                const style2 = {
                    display: "inline-block",
                }
                return (
                    <div className="card-body tab-content">
                        <h5>Biography Settings</h5>
                        <hr></hr>
                        <form method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                            {this.renderFormContainer()}
                            {this.state.educations.length > 0 ? this.renderEducationListContainer() : null}
                            {this.renderAvailabilityContainer()}
                            {this.renderSubjectOfferedContainer()}
                            <div className="form-group" id="outer" style={style1}>
                                <div className="inner" style={style2}>
                                    <button type="submit" className="btn btn-success">Save</button>
                                </div>
                                &#xA0;
                                <div className="inner" style={style2}>
                                    <button type="reset" className="btn btn-secondary">Reset</button>
                                </div>
                                &#xA0;
                            </div>
                        </form>
                    </div>
                );
            }
        }

        class TutorBiographyComponent extends BaseBiographyComponent {
            // Summary, About, Education, Charge Rate, Features
            constructor(props) {
                super(props);

                this.state = {
                    featureOptions: this.composeFeatureOptions(),
                    subjectsOffered: this.composeSubjectsOffered(),
                    educations: [],
                }
            }

            composeSubjectsOffered = () => {
                let list = [];
                let subjectOffered;

                console.log("ss")
                {% for so in profile.user.tutorSubjectsOffered.all %}

                    subjectOffered = new SubjectOffered(
                        "{{ so.subject }}",
                        "{{ so.qualification }}",
                        "{{ so.price }}",
                    );
                {% endfor %}

            return list;
            }

            composeFeatureOptions = () => {
                let featureOptions = [];
                {% for component in profile.features.all %}
                    featureOptions.push({
                        "id": "{{ component.id }}",
                        "value": "{{ component.id }}",
                        "internalKey": "{{ component.internalKey }}",
                        "isSelected": true,
                    });
                {% endfor %}
                return featureOptions;
            }

            renderFormContainer = () => {
                return (
                    <div>
                        <input type="text" name="tutorBiography" hidden/>
                        <div className="form-group">
                            <b>Summary</b>
                            <input type="text" className="form-control" name="summary" maxLength={256}
                                   defaultValue="{{ profile.summary }}" required/>
                        </div>
                        <div className="form-group">
                            <b>About</b>
                            <textarea className="form-control" id="about" name="about" rows="5"
                                      defaultValue="{{ profile.about }}" required></textarea>
                        </div>
                        <div className="form-group">
                            <b>Rate (£)</b>
                            <input className="form-control" type="number" name="rate" min={0}
                                   defaultValue="{{ profile.price }}" required/>
                        </div>
                        <div className="form-group">
                            <b>Features</b>
                            <select className="form-control" name="features" multiple={true}>
                                {this.state.featureOptions.map((item) => <option key={item.id} value={item.value}
                                                                                 selected={item.isSelected}>{item.internalKey}</option>)}
                            </select>
                        </div>
                    </div>
                )
            }


            renderAvailabilityContainer = () => {
                const style1 = {
                    height: "25px",
                    width: "25px",
                    margin: "auto",
                    display: "block",
                }

                return (
                    <div className="form-group">
                        <b>Availability</b>
                        <table className="table">
                            <thead>
                            <tr>
                                <td scope="col"></td>
                                <td scope="col" className="text-center">Sunday</td>
                                <td scope="col" className="text-center">Monday</td>
                                <td scope="col" className="text-center">Tuesday</td>
                                <td scope="col" className="text-center">Wednesday</td>
                                <td scope="col" className="text-center">Thursday</td>
                                <td scope="col" className="text-center">Friday</td>
                                <td scope="col" className="text-center">Saturday</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in profile.user.availability.getAvailability.items %}
                                <tr>
                                    <td scope="row">{{ key|title }}</td>
                                    {% for key2, value2 in value.items %}
                                        <td>
                                            <input className="justify-content-center" value="{{ key2 }}{{ key|title }}"
                                                   type="checkbox" name="availabilityChoices"
                                                   style={style1} {% if value2 %} defaultChecked {% endif %}/>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                )
            }

            renderSubjectOfferedContainer = () => {
                return(
                    <div className="form-group">
                        <b>Subjects offered</b>
                        <table className="table">
                            <thead>
                            <tr>
                                <td scope="col" className="text-center">Subject</td>
                                <td scope="col" className="text-center">Qualification</td>
                                <td scope="col" className="text-center">Price</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                )
            }

            render() {
                return super.render();
            }
        }

        class StudentBiographyComponent extends BaseBiographyComponent {
            // About, Education, Subjects
            constructor(props) {
                super(props);

                this.state = {
                    subjects: this.composeSubjects(),
                    educations: [],
                }
            }

            renderFormContainer = () => {
                return (
                    <div>
                        <input type="text" name="studentBiography" hidden/>
                        <div className="form-group">
                            <b>About</b>
                            <textarea className="form-control" name="about" rows="5" defaultValue="{{ profile.about }}"
                                      required></textarea>
                        </div>
                        <div className="form-group">
                            <b>Subjects</b>
                            <select className="multiple-subjects form-control" name="subjects" multiple="multiple"
                                    required>
                                {this.state.subjects.map((item) => <option key={item.id} value={item.internalKey}
                                                                           selected={item.isSelected}>{item.internalKey}</option>)}
                            </select>
                        </div>
                    </div>
                )
            }

            composeEducations = () => {
                return [];
            }

            render() {
                return super.render();
            }
        }

        class BiographyComponent extends React.Component {
            constructor(props) {
                super(props);

                this.state = {
                    profile: "{{ profile.getModelName }}"
                }
            }

            displayComponent = () => {
                if (this.state.profile === "TutorProfile") {
                    return (
                        <TutorBiographyComponent/>
                    )
                } else if (this.state.profile === "StudentProfile") {
                    return (
                        <StudentBiographyComponent/>
                    )
                }

                throw new Error(`No biography component found for profile ${this.state.profile}`);
            }

            render() {
                return (
                    <div>
                        {this.displayComponent()}
                    </div>
                )
            }
        }

        ReactDOM.render(<BiographyComponent/>, document.getElementById("biography"));
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("[name='subjects']").select2({tags: true,});
            $("[name='features']").select2();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.production.min.js"
            integrity="sha512-8Q6Y9XnTbOE+JNvjBQwJ2H8S+UV4uA6hiRykhdtIyDYZ2TprdNmWOUaKdGzOhyr4dCyk287OejbPvwl7lrfqrQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.production.min.js"
            integrity="sha512-MOCpqoRoisCTwJ8vQQiciZv0qcpROCidek3GTFS6KTk2+y7munJIlKCVkFCYY+p3ErYFXCjmFjnfTTRSC1OHWQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"
            integrity="sha512-kp7YHLxuJDJcOzStgd6vtpxr4ZU9kjn77e6dBsivSz+pUuAuMlE2UTdKB7jjsWT84qbS8kdCWHPETnP/ctrFsA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}