{% extends "accounts/settings/baseSettings.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block settingsContent %}
    <div class="card">
        <div class="card-body tab-content" id="security">
            <div>
                <h5>Security Settings</h5>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Save Password</button>
                    <button type="reset" class="btn btn-light btn-sm">Reset Changes</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}