<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" style="color: black;">
            <h3>Dear Mohamed,</h3>
            <p>Thanks for requesting to view your data. Below are the details that we have stored in our system. If you are not happy with some of the information being stored in our system, then please contact us as soon as possible.</p>
            <br>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Data type</th>
                        <th scope="col">Your data</th>
                        <th scope="col">Data type</th>
                        <th scope="col">Your data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>First name</b></td>
                        <td>{{data.user.firstName}}</td>
                        <td><b>Last name</b></td>
                        <td>{{data.user.lastName}}</td>
                    </tr>
                    <tr>
                        <td><b>Username</b></td>
                        <td>{{data.user.username}}</td>
                        <td><b>Email</b></td>
                        <td>{{data.user.email}}</td>
                    </tr>
                    <tr>
                        <td><b>Status</b></td>
                        <td>{{data.user.status}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <br>
            <h4>Education details</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">School</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in data.education %}
                    <tr>
                        <td>{{e.schoolName}}</td>
                        <td>{{e.qualification}}</td>
                        <td>{{e.startDate}}</td>
                        <td>{{e.endDate}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if data.lessons %}
            <hr>
            <br>
            <h4>Lessons</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tutor</th>
                        <th scope="col">Student</th>
                        <th scope="col">Hours taught (hours)</th>
                        <th scope="col">Date and time</th>
                        <th scope="col">Points</th>
                        <th scope="col">Amount charged</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in data.lessons %}
                    <tr>
                        <td>{{l.tutor}}</td>
                        <td>{{l.student}}</td>
                        <td>{{l.hoursTaught}}</td>
                        <td>{{l.dateTime}}</td>
                        <td>{{l.points}}</td>
                        <td>{{l.amount}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if data.socialConnections %}
            <hr>
            <br>
            <h4>Social Connections</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Facebook</th>
                        <th scope="col">Twitter</th>
                        <th scope="col">Google</th>
                        <th scope="col">LinkedIn</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in data.socialConnections %}
                    <tr>
                        <td>{{s.twitterUrl}}</td>
                        <td>{{s.twitterUrl}}</td>
                        <td>{{s.googleUrl}}</td>
                        <td>{{s.linkedinUrl}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <hr>
            <br>
            <h4>Availability</h4>
            <table class="table table-bordered" style="width: auto;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Morning</th>
                        <th scope="col">Afternoon</th>
                        <th scope="col">Evening</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in data.availability.items %}
                    <tr>
                        <th scope="row">{{key|title}}</th>
                        <td>
                            <div class="card_2">
                                <div class="checkbox-container circular-container">
                                    <label class="checkbox-label">
                                    {% if value.morning %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card_2">
                                <div class="checkbox-container circular-container">
                                    <label class="checkbox-label">
                                    {% if value.afternoon %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card_2">
                                <div class="checkbox-container circular-container">
                                    <label class="checkbox-label">
                                    {% if value.evening %} <i class="fas fa-check"></i> {% else %} <i class="fas fa-times"></i> {% endif %}
                                    </label>
                                </div>
                            </div>
                        </td>
                        {% endfor %}
                </tbody>
            </table>
            <br>
            <hr>
            <h4>Yours Sincerely,</h4>
            <p>The OneTutor Team</p>
        </div>
    </body>
</html>