{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="/static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

<div class="container-fluid" style="margin: auto;overflow-x: hipen; color: black; max-width: 1800px;">
	<br>
	<div class="col-6">
        <div>
        	<h4><bold>General Details</bold></h4>
            <dl class="row">

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Board Name</label>
                </dd>
                <dd class="col-sm-9">
                    <input class="form-control col" type="text" placeholder="Board name" id="board-name" name="board-name" value="{{board.name}}" placeholder="Board name" readonly>
                </dd>

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Projects in Board</label>
                </dd>
                <dd class="col-sm-9">
                    <div class="form-group">
                        <select class="form-control select2bs4" multiple="multiple" name="board-projects" id="board-projects" data-placeholder="Select project(s) this board will be used for." required>
	                        {% for project in projects.all %}
	                    		<option value="{{project.id}}">{{project.name}}</option>
	                    	{% endfor %}
                        </select>
                    </div>
                </dd>

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Project admins</label>
                </dd>
                <dd class="col-sm-9">
                    <div class="form-group">
                        <select class="form-control select2bs4" multiple="multiple" name="board-admins" id="board-admins" required>
	                        {% for m in developerProfiles %}
	                    		<option value="{{m.user.id}}">{{m.user.get_full_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </dd>

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Project members</label>
                </dd>
                <dd class="col-sm-9">
                    <div class="form-group">
                        <select class="form-control select2bs4" multiple="multiple" name="board-members" id="board-members" required>
	                        {% for m in developerProfiles %}
	                    		<option value="{{m.user.id}}">{{m.user.get_full_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </dd>

            </dl>

            <hr>
        </div>
    </div>
    <div class="col-6">
        <div>
        	<div class="row">
        		<div class="col">
        			<div class="row">
        				<div class="col-7">
        					<h4><bold>Board Columns</bold></h4>
        				</div>
        				<div class="col">
        					<input type="text" id="board-column-name" class="form-control form-control-sm" placeholder="Column name">
        				</div>
        				<div class="col">
        					<button type="button" onclick="createBoardColumn();" class="btn btn-primary btn-sm">Add Column</button>
        				</div>
        			</div>
        		</div>
        	</div>
            <hr>
            <div class="row">
        		<div class="col" id="board-columns-container">
        			{% for column in board.boardColumns.all %}
        			<div class="card" id="column-container-{{column.id}}">
        				<div class="card-body" style="height: 10px;">
		        			<div class="row">
		        				<div class="col">
		        					<input type="text" id="board-column-name-{{column.id}}" class="form-control form-control-sm" value="{{column.name}}" placeholder="Column name" style="margin-top: -15px;" readonly>
		        				</div>
		        				<div class="col-auto">
		        					<button type="button" class="btn btn-danger btn-sm" onclick="deleteColumn('{{column.id}}');" style="margin-top: -24px;">Delete Column</button>
		        				</div>
		        			</div>
        				</div>
        			</div>
        			{% endfor %}
        		</div>
        	</div>
        </div>
    </div>
</div>

<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">

	$('.select2bs4').select2({
		theme: 'bootstrap4',
	});

	var BOARD_PROJECTS_ID = [];
	var BOARD_ADMINS_ID = [];
	var BOARD_MEMBERS_ID = [];

	{% for project in board.projects.all %}
		BOARD_PROJECTS_ID.push({{project.id}});
	{% endfor %}

	{% for admin in board.admins.all %}
		BOARD_ADMINS_ID.push({{admin.id}});
	{% endfor %}

	{% for member in board.members.all %}
		BOARD_MEMBERS_ID.push({{member.id}});
	{% endfor %}

	$('#board-projects').select2().val(BOARD_PROJECTS_ID).trigger("change")
	$('#board-admins').select2().val(BOARD_ADMINS_ID).trigger("change")
	$('#board-members').select2().val(BOARD_MEMBERS_ID).trigger("change")

	{% for column in board.boardColumns.all %}
		$( "#board-column-name-{{column.id}}" ).focusin(function() {
			$(this).removeAttr("readonly");
		});

		$( "#board-column-name-{{column.id}}" ).focusout(function() {
			$(this).attr('readonly','');

			var columnName = $(this).val();

			if (columnName && !columnName.trim() || columnName.length==0)
				return;

			$.ajax(
				{
					data:
					{
						'update-column-name': columnName,
						'column-id': '{{column.id}}',
					},
					dataType: 'json',
				}
			);
		});
	{% endfor %}


	$( "#board-name" ).focusin(function() {
		$(this).removeAttr("readonly");
	});

	$( "#board-name" ).focusout(function() {
		$(this).attr('readonly','');

		var boardName = $(this).val();

		if (boardName && !boardName.trim() || boardName.length==0)
			return;

		$.ajax(
			{
				data:
				{
					'board-name': boardName,
				},
				dataType: 'json',
			}
		);
	});


	$('#board-projects').on('select2:select', function (e) {
		$.ajax(
			{
				data:
				{
					'add-project': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-projects').on('select2:unselect', function (e) {
		$.ajax(
			{
				data:
				{
					'remove-project': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-admins').on('select2:select', function (e) {
		$.ajax(
			{
				data:
				{
					'add-admin': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-admins').on('select2:unselect', function (e) {
		$.ajax(
			{
				data:
				{
					'remove-admin': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-members').on('select2:select', function (e) {
		$.ajax(
			{
				data:
				{
					'add-member': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-members').on('select2:unselect', function (e) {
		$.ajax(
			{
				data:
				{
					'remove-member': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	function createBoardColumn()
	{
		var columnName = $('#board-column-name').val();
		$('#board-column-name').val('');
		$.ajax(
			{
				data:
				{
					'new-column-name': columnName,
				},
				dataType: 'json',
				success: function(response)
				{
					if (response.statusCode == 200)
					{
						$('#board-columns-container').append(`
							<div class="card" id="column-container-${response.id}">
		        				<div class="card-body" style="height: 10px;">
				        			<div class="row">
				        				<div class="col">
				        					<input type="text" id="board-column-name-${response.id}" class="form-control form-control-sm" value="${response.name}" placeholder="Column name" style="margin-top: -15px;" readonly>
				        				</div>
				        				<div class="col-auto">
				        					<button type="button" class="btn btn-danger btn-sm" onclick="deleteColumn('${response.id}');" style="margin-top: -24px;">Delete Column</button>
				        				</div>
				        			</div>
		        				</div>
		        			</div>`
		        		);

		        		$( "#board-column-name-" + response.id ).focusin(function() {
							$(this).removeAttr("readonly");
						});

						$( "#board-column-name-" + response.id ).focusout(function() {
							$(this).attr('readonly','');

							var columnName = $(this).val();

							if (columnName && !columnName.trim() || columnName.length==0)
								return;

							$.ajax(
								{
									data:
									{
										'update-column-name': columnName,
										'column-id': response.id,
									},
									dataType: 'json',
								}
							);
						});
					}
				}
			}
		);
	}

	$( function() {
		$('#board-columns-container').sortable(
			{
				stop: function(e, ui)
				{
					const newOrder = $.map($('#board-columns-container > div'), div => div.id);
					$.ajax(
						{
							data:
							{
								'new-column-order': newOrder,
							},
							dataType: 'json',
						}
					);
				}
			}
		);
	} );

	function deleteColumn(columnId)
	{
		$('#column-container-'+columnId).remove();
		$.ajax(
			{
				data:
				{
					'remove-column': columnId,
				},
				dataType: 'json',
			}
		);
	}

</script>

<!-- This jquery version crashes the select2. -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}