{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="/static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

<style type="text/css">
.avatars {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.avatars>li {
    display: inline-block;
}

.avatars>li+li {
    margin-left: -0.75rem;
}

.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    background: #f8f9fa;
    color: #fff;
}
</style>

<div class="modal fade" id="newBoardModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true" style="color: black;">
    <div class="modal-dialog col-12 col-md-8 col-lg-6" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007bff;">
                <h5 class="modal-title" id="exampleModalLabel">Create board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="tab-content">
                        <dl class="row">
                            <dd class="col-sm-3">
                                <label style="font-size: 85%; color: #6c757d;">Name</label>
                            </dd>
                            <dd class="col-sm-9">
                                <input class="form-control col" type="text" placeholder="Board name" name="board-name" required>
                            </dd>

                            <dd class="col-sm-3">
                                <label style="font-size: 85%; color: #6c757d;">Admins</label>
                            </dd>
                            <dd class="col-sm-9">
                                <select class="form-control select2bs4" multiple="multiple" name="board-admins" data-placeholder="Select board admins" required>
                                    {% for d in developerProfiles %}
                                    <option value="{{d.user.id}}">{{d.user.get_full_name}}</option>
                                    {% endfor %}
                                </select>
                            </dd>

                            <dd class="col-sm-3">
                                <label style="font-size: 85%; color: #6c757d;">Members</label>
                            </dd>
                            <dd class="col-sm-9">
                                <select class="form-control select2bs4" multiple="multiple" name="board-members" data-placeholder="Select board members" required>
                                    {% for d in developerProfiles  %}
                                    <option value="{{d.user.id}}">{{d.user.get_full_name}}</option>
                                    {% endfor  %}
                                </select>
                            </dd>

                            <dd class="col-sm-3">
                                <label style="font-size: 85%; color: #6c757d;">Project</label>
                            </dd>
                            <dd class="col-sm-9">
                                <div class="form-group">
                                    <select class="form-control select2bs4" multiple="multiple" name="board-projects" data-placeholder="Select project(s) this board will be used for." required>
                                      {% for p in projects  %}
                                    <option value="{{p.id}}">{{p.name}}</option>
                                    {% endfor  %}
                                    </select>
                                  </div>
                            </dd>
                        </dl>

                        <hr>
                        <h6>Visibility</h6>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="visibility-everyone" name="board-visibility" value="visibility-everyone" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="visibility-everyone">Everyone</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="visibility-members" name="board-visibility" value="visibility-members" class="custom-control-input">
                                    <label class="custom-control-label" for="visibility-members">Members</label>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="alert alert-warning text-small" role="alert">
                            <span>You can these details at any time.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="Create board">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin: auto;overflow-x: hipen; color: black; max-width: 1800px;">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <h3>Boards</h3>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#newBoardModal">New board</button>
                </div>
            </div>
            <br>
            {% if boards|length > 0  %}
                <table id="boardTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Admin</th>
                            <th>Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for b in boards  %}
                        <tr>
                            <td>
                                <a href="{{ b.getBoardUrl }}">{{b.name}}</a>
                            </td>
                            {% if b.admins.count == 1 %}
                            <td>
                                {% for admin in b.admins.all %}
                                <span>
                                    <span class="row">
                                        <span class="col">
                                            <span class="d-flex align-items-center">
                                                {% if admin.developerProfile.profilePicture %}
                                                <img alt="{{admin.get_full_name}}" class="avatar filter-by-alt" src="{{admin.developerProfile.profilePicture.url }}" data-filter-by="alt">
                                                {% else %}
                                                <img alt="{{admin.get_full_name}}" class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                                {% endif %}
                                                &nbsp;&nbsp;
                                                <a href="#">{{admin.get_full_name}}</a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                {% endfor %}
                            </td>
                            {% else %}
                            <td>
                                <ul class="avatars">
                                    {% for admin in b.admins.all %}
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-original-title="{{admin.get_full_name}}" title="{{admin.get_full_name}}">
                                            {% if admin.developerProfile.profilePicture %}
                                            <img alt="{{admin.get_full_name}}" class="avatar filter-by-alt" src="{{admin.developerProfile.profilePicture.url }}" data-filter-by="alt">
                                            {% else %}
                                            <img alt="{{admin.get_full_name}}" class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                            {% endif %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% endif %}

                            {% if b.projects.count == 1 %}
                            <td>
                                {% for project in b.projects.all %}
                                <span>
                                    <span class="row">
                                        <span class="col">
                                            <span class="d-flex align-items-center">
                                                {% if project.icon %}
                                                <img alt="{{project.name}}" class="avatar filter-by-alt" src="{{project.icon.url }}" data-filter-by="alt">
                                                {% else %}
                                                <img alt="{{project.name}}" class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                                {% endif %}
                                                &nbsp;&nbsp;
                                                <a href="{{ project.getProjectUrl }}">{{project.name}}</a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                {% endfor %}
                            </td>
                            {% else %}
                            <td>
                                <ul class="avatars">
                                    {% for project in b.projects.all %}
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-original-title="{{project.name}}" title="{{project.name}}">
                                            {% if project.icon %}
                                            <img alt="{{project.name}}" class="avatar filter-by-alt" src="{{project.icon.url }}" data-filter-by="alt">
                                            {% else %}
                                            <img alt="{{project.name}}" class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                            {% endif %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% endif %}

                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-primary text-center" role="alert">
                    Looks like there's no board to see. Create one.
                </div>
            {% endif %}
        </div>        
    </div>
</div>

<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">

     $('.select2bs4').select2({
        theme: 'bootstrap4'
      })

    $( function ()
        {
            $("#boardTable").DataTable(
                {
                    "responsive": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": true,
                    "ordering": true,
                    "info": false,
                    "pageLength": 10,
                }
            );

            $('#boardTable_length').remove();
        }
    );
</script>
{% endblock %}