{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="/static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

<div class="container-fluid" style="margin: auto;overflow-x: hipen; color: black; max-width: 1800px;">
	<br>
	<div class="col-6">
        <div>
        	<h4><bold>General Details</bold></h4>
            <dl class="row">

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Board Name</label>
                </dd>
                <dd class="col-sm-9">
                    <input class="form-control col" type="text" placeholder="Board name" id="board-name" name="board-name" value="{{board.name}}" placeholder="Board name" readonly>
                </dd>

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Projects in Board</label>
                </dd>
                <dd class="col-sm-9">
                    <div class="form-group">
                        <select class="form-control select2bs4" multiple="multiple" name="board-projects" id="board-projects" data-placeholder="Select project(s) this board will be used for." required>
	                        {% for project in projects.all %}
	                    		<option value="{{project.id}}">{{project.name}}</option>
	                    	{% endfor %}
                        </select>
                    </div>
                </dd>

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Project admins</label>
                </dd>
                <dd class="col-sm-9">
                    <div class="form-group">
                        <select class="form-control select2bs4" multiple="multiple" name="board-admins" id="board-admins" required>
	                        {% for m in developerProfiles %}
	                    		<option value="{{m.user.id}}">{{m.user.get_full_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </dd>

                <dd class="col-sm-3">
                    <label style="color: #6c757d;">Project members</label>
                </dd>
                <dd class="col-sm-9">
                    <div class="form-group">
                        <select class="form-control select2bs4" multiple="multiple" name="board-members" id="board-members" required>
	                        {% for m in developerProfiles %}
	                    		<option value="{{m.user.id}}">{{m.user.get_full_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </dd>

            </dl>

            <hr>
        </div>
    </div>
    <div class="col-6">
        <div>
        	<div class="row">
        		<div class="col">
        			<h4><bold>Board Columns</bold></h4>
        		</div>
        	</div>

            <hr>
        </div>
    </div>
</div>

<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">

	$('.select2bs4').select2({
		theme: 'bootstrap4',
	});

	var BOARD_PROJECTS_ID = [];
	var BOARD_ADMINS_ID = [];
	var BOARD_MEMBERS_ID = [];

	{% for project in board.projects.all %}
		BOARD_PROJECTS_ID.push({{project.id}});
	{% endfor %}

	{% for admin in board.admins.all %}
		BOARD_ADMINS_ID.push({{admin.id}});
	{% endfor %}

	{% for member in board.members.all %}
		BOARD_MEMBERS_ID.push({{member.id}});
	{% endfor %}

	$('#board-projects').select2().val(BOARD_PROJECTS_ID).trigger("change")
	$('#board-admins').select2().val(BOARD_ADMINS_ID).trigger("change")
	$('#board-members').select2().val(BOARD_MEMBERS_ID).trigger("change")


	$( "#board-name" ).focusin(function() {
		$(this).removeAttr("readonly");
	});

	$( "#board-name" ).focusout(function() {
		$(this).attr('readonly','');

		var boardName = $(this).val();

		if (boardName && !boardName.trim() || boardName.length==0)
			return;

		$.ajax(
			{
				data:
				{
					'board-name': boardName,
				},
				dataType: 'json',
			}
		);
	});


	$('#board-projects').on('select2:select', function (e) {
		$.ajax(
			{
				data:
				{
					'add-project': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-projects').on('select2:unselect', function (e) {
		$.ajax(
			{
				data:
				{
					'remove-project': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-admins').on('select2:select', function (e) {
		$.ajax(
			{
				data:
				{
					'add-admin': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-admins').on('select2:unselect', function (e) {
		$.ajax(
			{
				data:
				{
					'remove-admin': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-members').on('select2:select', function (e) {
		$.ajax(
			{
				data:
				{
					'add-member': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	$('#board-members').on('select2:unselect', function (e) {
		$.ajax(
			{
				data:
				{
					'remove-member': e.params.data.id,
				},
				dataType: 'json',
			}
		);
	});

	function createColumn()
	{
		alert(2);
	}

	$( function() {
    $( "#sortable" ).sortable({
    	revert: true
    });
  } );


</script>

<!-- This jquery version crashes the select2. -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}