{% extends "jira2/baseTicket.html" %}
{% load static %}
{% block ticketContent %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<div class="card">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Projects</a></li>
            <li class="breadcrumb-item"><a href="#">{{ticket.project}}</a></li>
           	<li class="breadcrumb-item">
                <img src='{% static ticket.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{ticket.issueType.code}}">
                &nbsp;
                <a href="{{ ticket.getTicketUrl }}">{{ticket.internalKey}}</a>
            </li>
        </ol>
    </nav>

    <input class="form-control" type="text" id="ticket-summary" value="{{ticket.summary}}" style="border: 0; font-size:22px;"/>

    <div class="card-body tab-content">
        <button type="button" class="btn btn-light" onclick="initaliseTicket();">Create issue in EPIC</button>
        <br><br>
        <p class="font-weight-bold">Description</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-description" rows="1" style="border: 0;" onfocusout="updateTicketDescription();">{{ticket.description}}</textarea>
        </div>
        <!--  -->
        <p class="font-weight-bold">User Impact</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-user-impact" rows="1" style="border: 0;" onfocusout="updateUserImpact();">{{ticket.userImpact}}</textarea>
        </div>
        <!--  -->
        <p class="font-weight-bold">Release Impact</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-release-impact" rows="1" style="border: 0;" onfocusout="updateReleaseImpact();">{{ticket.releaseImpact}}</textarea>
        </div>
        <!--  -->
        <p class="font-weight-bold">Automatic Testing Reason</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-automatic-testing-reason" rows="1" style="border: 0;" onfocusout="updateAutomaticTestingReason();">{{ticket.automatedTestingReason}}</textarea>
        </div>

        <!--  -->

        <div id="tickets-container">
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Issues in the epic</p>
                </div>
                <div class="col-auto">
                    <i class="fa fa-plus-square-o" style="font-size:24px;cursor: pointer;" onclick="initaliseTicket();"></i>
                </div>
            </div>
            <div id="epic-tickets-container">
                <div id="epic-tickets-list-container">
                {% for et in ticket.epicTickets.all %}
                    <div class="card" id="epic-ticket-container-{{et.id}}">
                        <div class="card-body" style="height: 10px;">
                            <div class="row">
                                <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
                                    <img src='{% static et.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{et.issueType.internalKey}}">
                                </div>
                                <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                    <a href="{{ et.getTicketUrl }}">{{et.internalKey}}</a>
                                </div>
                                <div class="col" style="margin-top: -12px; margin-left: -15px;">
                                    <span>{{et.summary}}</span>
                                </div>
                                <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                    <img class="avatar filter-by-alt" src="{% static et.priority.icon %}" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="{{et.priority.internalKey}}">
                                </div>
                                <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                    {% if et.assignee %}
                                    <img class="avatar filter-by-alt" src="{{ et.assignee.developerProfile.profilePicture.url }}" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="{{et.assignee.get_full_name}}">
                                    {% else %}
                                    <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div id="new-ticket-creator">
	                <div class="row">
	                	<div class="col-4">
	                		<select id="issueType" data-show-content="true" class="form-control">
				                {% for ji in jiraIssues.all %}
					                {% if ji.code == "STORY" %}
					                <option data-content="<img src='{% static ji.icon %}' width='20' height='20'>&nbsp; {{ji}}" selected="selected" value="{{ji.code}}">{{ji.code}}</option>
					                {% else %}
					                <option data-content="<img src='{% static ji.icon %}' width='20' height='20'>&nbsp; {{ji}}" value="{{ji.code}}">{{ji.code}}</option>
					                {% endif %}
				                {% endfor %}
				            </select>
	                	</div>
	                	<div class="col-8">
	                		<input class="form-control pull-right" id="new-ticket-name" type="text" placeholder="What needs to be done?">
	                	</div>
	                </div>
	                <br>
	                <div>
	                	<button type="button" class="btn btn-primary pull-right" onclick="createTicket();">Create</button>
	                    <button type="button" class="btn btn-light pull-right" style="margin-right: 15px;" onclick="cancelTicket();">Cancel</button>
	                </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript">

	$(document).ready( function()
		{
			$('#new-ticket-creator').hide();
		}
	);

    function initaliseTicket()
    {
    	$('#new-ticket-creator').show();
    }

    function cancelTicket()
    {
    	$('#new-ticket-name').val('');
        $('#new-ticket-creator').hide();
    }

    function createTicket()
    {
    	var ticketName = $('#new-ticket-name').val();
    	if (ticketName && !ticketName.trim() || ticketName.length==0)
            return;

        var issueType = $( "#issueType option:selected" ).text();

        cancelTicket();

        $.ajax(
        	{
                url: "{% url 'jira2:ticketObjectForIssuesInTheEpicTicketApiEventVersion1Component' %}",
        		data:
                {
                    "project-id": "{{ticket.project.id}}",
                    'ticket-summary': ticketName,
                    'issue-type': issueType,
                    'epic-ticket-id': "{{ticket.id}}",
                },
                type: "POST",
                dataType: 'json',
                success: function(response)
                {
                    if (response.success)
                    {
                        $('#epic-tickets-list-container').append(
                            `
                            <div class="card" id="epic-ticket-container-${response.data.id}">
                                <div class="card-body" style="height: 10px;">
                                    <div class="row">
                                        <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
                                            <img src='${response.data.issueType.icon}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="${response.data.issueType.internalKey}">
                                        </div>
                                        <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                            <a href="${response.data.link}">${response.data.internalKey}</a>
                                        </div>
                                        <div class="col" style="margin-top: -12px; margin-left: -15px;">
                                            <span>${response.data.summary}</span>
                                        </div>
                                        <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                            <img class="avatar filter-by-alt" src="${response.data.priority.icon}" data-filter-by="alt" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="${response.data.priority.internalKey}">
                                        </div>
                                        <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                            <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                        );
                    }
                }
        	}
        );
    }

    $('#issueType').selectpicker();

    $( function() {
        $('#epic-tickets-list-container').sortable(
            {
                stop: function(e, ui)
                {
                    const newOrder = $.map($('#epic-tickets-list-container > div'), div => div.id);
                    console.log(newOrder);
                    $.ajax(
                        {
                            data:
                            {
                                'functionality': 'updateEpicTicketsOrder',
                                'new-column-order': newOrder,
                            },
                            dataType: 'json',
                        }
                    );
                }
            }
        );
    } );
</script>
{% endblock %}