{% extends "jira2/baseTicket.html" %}
{% load static %}
{% block ticketContent %}
<div class="card">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Projects</a></li>
            <li class="breadcrumb-item"><a href="#">{{ticket.project}}</a></li>

            {% if ticket.epic %}
            <li class="breadcrumb-item"><a href="{{ ticket.getEpicUrl }}">{{ticket.epic.internalKey}}</a></li>
            {% endif %}
           	<li class="breadcrumb-item active" aria-current="page">
                <img src='{% static ticket.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{ticket.issueType.code}}">
                &nbsp;
                <a href="{{ ticket.getTicketUrl }}">{{ticket.internalKey}}</a>
            </li>
        </ol>
    </nav>
    <input class="form-control" type="text" id="ticket-summary" value="{{ticket.summary}}" style="border: 0; font-size:22px;"/>

    <div class="card-body tab-content">
    	<button type="button" class="btn btn-light" onclick="initaliseTicket();">Create subtask</button>
    </div>

    <div class="card-body tab-content">
        <p class="font-weight-bold">Description</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-description" rows="1" style="border: 0;" onfocusout="updateTicketDescription();">{{ticket.description}}</textarea>
        </div>
        <!--  -->
        <p class="font-weight-bold">User Impact</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-user-impact" rows="1" style="border: 0;" onfocusout="updateUserImpact();">{{ticket.userImpact}}</textarea>
        </div>
        <!--  -->
        <p class="font-weight-bold">Release Impact</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-release-impact" rows="1" style="border: 0;" onfocusout="updateReleaseImpact();">{{ticket.releaseImpact}}</textarea>
        </div>
        <!--  -->
        <p class="font-weight-bold">Automatic Testing Reason</p>
        <div class="form-group">
            <textarea class="form-control" name="ticket-automatic-testing-reason" rows="1" style="border: 0;" onfocusout="updateAutomaticTestingReason();">{{ticket.automatedTestingReason}}</textarea>
        </div>

        <!--  -->

        <div id="tickets-container">
            {% if ticket.subTask.count > 0 %}
                <div class="row">
                    <div class="col">
                        <p class="font-weight-bold">Subtasks</p>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-plus-square-o" style="font-size:24px;cursor: pointer;" onclick="initaliseTicket();"></i>
                    </div>
                </div>
                <div id="subtask-tickets-container">
                    {% for st in ticket.subTask.all %}
                        <div class="card" id="subtask-ticket-container-{{st.id}}">
                            <div class="card-body" style="height: 10px;">
                                <div class="row">
                                    <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
                                        <img src='{% static st.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{st.issueType.internalKey}}">
                                    </div>
                                    <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                        <a href="{{ st.getTicketUrl }}">{{st.internalKey}}</a>
                                    </div>
                                    <div class="col" style="margin-top: -12px; margin-left: -15px;">
                                        <span>{{st.summary}}</span>
                                    </div>
                                    <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                        <img class="avatar filter-by-alt" src="{% static st.priority.icon %}" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="{{st.priority.internalKey}}">
                                    </div>
                                    <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                        {% if st.assignee %}
                                        <img class="avatar filter-by-alt" src="{{ st.assignee.developerProfile.profilePicture.url }}" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="{{st.assignee.get_full_name}}">
                                        {% else %}
                                        <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <br>
    </div>
</div>
<script type="text/javascript">
    function initaliseTicket()
    {
        if($('#new-sub-task-name').length)
            return;

        if ($('#tickets-container').children().length == 0 )
        {
            $('#tickets-container').append(`
                <div class="row">
                    <div class="col">
                        <p class="font-weight-bold">Subtasks</p>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-plus-square-o" style="font-size:24px;cursor: pointer;"></i>
                    </div>
                </div>
            `);
        }

        $('#tickets-container').append(`
            <div id="subtask-tickets-container">
                <div id="subtask-tickets-creator">
                    <input class="form-control" id="new-sub-task-name" type="text" placeholder="What needs to be done in this sub task?">
                    <br>
                    <button type="button" class="btn btn-primary pull-right" onclick="createSubTask();">Create</button>
                    <button type="button" class="btn btn-light pull-right" onclick="cancelSubTask();" style="margin-right: 15px;">Cancel</button>
                </div>
            </div>`
        );
    }

    function cancelSubTask()
    {
        $('#subtask-tickets-creator').remove();
    }

    function createSubTask()
    {
        var subTaskName = $('#new-sub-task-name').val();
        if (subTaskName && !subTaskName.trim() || subTaskName.length==0)
            return;

        cancelSubTask();

        $.ajax(
            {
                data:
                {
                    'new-sub-ticket': subTaskName,
                },
                dataType: 'json',
                success: function(response)
                {
                    console.log(response);
                    if (response.statusCode == 200)
                    {
                        $('#subtask-tickets-container').append(
                            `
                            <div class="card" id="subtask-ticket-container-${response.id}">
                                <div class="card-body" style="height: 10px;">
                                    <div class="row">
                                        <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
                                            <img src='/static/${response.issueType.icon}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="${response.issueType.internalKey}">
                                        </div>
                                        <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                            <a href="/jira2/ticket/${response.internalKey}">${response.internalKey}</a>
                                        </div>
                                        <div class="col" style="margin-top: -12px; margin-left: -15px;">
                                            <span>${response.summary}</span>
                                        </div>
                                        <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                            <img class="avatar filter-by-alt" src="/static/${response.priority.icon}" data-filter-by="alt" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="${response.priority.internalKey}">
                                        </div>
                                        <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                            <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                        );
                    }
                }
            }
        );

        
    }
</script>
{% endblock %}