{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
.card-header .title {
	font-size: 17px;
}

.card-header .accicon {
	float: right;
	font-size: 20px;
	wiph: 1.2em;
}

.card-header {
	cursor: pointer;
	border-bottom: none;
}

.card-header:not(.collapsed) .rotate-icon { transform: rotate(180deg);}

.avatars {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.avatars>li {
    display: inline-block;
}

.avatars>li+li {
    margin-left: -0.75rem;
}

.avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    background: #f8f9fa;
    color: #fff;
}

</style>
<div class="container-fluid" style="margin: auto;overflow-x: hipen; max-width: 1500px;color: black;">
    <br>
    <div class="row gutters-sm">
        <div class="col-12 col-md-12 col-lg-8 col-xl-8">
            <div class="card">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Projects</a></li>
                        <li class="breadcrumb-item"><a href="#">{{ticket.project}}</a></li>
                        {% if ticket.issueType.code == "EPIC" %}
                        <li class="breadcrumb-item">
                            <img src='{% static ticket.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{ticket.issueType.code}}">
                            &nbsp;
                            <a href="#">{{ticket.internalKey}}</a>
                        </li>
                        {% else %}
                            {% if ticket.epic %}
                            <li class="breadcrumb-item"><a href="#">{{ticket.epic.internalKey}}</a></li>
                            {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">
                            <img src='{% static ticket.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{ticket.issueType.code}}">
                            &nbsp;
                            <a href="#">{{ticket.internalKey}}</a>
                        </li>
                        {% endif %}
                    </ol>
                </nav>
                <input class="form-control" type="text" id="ticket-summary" value="{{ticket.summary}}" style="border: 0; font-size:22px;"/>

                {% if not ticket.issueType.code == "EPIC" %}
                    <div class="card-body tab-content">
                        <button type="button" class="btn btn-light" onclick="initaliseSubTask();">Create subtask</button>
                    </div>
                {% endif %}

                <div class="card-body tab-content">
                    <p class="font-weight-bold">Description</p>
                    <div class="form-group">
                        <textarea class="form-control" name="ticket-description" rows="5" style="border: 0;" onfocusout="updateTicketDescription();">{{ticket.description}}</textarea>
                    </div>
                    <!--  -->
                    <p class="font-weight-bold">User Impact</p>
                    <div class="form-group">
                        <textarea class="form-control" name="ticket-user-impact" rows="3" style="border: 0;" onfocusout="updateUserImpact();">{{ticket.userImpact}}</textarea>
                    </div>
                    <!--  -->
                    <p class="font-weight-bold">Release Impact</p>
                    <div class="form-group">
                        <textarea class="form-control" name="ticket-release-impact" rows="3" style="border: 0;" onfocusout="updateReleaseImpact();">{{ticket.releaseImpact}}</textarea>
                    </div>
                    <!--  -->
                    <p class="font-weight-bold">Automatic Testing Reason</p>
                    <div class="form-group">
                        <textarea class="form-control" name="ticket-automatic-testing-reason" rows="3" style="border: 0;" onfocusout="updateAutomaticTestingReason();">{{ticket.automatedTestingReason}}</textarea>
                    </div>

                    <!--  -->

                    <div id="epic-subtask-tickets-container">
                        {% if ticket.issueType.code == "EPIC" %}
                            <div class="row">
                                <div class="col">
                                    <p class="font-weight-bold">Issues in the epic</p>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-plus-square-o" style="font-size:24px;cursor: pointer;"></i>
                                </div>
                            </div>
                            <div id="epic-tickets-container">
                                {% for et in ticket.epicTickets.all %}
                                    <div class="card" id="epic-ticket-container-{{et.id}}">
                                        <div class="card-body" style="height: 10px;">
                                            <div class="row">
                                                <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
                                                    <img src='{% static et.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{et.issueType.internalKey}}">
                                                </div>
                                                <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                                    <a href="#">{{et.internalKey}}</a>
                                                </div>
                                                <div class="col" style="margin-top: -12px; margin-left: -15px;">
                                                    <span>{{et.summary}}</span>
                                                </div>
                                                <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                                    <span class="{{et.priority.icon}}">{{et.priority}}</span>
                                                </div>
                                                <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                                    {% if et.assignee %}
                                                    <img class="avatar filter-by-alt" src="{{ et.assignee.developerProfile.profilePicture.url }}" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="{{et.assignee.get_full_name}}">
                                                    {% else %}
                                                    <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if ticket.subTask.count > 0 %}

                                <div class="row">
                                    <div class="col">
                                        <p class="font-weight-bold">Subtasks</p>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-plus-square-o" style="font-size:24px;cursor: pointer;"></i>
                                    </div>
                                </div>
                                <div id="subtask-tickets-container">
                                    {% for st in ticket.subTask.all %}
                                        <div class="card" id="subtask-ticket-container-{{st.id}}">
                                            <div class="card-body" style="height: 10px;">
                                                <div class="row">
                                                    <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
                                                        <img src='{% static st.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{st.issueType.internalKey}}">
                                                    </div>
                                                    <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                                        <a href="#">{{st.internalKey}}</a>
                                                    </div>
                                                    <div class="col" style="margin-top: -12px; margin-left: -15px;">
                                                        <span>{{st.summary}}</span>
                                                    </div>
                                                    <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                                        <span class="{{st.priority.icon}}">{{st.priority}}</span>
                                                    </div>
                                                    <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                                        {% if st.assignee %}
                                                        <img class="avatar filter-by-alt" src="{{ st.assignee.developerProfile.profilePicture.url }}" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="{{st.assignee.get_full_name}}">
                                                        {% else %}
                                                        <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                                        {% endif %}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <br>

                    <!--  -->
                    <p class="font-weight-bold">Activity</p>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 col-xl-4 d-none d-lg-block d-xl-none d-none d-xl-block">
            <div id="ticketDetails">
                <div class="card" style="color: black;">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">     
                        <span class="title">Details </span>
                        <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#ticketDetails">
                        <div class="card-body">
                        	<dl class="row">
							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Assignee</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Reporter</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Components</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Fix Versions</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Labels</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Story Points</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Man days</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Sprint</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Project Requirement</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Scrum Team</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Automated Testing</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Priority</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Epic Name</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Epic Status</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>
							</dl>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript">
    $( "#ticket-summary" ).focusout(function() {
        var ticketSummary = $(this).val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-summary': ticketSummary,
                },
                dataType: 'json',
            }
        );
    });

    function updateTicketDescription()
    {
        var ticketDescription = $('[name="ticket-description"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-description': ticketDescription,
                },
                dataType: 'json',
            }
        );
    }

    function updateUserImpact()
    {
        var ticketUserImpact = $('[name="ticket-user-impact"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-user-impact': ticketUserImpact,
                },
                dataType: 'json',
            }
        );
    }

    function updateReleaseImpact()
    {
        var ticketReleaseImpact = $('[name="ticket-release-impact"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-release-impact': ticketReleaseImpact,
                },
                dataType: 'json',
            }
        );
    }

    function updateAutomaticTestingReason()
    {
        var ticketAutomaticTestingReason = $('[name="ticket-automatic-testing-reason"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-automatic-testing-reason': ticketAutomaticTestingReason,
                },
                dataType: 'json',
            }
        );
    }

    function initaliseTicket()
    {
        if($('#new-ticket-name').length)
            return;

        $('#epic-tickets-container').append(`
            <input class="form-control" id="new-ticket-name" type="text" placeholder="What needs to be done?">
            <br>
            <button type="button" class="btn btn-danger pull-right">Cancel</button>
            <button type="button" class="btn btn-light pull-right" onclick="createTicket();">Create</button>
            `
        );
    }

    function initaliseSubTask()
    {
        if($('#new-sub-task-name').length)
            return;

        if ($('#epic-subtask-tickets-container').children().length == 0 )
        {
            $('#epic-subtask-tickets-container').append(`
                <div class="row">
                    <div class="col">
                        <p class="font-weight-bold">Subtasks</p>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-plus-square-o" style="font-size:24px;cursor: pointer;"></i>
                    </div>
                </div>
            `);
        }

        $('#epic-subtask-tickets-container').append(`
            <div id="subtask-tickets-container">
                <div id="subtask-tickets-creator">
                    <input class="form-control" id="new-sub-task-name" type="text" placeholder="What needs to be done in this sub task?">
                    <br>
                    <button type="button" class="btn btn-danger pull-right" onclick="cancelSubTask();">Cancel</button>
                    <button type="button" class="btn btn-light pull-right" onclick="createSubTask();">Create</button>
                </div>
            </div>`
        );
    }

    function cancelSubTask()
    {
        $('#subtask-tickets-creator').remove();
    }

    function createSubTask()
    {
        var subTaskName = $('#new-sub-task-name').val();
        if (subTaskName && !subTaskName.trim() || subTaskName.length==0)
            return;

        cancelSubTask();

        $.ajax(
            {
                data:
                {
                    'new-sub-ticket': subTaskName,
                },
                dataType: 'json',
                success: function(response)
                {
                    console.log(response);
                    if (response.statusCode == 200)
                    {
                        $('#subtask-tickets-container').append(
                            `
                            <div class="card" id="subtask-ticket-container-${response.id}">
                                <div class="card-body" style="height: 10px;">
                                    <div class="row">
                                        <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
                                            <img src='{% static "img/subtask.jpg" %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="${response.issueType.internalKey}">
                                        </div>
                                        <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                            <a href="#">${response.internalKey}</a>
                                        </div>
                                        <div class="col" style="margin-top: -12px; margin-left: -15px;">
                                            <span>${response.summary}</span>
                                        </div>
                                        <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
                                            <span class="${response.priority.icon}">${response.priority.internalKey}</span>
                                        </div>
                                        <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
                                            <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                        );
                    }
                }
            }
        );

        
    }

    function createTicket()
    {
        var ticketName = $('#new-ticket-name').val();

        if (ticketName && !ticketName.trim() || ticketName.length==0)
            return;

//         var isEpic = '{{ticket.issueType.code}}'.toUpperCase() === 'Epic'.toUpperCase();
// 
//         if(isEpic)
//             return;

        $.ajax(
            {
                data:
                {
                    'new-ticket': ticketName,
                },
                dataType: 'json',
            }
        );
        

        // $('#epic-tickets-container').append(`
        //     <div class="card" id="epic-ticket-container-{{et.id}}">
        //         <div class="card-body" style="height: 10px;">
        //             <div class="row">
        //                 <div class="col-auto" style="margin-top: -13px; margin-left: -10px;">
        //                     <img src='{% static et.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{et.issueType.internalKey}}">
        //                 </div>
        //                 <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
        //                     <a href="#">{{et.internalKey}}</a>
        //                 </div>
        //                 <div class="col" style="margin-top: -12px; margin-left: -15px;">
        //                     <span>{{et.summary}}</span>
        //                 </div>
        //                 <div class="col-auto" style="margin-top: -12px; margin-left: -15px;">
        //                     <span class="{{et.priority.icon}}">{{et.priority}}</span>
        //                 </div>
        //                 <div class="col-auto" style="margin-top: -18px; margin-left: -15px;">
        //                     {% if et.assignee %}
        //                     <img class="avatar filter-by-alt" src="{{ et.assignee.developerProfile.profilePicture.url }}" data-filter-by="alt" data-toggle="tooltip" data-placement="top" title="{{et.assignee.get_full_name}}">
        //                     {% else %}
        //                     <img class="avatar filter-by-alt" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" data-filter-by="alt">
        //                     {% endif %}
        //                 </div>
        //                 
        //             </div>
        //         </div>
        //     </div>`
        // );
    }
</script>
{% endblock %}