{% extends "accounts/account_base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
.card-header .title {
	font-size: 17px;
}

.card-header .accicon {
	float: right;
	font-size: 20px;
	wiph: 1.2em;
}

.card-header {
	cursor: pointer;
	border-bottom: none;
}

.card-header:not(.collapsed) .rotate-icon { transform: rotate(180deg);}

</style>
<div class="container-fluid" style="margin: auto;overflow-x: hipen; max-width: 1500px;color: black;">
    <br>
    <div class="row gutters-sm">
        <div class="col-8">
            <div class="card">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Projects</a></li>
                        <li class="breadcrumb-item"><a href="#">{{ticket.project}}</a></li>
                        {% if ticket.issueType.code == "EPIC" %}
                        <li class="breadcrumb-item">
                            <img src='{% static ticket.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{ticket.issueType.code}}">
                            &nbsp;
                            <a href="#">{{ticket.internalKey}}</a>
                        </li>
                        {% else %}
                            {% if ticket.epic %}
                            <li class="breadcrumb-item"><a href="#">{{ticket.epic.internalKey}}</a></li>
                            {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">
                            <img src='{% static ticket.issueType.icon %}' width="20" height="20" data-toggle="tooltip" data-placement="top" title="{{ticket.issueType.code}}">
                            &nbsp;
                            <a href="#">{{ticket.internalKey}}</a>
                        </li>
                        {% endif %}
                    </ol>
                </nav>
                <input class="form-control" type="text" id="ticket-summary" value="{{ticket.summary}}" style="border: 0; font-size:22px;"/>

                <div class="card-body tab-content">
                    <p class="font-weight-bold">Description</p>
                    <div class="form-group">
                        <textarea class="form-control" name="ticket-description" rows="5" style="border: 0;" onfocusout="updateTicketDescription();">{{ticket.description}}</textarea>
                    </div>
                    <!--  -->
                    <p class="font-weight-bold">User Impact</p>
                    <div class="form-group">
                        {% if ticket.userImpact %}
                        <textarea class="form-control" name="ticket-user-impact" rows="3" style="border: 0;" onfocusout="updateUserImpact();">{{ticket.userImpact}}</textarea>
                        {% else %}
                        <textarea class="form-control" name="ticket-user-impact" rows="2" style="border: 0;" onfocusout="updateUserImpact();">None</textarea>
                        {% endif %}
                    </div>
                    <!--  -->
                    <p class="font-weight-bold">Release Impact</p>
                    <div class="form-group">
                        {% if ticket.releaseImpact %}
                        <textarea class="form-control" name="ticket-release-impact" rows="3" style="border: 0;" onfocusout="updateReleaseImpact();">{{ticket.releaseImpact}}</textarea>
                        {% else %}
                        <textarea class="form-control" name="ticket-release-impact" rows="2" style="border: 0;" onfocusout="updateReleaseImpact();">None</textarea>
                        {% endif %}
                    </div>
                    <!--  -->
                    <p class="font-weight-bold">Automatic Testing Reason</p>
                    <div class="form-group">
                        {% if ticket.automatedTestingReason %}
                        <textarea class="form-control" name="ticket-automatic-testing-reason" rows="3" style="border: 0;" onfocusout="updateAutomaticTestingReason();">{{ticket.automatedTestingReason}}</textarea>
                        {% else %}
                        <textarea class="form-control" name="ticket-automatic-testing-reason" rows="2" style="border: 0;" onfocusout="updateAutomaticTestingReason();">None</textarea>
                        {% endif %}
                    </div>

                    <!--  -->
                    <p class="font-weight-bold">Activity</p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="ticketDetails">
                <div class="card" style="color: black;">
                    <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">     
                        <span class="title">Details </span>
                        <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#ticketDetails">
                        <div class="card-body">
                        	<dl class="row">
							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Assignee</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Reporter</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Components</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Fix Versions</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Labels</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Story Points</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Man days</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Sprint</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Project Requirement</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Scrum Team</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Automated Testing</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Priority</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Epic Name</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>

							    <p class="col-lg-4 col-md-6 col-sm-6"><small>Epic Status</small></p>
							    <p class="col-lg-8 col-md-6 col-sm-6">#</p>
							</dl>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<script type="text/javascript">
    $( "#ticket-summary" ).focusout(function() {
        var ticketSummary = $(this).val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-summary': ticketSummary,
                },
                dataType: 'json',
            }
        );
    });

    function updateTicketDescription()
    {
        var ticketDescription = $('[name="ticket-description"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-description': ticketDescription,
                },
                dataType: 'json',
            }
        );
    }

    function updateUserImpact()
    {
        var ticketUserImpact = $('[name="ticket-user-impact"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-user-impact': ticketUserImpact,
                },
                dataType: 'json',
            }
        );
    }

    function updateReleaseImpact()
    {
        var ticketReleaseImpact = $('[name="ticket-release-impact"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-release-impact': ticketReleaseImpact,
                },
                dataType: 'json',
            }
        );
    }

    function updateAutomaticTestingReason()
    {
        var ticketAutomaticTestingReason = $('[name="ticket-automatic-testing-reason"]').val();
        $.ajax(
            {
                data:
                {
                    'update-ticket-automatic-testing-reason': ticketAutomaticTestingReason,
                },
                dataType: 'json',
            }
        );
    }
</script>
{% endblock %}